@model MonPDReborn.Models.Pencarian.PencarianOP.Detail

<div class="table-responsive">


    @(Html.DevExtreme().DataGrid<MonPDReborn.Models.Pencarian.PencarianOP.RealisasiBulanan>()
        .ID("gridRealisasiOP")
        .DataSource(Model.DataRealisasiBulananList)
        .KeyExpr("NOP")
        .ShowBorders(true)
        .ShowColumnHeaders(true)
        .ShowColumnLines(true)
        .ShowRowLines(true)
        .AllowColumnResizing(true)
        .ColumnAutoWidth(true)
        .SearchPanel(s => s.Visible(true).HighlightCaseSensitive(false))
        .FilterRow(f => f.Visible(true))
        .HeaderFilter(h => h.Visible(true))
        .Sorting(s => s.Mode(GridSortingMode.Multiple))
        .Paging(p => p.PageSize(10))
        .Pager(p => p
        .ShowPageSizeSelector(true)
        .AllowedPageSizes(new[] { 10, 20, 50 })
        .ShowInfo(true)
        )
        .Columns(columns =>
        {
            columns.AddFor(m => m.NOP)
            .Visible(false); // hidden karena sudah diketahui dari master

            columns.AddFor(m => m.Bulan)
            .Caption("Bulan")
            .Width(80);

            columns.AddFor(m => m.Nominal)
            .Caption("Nominal")
            .Format("#,##0")
            .Alignment(HorizontalAlignment.Right);
        })
        )

</div>