@model MonPDReborn.Models.Pencarian.PencarianOP.Index

@{
    ViewData["Title"] = "Pencarian OP";
    Layout = "_Layout";
}

<div class="row mb-3">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <a class="btn btn-title-box w-100">
                <h4 class="mt-sm-2">PENCARIAN OP</h4>
            </a>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <form id="formPencarian" method="get" asp-action="Show">
            <div class="row mb-3 align-items-center">
                <label class="col-lg-3 col-form-label">Pencarian</label>
                <div class="col-lg-9">
                    @(Html.DevExtreme().TextBoxFor(x => x.Keyword)
                        .Placeholder("Masukkan Objek Pajak")
                        .Width("100%")
                        )
                </div>
            </div>
        </form>
    </div>

    <div class="card-footer text-end">
        <button type="button" class="btn btn-sm btn-primary btn-label waves-effect waves-light rounded-pill" onclick="fnShow()">
            <i class="ri-search-eye-line label-icon align-middle rounded-pill fs-16 me-2"></i> Cari
        </button>
    </div>
</div>

<div class="text-center">
    <div id="loading2-Show" class="spinner-border text-primary" style="display: none">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>

<div id="card-Show" class="card" style="display:none">
    <div class="card-header d-flex">
        <div class="flex-grow-1">
            <h4 class="card-title">Hasil Pencarian Objek Pajak</h4>
        </div>
        <div class="flex-shrink-0"></div>
    </div>
    <div class="card-body">
        <div id="Show"></div>
    </div>
</div>

@section Scripts {
    <script>
        function fnShow() {
            var formData = $("#formPencarian").serialize();

            $.ajax({
                url: '@Url.Action("Show")',
                type: 'GET',
                data: formData,
                beforeSend: function () {
                    $("#card-Show").hide();
                    $("#loading2-Show").show();
                },
                success: function (response) {
                    if(response.Status === undefined){
                        $("#card-Show").show();
                        $("#Show").html(response);
                    } else {
                        swal.fire({
                            icon: 'warning',
                            title: '<b style="color:orange">Peringatan</b>',
                            text: response.Message
                        })
                    }
                },
                error: function (xhr, status, error) {
                    $('#Show').html('<p class="text-danger">Terjadi kesalahan saat memuat data.</p>');
                },
                complete: function () {
                    $("#loading2-Show").hide();
                }
            });
        }
        function onDetailClick(e) {
            fnDetail(e.row.data.NOP);
        }

        function fnDetail(nop) {
            $.ajax({
                url: '@Url.Action("Detail")',
                type: 'GET',
                data: { nop: nop },
                beforeSend: function () {
                    $("#loader").show();
                    $("#staticBackdropLargeScrollable").modal('hide');
                },
                success: function (response) {
                    $("#loader").hide();
                    if (response.Status === undefined) {
                        $("#staticBackdropLargeScrollable .modal-title").html("Detail OP");
                        $("#staticBackdropLargeScrollable .modal-body").html(data);
                        $("#staticBackdropLargeScrollable").modal('show');
                    } else {
                        Swal.fire({
                            icon: 'warning',
                            title: '<b style="color:orange">Peringatan</b>',
                            text: response.Message
                        });
                    }
                },
                error: function (xhr, status, error) {
                    $("#staticBackdropLargeScrollable .modal-title").html("Detail OP");
                    $("#staticBackdropLargeScrollable .modal-body").html('<p class="text-danger">Terjadi kesalahan saat memuat data.</p>');
                    $("#staticBackdropLargeScrollable").modal('show');
                },
                complete: function () {
                    $("#loader").hide();
                }
            });
        }
    </script>
}