html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
/* Membuat header DevExtreme DataGrid rata tengah vertikal & horizontal */
.dx-datagrid-headers .dx-datagrid-text-content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
}