@using MonPDReborn.Models.Aktivitas
@model PemeriksaanPajakVM.Detail

<div class="table-responsive">
    @(Html.DevExtreme().DataGrid<PemeriksaanPajakVM.DataDetailPemeriksaan>()
    .ID("detailGrid_" + Guid.NewGuid()) // Untuk menghindari duplikat ID
    .DataSource(Model.DataDetailList)
    .ShowBorders(true)
    .ShowColumnLines(true)
    .ColumnAutoWidth(true)
    .Columns(columns => {
        columns.Add().DataField("JenisPajak").Caption("Jenis Pajak");
        columns.Add().DataField("NOP");
        columns.Add().DataField("WajibPajak").Caption("Wajib Pajak");
        columns.Add().DataField("Alamat");
        columns.Add().DataField("UPTB");
        columns.Add().DataField("NoSP").Caption("No SP");
        columns.Add().DataField("TglST").Caption("Tgl ST").DataType(GridColumnDataType.Date).Format("dd/MM/yyyy");
        columns.Add().DataField("Tahun");
        columns.Add().DataField("JumlahKB").Caption("Jumlah KB").Format(Format.Currency);
        columns.Add().DataField("Keterangan");
        columns.Add().DataField("LHP");
        columns.Add().DataField("TglLHP").Caption("Tgl LHP").DataType(GridColumnDataType.Date).Format("dd/MM/yyyy");
        columns.Add().DataField("TglBayar").Caption("Tgl Bayar").DataType(GridColumnDataType.Date).Format("dd/MM/yyyy");
        columns.Add().DataField("Tim");
    })
)
</div>