@using MonPDReborn.Models.AktivitasOP
@model PemeriksaanPajakVM.Detail

@if (Model.DataDetailList?.Any() == true)
{
    <div class="d-flex justify-content-between align-items-center mb-3">
        <div class="d-flex align-items-center">
            <i class=" mdi mdi-file-document-outline" style="font-size: 20px; line-height: 1;"></i>
            <h6 class="mb-0 fs-16 fw-bold">
                @Model.DataDetailList.First().JenisPajak
            </h6>
        </div>
    </div>
   
}
<div class="table-responsive">
    @(Html.DevExtreme().DataGrid<PemeriksaanPajakVM.DataDetailPemeriksaan>()
    .ID("detailGrid_" + Guid.NewGuid()) // Untuk menghindari duplikat ID
    .DataSource(Model.DataDetailList)
    .ShowBorders(true)
    .ShowColumnHeaders(true)
    .ShowColumnLines(true)
    .ShowRowLines(true)
    .AllowColumnResizing(true)
    .RowAlternationEnabled(true)
    .ColumnAutoWidth(true)
    .SearchPanel(s => s.Visible(true).HighlightCaseSensitive(false))
    .FilterRow(f => f.Visible(true))
    .HeaderFilter(h => h.Visible(true))
    .Sorting(s => s.Mode(GridSortingMode.Multiple))
    .Paging(p => p.PageSize(10))
    .Pager(p => p
    .ShowPageSizeSelector(true)
    .AllowedPageSizes(new[] { 10, 20, 50 })
    .ShowInfo(true)
    )
    .SearchPanel(sp => sp
    .Visible(true)
    .Width(240)
    .Placeholder("Cari...")
    )
    .Export(e => e.Enabled(true).AllowExportSelectedData(false).Formats(new[] { "xlsx", "pdf" }))
    .OnExporting("exportGrid")
    .Columns(columns => {
        columns.AddFor(m => m.JenisPajak).Caption("Jenis Pajak").Fixed(true);
        columns.AddFor(m => m.FormattedNOP).Caption("NOP").Fixed(true);
        columns.AddFor(m => m.NamaOP).Caption("Nama OP");
        columns.AddFor(m => m.Alamat).Caption("Alamat");
        columns.AddFor(m => m.UPTB).Caption("Wilayah");
        columns.AddFor(m => m.NoSP).Caption("No SP");
        columns.AddFor(m => m.TglST).Caption("Tgl ST").DataType(GridColumnDataType.Date).Format("dd/MM/yyyy");
        columns.AddFor(m => m.Tahun).Caption("Tahun");
        columns.AddFor(m => m.JumlahKB).Caption("Jumlah KB").Format(f => f.Type(Format.Currency).Precision(0).Currency("IDR")).Alignment(HorizontalAlignment.Right);
        columns.AddFor(m => m.Keterangan).Caption("Keterangan");
        columns.AddFor(m => m.LHP).Caption("LHP");
        columns.AddFor(m => m.TglLHPDisplay).Caption("Tgl LHP");
        columns.AddFor(m => m.TglBayarDisplay).Caption("Tgl Bayar");
        columns.AddFor(m => m.Tim).Caption("Tim");
    })
)
</div>