@using MonPDReborn.Models.AktivitasOP
@model PemeriksaanPajakVM.Detail

<div class="table-responsive">
    @(Html.DevExtreme().DataGrid<PemeriksaanPajakVM.DataDetailPemeriksaan>()
    .ID("detailGrid_" + Guid.NewGuid()) // Untuk menghindari duplikat ID
    .DataSource(Model.DataDetailList)
    .ShowBorders(true)
    .ShowColumnLines(true)
    .FilterRow(f => f
        .Visible(true)       // Tampilkan filter row
        .ApplyFilter(GridApplyFilterMode.Auto) // Filter otomatis saat ketik
        )
    .Paging(p => p.PageSize(2))
    .Pager(p => p.Visible(true))
    .ColumnAutoWidth(true)
    .Columns(columns => {
        columns.Add().DataField("JenisPajak").Caption("Jenis Pajak").Alignment(HorizontalAlignment.Center).Fixed(true);
        columns.Add().DataField("NOP").Alignment(HorizontalAlignment.Center).Fixed(true);
        columns.Add().DataField("WajibPajak").Caption("Wajib Pajak").Alignment(HorizontalAlignment.Center);
        columns.Add().DataField("Alamat").Alignment(HorizontalAlignment.Center);
        columns.Add().DataField("UPTB").Alignment(HorizontalAlignment.Center);
        columns.Add().DataField("NoSP").Caption("No SP").Alignment(HorizontalAlignment.Center);
        columns.Add().DataField("TglST").Caption("Tgl ST").Alignment(HorizontalAlignment.Center).DataType(GridColumnDataType.Date).Format("dd/MM/yyyy");
        columns.Add().DataField("Tahun").Alignment(HorizontalAlignment.Center);
            columns.Add().DataField("JumlahKB").Caption("Jumlah KB").Alignment(HorizontalAlignment.Center).Format(f => f.Type(Format.Currency).Precision(0).Currency("IDR")).Alignment(HorizontalAlignment.Right);
        columns.Add().DataField("Keterangan").Alignment(HorizontalAlignment.Center);
        columns.Add().DataField("LHP").Alignment(HorizontalAlignment.Center);
        columns.Add().DataField("TglLHP").Caption("Tgl LHP").Alignment(HorizontalAlignment.Center).DataType(GridColumnDataType.Date).Format("dd/MM/yyyy");
        columns.Add().DataField("TglBayar").Caption("Tgl Bayar").Alignment(HorizontalAlignment.Center).DataType(GridColumnDataType.Date).Format("dd/MM/yyyy");
        columns.Add().DataField("Tim").Alignment(HorizontalAlignment.Center);
    })
)
</div>