@using MonPDReborn.Models.AktivitasOP
@model PemeriksaanPajakVM.Detail

<div class="table-responsive">
    @(Html.DevExtreme().DataGrid<PemeriksaanPajakVM.DataDetailPemeriksaan>()
    .ID("detailGrid_" + Guid.NewGuid()) // Untuk menghindari duplikat ID
    .DataSource(Model.DataDetailList)
    .ShowBorders(true)
    .ShowColumnHeaders(true)
    .ShowColumnLines(true)
    .ShowRowLines(true)
    .AllowColumnResizing(true)
    .RowAlternationEnabled(true)
    .ColumnAutoWidth(true)
    .SearchPanel(s => s.Visible(true).HighlightCaseSensitive(false))
    .FilterRow(f => f.Visible(true))
    .HeaderFilter(h => h.Visible(true))
    .Sorting(s => s.Mode(GridSortingMode.Multiple))
    .Paging(p => p.PageSize(10))
    .Pager(p => p
    .ShowPageSizeSelector(true)
    .AllowedPageSizes(new[] { 10, 20, 50 })
    .ShowInfo(true)
    )
    .SearchPanel(sp => sp
    .Visible(true)
    .Width(240)
    .Placeholder("Cari...")
    )
    .Columns(columns => {
        columns.Add().DataField("JenisPajak").Caption("Jenis Pajak").Fixed(true);
        columns.Add().DataField("NOP").Fixed(true);
        columns.Add().DataField("WajibPajak").Caption("Wajib Pajak");
        columns.Add().DataField("Alamat");
        columns.Add().DataField("UPTB");
        columns.Add().DataField("NoSP").Caption("No SP");
        columns.Add().DataField("TglST").Caption("Tgl ST").DataType(GridColumnDataType.Date).Format("dd/MM/yyyy");
        columns.Add().DataField("Tahun");
        columns.Add().DataField("JumlahKB").Caption("Jumlah KB").Format(f => f.Type(Format.Currency).Precision(0).Currency("IDR")).Alignment(HorizontalAlignment.Right);
        columns.Add().DataField("Keterangan");
        columns.Add().DataField("LHP");
        columns.Add().DataField("TglLHP").Caption("Tgl LHP").DataType(GridColumnDataType.Date).Format("dd/MM/yyyy");
        columns.Add().DataField("TglBayar").Caption("Tgl Bayar").DataType(GridColumnDataType.Date).Format("dd/MM/yyyy");
        columns.Add().DataField("Tim");
    })
)
</div>