*{
	
	padding: 0;
	margin: 0;
}
.zoomable-image {
	transition: transform 0.3s ease-in-out;
}

.zoomable-image:hover {
	transform: scale(1.2);
}
.zoomable-logo {
	transition: transform 0.3s ease-in-out;
}

.zoomable-logo:hover {
	transform: scale(1.2);
}

html {
	height: 100%;
}

body{
	font-family: 'Poppins', sans-serif;
	/* overflow: hidden; */
	background: rgba(0, 0, 0, 0.3);
	background: url('img/bg6.jpg');
	background-size: cover;
	background-repeat: initial;
	box-sizing: border-box;
	display: flex;
}

#tsparticlesa {
	position: inherit;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
}

.tsparticles-canvas-el{
	position: absolute;
	z-index: -1;
}

.wave{
	position: fixed;
	bottom: 0;
	left: 0;
	height: 100%;
	z-index: -1;
}

.container{

    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap :7rem;
    padding: 0 2rem;
}

.img{
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.login-content{
	margin-top: 26%;
	left: 60%;
	height: max-content;
	padding: 40px;
	background: rgba(0, 0, 0, 0.7);
	box-sizing: border-box;
	box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
	text-align: center;
	border-radius: 10px;
	align-items: center;
	position: absolute;
	transform: translate(-30%, -50%);
	width: fit-content;
	max-width: max-content;
	overflow: hidden;
}
.login-content form h4 {
	position: absolute;
	display: block;
  }

.login-content form h4{
	font-size: 24pt;
	left: -100%;
	width: 100%;
	height: 2px;
	background: linear-gradient(90deg, transparent, #2d81ff);
	animation: h2-anim 3s linear infinite;
}
  
@keyframes h2-anim {
0% {
	left: -100%;
}
50%,
100% {
	left: 100%;
}
}

/* Add media query for mobile view */
@media (max-width: 768px) {
	body, html {
		overflow: hidden; /* Hide vertical scroll on both body and html */
	  }
	.container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh; /* Set full viewport height */
	}
	.login-content form h2{
		font-size: 24pt;
	}
	.login-content {
	position: absolute;
	top: 40%; /* Adjust this value to vertically center */
	left: 50%;
	transform: translate(-50%, -50%);
	width: fit-content; /* Ensure full width */
	max-width: max-content; /* Adjust as needed */
	overflow: hidden; /* Add vertical scroll for the content */
	}
	.content-wrapper {
		padding: 20px; /* Adjust as needed for spacing */
		box-sizing: border-box;
	  }

	.login-content form h4 {
		position: absolute;
		display: block;
	  }

	.login-content form h4{
		font-size: 24pt;
		width: 100%;
		height: 2px;
		background: linear-gradient(90deg, transparent, #2d81ff);
		animation: h2-anim 3s linear infinite;
	}
	  
	@keyframes h2-anim {
	0% {
		left: -100%;
	}
	50%,
	100% {
		left: 100%;
	}
	}

  }

.img img{
	width: 500px;
}

form{
	width: 360px;
}

.login-content img{
    height: 100px;
}

.login-content h2{
	margin: 15px 0;
	color: #333;
	text-transform: uppercase;
	font-size: 2.9rem;
}

.login-content .input-div{
	position: relative;
    display: grid;
    grid-template-columns: 7% 93%;
    margin: 25px 0;
    padding: 5px 0;
    border-bottom: 2px solid #d9d9d9;
}

.login-content .input-div.one{
	margin-top: 0;
}

.i{
	color: #d9d9d9;
	display: flex;
	justify-content: center;
	align-items: center;
}

.i i{
	transition: .3s;
}

.input-div > div{
    position: relative;
	height: 45px;
}

.input-div > div > h5{
	position: absolute;
	left: 10px;
	top: 50%;
	transform: translateY(-50%);
	color: #FFFFFFFF;
	font-size: 18px;
	transition: .3s;
}

.input-div:before, .input-div:after{
	content: '';
	position: absolute;
	bottom: -2px;
	width: 0%;
	height: 2px;
	background-color: #2d81ff;
	transition: .4s;
}

.input-div:before{
	right: 50%;
}

.input-div:after{
	left: 50%;
}

.input-div.focus:before, .input-div.focus:after{
	width: 50%;
}

.input-div.focus > div > h5{
	top: -5px;
	font-size: 15px;
}

.input-div.focus > .i > i{
	color: #2d81ff;
}

.input-div > div > input{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border: none;
	outline: none;
	background: none;
	padding: 0.5rem 0.7rem;
	font-size: 1.2rem;
	color: #ffffff;
	font-family: 'poppins', sans-serif;
}

.input-div.pass{
	margin-bottom: 4px;
}

a{
	display: block;
	text-align: right;
	text-decoration: none;
	color: #ffffff;
	font-size: 0.9rem;
	transition: .3s;
}

a:hover{
	color: #2d81ff;
}

.btn{
	display: block;
	width: 100%;
	height: 50px;
	border-radius: 25px;
	outline: none;
	border: none;
	background-image: linear-gradient(to right, #2d81ff, #5195fa, #64a1fc);
	background-size: 200%;
	font-size: 1.2rem;
	color: #fff;
	font-family: 'Poppins', sans-serif;
	text-transform: uppercase;
	margin: 1rem 0;
	cursor: pointer;
	transition: .5s;
}
.btn:hover{
	background-position: right;
}


@media screen and (max-width: 1050px){
	.container{
		grid-gap: 5rem;
	}
}

@media screen and (max-width: 1000px){
	form{
		width: 290px;
	}

	.login-content h2{
        font-size: 2.4rem;
        /* margin: 8px 0; */
	}

	.img img{
		width: 400px;
	}
}

@media screen and (max-width: 900px){
	

	.img{
		display: none;
	}

	.wave{
		display: none;
	}

}
button {
	border-radius: 5px;
	background: black;
	line-height: inherit;
}
form button {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #ffffff;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 40px;
  letter-spacing: 4px;
}

button:hover {
  background: #2d81ff;
  color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 0 5px #2d81ff, 0 0 25px #2d81ff, 0 0 50px #2d81ff,
    0 0 100px #2d81ff;
}

button span {
  position: absolute;
  display: block;
}

button span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #2d81ff);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}

button span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #2d81ff);
  animation: btn-anim2 1s linear infinite;
  animation-delay: 0.25s;
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
}

button span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #2d81ff);
  animation: btn-anim3 1s linear infinite;
  animation-delay: 0.5s;
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,
  100% {
    right: 100%;
  }
}

button span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #2d81ff);
  animation: btn-anim4 1s linear infinite;
  animation-delay: 0.75s;
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,
  100% {
    bottom: 100%;
  }
}
