@model MonPDReborn.Models.AnalisisTren.KontrolPrediksiVM.Show

<div class="table-responsive">
    @(
            Html.DevExtreme().DataGrid<MonPDReborn.Models.AnalisisTren.KontrolPrediksiVM.KontrolPrediksi>()
            .ID("KontrolPrediksiGrid")
            .DataSource(Model.DataKontrolPrediksiList)
            .KeyExpr("JenisPajak")
            .ShowBorders(true)
            .ShowColumnHeaders(true)
            .ShowColumnLines(true)
            .ShowRowLines(true)
            .AllowColumnResizing(true)
            .RowAlternationEnabled(true)
            .ColumnAutoWidth(true)
            .SearchPanel(s => s.Visible(true).HighlightCaseSensitive(false))
            .FilterRow(f => f.Visible(true))
            .HeaderFilter(h => h.Visible(true))
            .Sorting(s => s.Mode(GridSortingMode.Multiple))
            .Paging(p => p.PageSize(10))
            .Pager(p => p
            .ShowPageSizeSelector(true)
            .AllowedPageSizes(new[] { 10, 20, 50 })
            .ShowInfo(true)
            )
            .Columns(columns =>
            {

                columns.AddFor(m => m.JenisPajak)
                    .Caption("Jenis Pajak");

                columns.AddFor(m => m.Target)
                   .Caption("Target").Format("#,##0");

                columns.AddFor(m => m.RealisasiBulanLalu)
                    .Caption("Realisasi Sampai Bulan Lalu").Format("#,##0");

                columns.AddFor(m => m.RealisasiBulanIni)
                    .Caption("Realisasi Sampai Hari Ini").Format("#,##0");

                columns.AddFor(m => m.RealisasiHari)
                    .Caption("Realisasi Sampai Dengan Tanggal").Format("#,##0");

                columns.AddFor(m => m.Jumlah)
            .Caption("Jumlah").Format("#,##0");

                columns.Add()
                    .Caption("%")
                    .CellTemplate(@<text>
                <%
                var val = data.Persentase;
                var color = val >= 90 ? "bg-success" : val >= 70 ? "bg-warning" : "bg-danger";
                %>
                <div class="d-flex align-items-center w-100">
                    <div class="me-2 fw-semibold"><%= val %>%</div>
                    <div class="progress w-100" style="height:6px;">
                        <div class="progress-bar <%= color %>" style="width:<%= val %>%"></div>
                    </div>
                </div>
            </text>);

            })
            .Summary(s => {
                s.TotalItems(items => {
                    items.AddFor(m => m.JenisPajak)
                        .SummaryType(SummaryType.Sum)
                        .DisplayFormat("Total:");

                    items.AddFor(m => m.Target)
                        .SummaryType(SummaryType.Sum)
                        .ValueFormat("#,##0")
                        .DisplayFormat("{0}");

                    items.AddFor(m => m.RealisasiBulanLalu)
                        .SummaryType(SummaryType.Sum)
                        .ValueFormat("#,##0")
                        .DisplayFormat("{0}");

                    items.AddFor(m => m.RealisasiBulanIni)
                        .SummaryType(SummaryType.Sum)
                        .ValueFormat("#,##0")
                        .DisplayFormat("{0}");

                    items.AddFor(m => m.RealisasiHari)
                        .SummaryType(SummaryType.Sum)
                        .ValueFormat("#,##0")
                        .DisplayFormat("{0}");

                    items.AddFor(m => m.Jumlah)
                        .SummaryType(SummaryType.Sum)
                        .ValueFormat("#,##0")
                        .DisplayFormat("{0}");

                   
                });
            })
        )
</div>