@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header d-flex">
                <div class="flex-grow-1">
                    <h4 class="card-title fs-16 mb-0">
                        Pendataan Pajak
                    </h4>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header d-flex">
                <div class="flex-grow-1">
                    <h4 class="card-title fs-16 mb-0">
                        Rekap Pengedokan Pajak
                    </h4>
                </div>
            </div>
            <div class="card-body">
                @{
                    Html.DevExtreme().DataGrid()
                        .ID("rekapPengedokanGrid")
                        .ShowBorders(true)
                        .RowAlternationEnabled(true)
                        .ColumnAutoWidth(true)
                        .ShowRowLines(true)
                        .Paging(p => p.PageSize(10))
                        .DataSource(new object[]{}) // atau kosongkan dengan new object[] { }
                        .KeyExpr("IdJenisPajak")
                        .Columns(columns =>
                        {
                            columns.Add()
                                        .DataField("IdJenisPajak")
                                        .Caption("Jenis Pajak").Alignment(HorizontalAlignment.Center)
                                        .CellTemplate(@<text>
                                        <div class="d-flex align-items-center">
                                            <img src="<%- data.Gambar %>" class="rounded-circle" width="40" height="40" />
                                            <div class="ms-3">
                                                <h6 class="fs-4 fw-semibold mb-0"><%- data.IdJenisPajak %></h6>
                                            </div>
                                        </div>
                                    </text>
                                );

                            columns.Add()
                                        .DataField("JumlahOp")
                                        .Caption("Jumlah OP").Alignment(HorizontalAlignment.Center)
                                        .CellTemplate(@<text>
                                        <a href="javascript:void(0)" class="text-bg-secondary text-white fs-6 round-40 rounded-circle me-n2 card-hover border border-2 border-white d-flex align-items-center justify-content-center">
                                            <%- data.JumlahOp %>
                                        </a>
                                    </text>
                    );

                            columns.Add()
                                        .DataField("PotensiPajak")
                                        .Caption("Potensi Hasil Pengedokan")
                                        .Format(Format.FixedPoint)
                                        .Alignment(HorizontalAlignment.Center);

                            columns.Add()
                                        .DataField("TotalRealisasi")
                                        .Caption("Total Realisasi")
                                        .Format(Format.FixedPoint)
                                        .Alignment(HorizontalAlignment.Center);
                            columns.Add()
                                        .DataField("Selisih")
                                        .Caption("Selisih")
                                        .Format(Format.FixedPoint)
                                        .Alignment(HorizontalAlignment.Center);

                            columns.Add()
                                        .Caption("Aksi").Alignment(HorizontalAlignment.Center)
                                        .Buttons(buttons =>
                                        {
                                            buttons.Add().Name("add").Icon("plus");
                                            buttons.Add().Name("edit").Icon("edit");
                                            buttons.Add().Name("delete").Icon("trash");
                                        });
                        })
                        .Render();
                }
            </div>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header d-flex">
                <div class="flex-grow-1">
                    <h4 class="card-title fs-16 mb-0">
                        Detail Pendataan Pajak
                    </h4>
                </div>
            </div>
            <div class="card-body">
                @{
                    Html.DevExtreme().DataGrid()
                        .ID("detailPengedokanGrid")
                        .ShowBorders(true)
                        .ShowRowLines(true)
                        .ColumnAutoWidth(true)
                        .WordWrapEnabled(true)
                        .FilterRow(f => f.Visible(true))
                        .HeaderFilter(h => h.Visible(true))
                        .SearchPanel(s => s.Visible(true).HighlightCaseSensitive(true))
                        .Paging(p => p.PageSize(10))
                        .Pager(pager =>
                        {
                            pager.ShowPageSizeSelector(true);
                            pager.AllowedPageSizes(new[] { 10, 20, 50 });
                            pager.ShowInfo(true);
                        })
                        .Columns(columns =>
                        {
                            columns.Add().DataField("JenisPajak").Caption("Jenis Pajak");
                            columns.Add().DataField("Nop").Caption("NOP");
                            columns.Add().DataField("NamaObjek").Caption("Objek Pajak");
                            columns.Add().DataField("Alamat").Caption("Alamat");
                            columns.Add().DataField("OmzetBulan").Caption("Omzet Bulan").Format("#,##0");
                            columns.Add().DataField("PajakBulan").Caption("Pajak Bulan").Format("#,##0");
                            columns.Add().DataField("AvgRealisasi").Caption("Avg Realisasi").Format("#,##0");
                            columns.Add().DataField("Selisih").Caption("Selisih").Format("#,##0");
                        })
                        .DataSource(new object[]{}) // Pastikan Model.DetailPengedokan bukan null
                        .KeyExpr("Nop")
                        .Render();
                }
            </div>
        </div>
    </div>
</div>