@model MonPDReborn.Models.PengawasanReklame.ReklameLiarVM.Detail

<div class="container-fluid">
    <div>
        <p class="mb-0 text-muted">Bulan</p>
        <h5 class="mb-0">@Model.DataDetail.Bulan @Model.DataDetail.Tahun</h5>
    </div>
    <div class="text-end mb-3">
        <p class="mb-0 text-muted">Jumlah Reklame</p>
        <h5 class="mb-0 text-primary">@Model.DataDetail.JumlahReklame</h5>
    </div>
    @(Html.DevExtreme().DataGrid<MonPDReborn.Models.PengawasanReklame.ReklameLiarVM.DetailData>()
        .ID("reklameLiarDetailGrid")
        .DataSource(Model.DataDetail.DetailDataList)
        .KeyExpr("AlamatReklame")
        .ShowBorders(true)
        .ShowColumnLines(true)
        .Paging(p => p.PageSize(5))
        .Columns(columns =>
        {
            columns.AddFor(m => m.Nor).Alignment(HorizontalAlignment.Center);
            columns.AddFor(m => m.KelasJalan);
            columns.AddFor(m => m.NamaJalan);
            columns.AddFor(m => m.AlamatReklame);
            columns.AddFor(m => m.Jenis);
            columns.AddFor(m => m.TanggalSilang);
            columns.AddFor(m => m.TanggalBantib);
            columns.AddFor(m => m.TanggalBongkar);
            columns.AddFor(m => m.TanggalSkBongkar);
        })
        )
</div>