@model MonPDReborn.Models.MonitoringGlobal.MonitoringHarianVM.Show

<div class="table-responsive">
    @(
            Html.DevExtreme().DataGrid<MonPDReborn.Models.MonitoringGlobal.MonitoringHarianVM.MonitoringHarian>()
            .ID("KontrolPrediksiGrid")
            .DataSource(Model.DataMonitoringHarianList)
            .KeyExpr("JenisPajak")
            .ShowBorders(true)
            .RowAlternationEnabled(true)
            .ColumnAutoWidth(true)
            .Columns(columns =>
            {

                columns.AddFor(m => m.Tanggal)
                    .Caption("Tanggal");

                columns.AddFor(m => m.JenisPajak)
                    .Caption("Jenis Pajak");

                columns.AddFor(m => m.TargetHarian)
                   .Caption("Target Harian");

                columns.AddFor(m => m.Realisasi)
                    .Caption("Realisasi");

                columns.AddFor(m => m.Pencapaian)
                    .Caption("Pencapaian");

                columns.AddFor(m => m.Status)
                    .Caption("Status");

            })
        )
</div>