
<div class="table-responsive">
    @(
        Html.DevExtreme().DataGrid<MonPDReborn.Models.DataOP.PenyeliaVM.ViewModels.DetailPenyelia>()
        .DataSource(d => d.Mvc()
        .LoadAction("GetDetail")
        .Key("PajakID")
        .LoadParams(new { tahun = ViewData["tahun"], bulan = ViewData["bulan"], nip = ViewData["Nip"] })
        )
        .ShowBorders(true)
        .ShowColumnLines(true)
        .RowAlternationEnabled(true)
        .ShowRowLines(true)
        .ShowColumnHeaders(true)
        .ColumnAutoWidth(true)
        .Paging(p => p.PageSize(10))
        .Pager(p => p
        .ShowPageSizeSelector(true)
        .AllowedPageSizes(new[] { 5, 10, 20 })
        .ShowInfo(true)
        )
        .Columns(columns =>
        {
            columns.AddFor(m => m.JenisPajak).Caption("Jenis Pajak");
            columns.AddFor(m => m.JmlNOP).Caption("Jumlah OP").Format("#,##0");
            columns.AddFor(m => m.Capaian).Caption("Capaian").Format("#,##0");
        })
        
        )
</div>