@model MonPDReborn.Models.KontrolPBB.RekapPrioritasVM.Index

@{
    ViewData["Title"] = "Rekap Prioritas";
    Layout = "_Layout";
}

<div class="row">

    <div class="col-lg-12">
        <div class="card">
            <div class="card-header d-flex bg-header-color align-items-center">
                <div class="flex-grow-1">
                    <h4 class="card-title text-dark fs-16 mb-1">
                        Rekap 100 NOP Prioritas yang Merupakan Prioritas di Tagih
                    </h4>
                </div>
            </div>
            <div class="card-body">
                <div id="loading2-Show" style="display:none;">
                    <div class="text-center">
                        <div class="spinner-border text-primary" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                </div>
                <div id="Show">
                </div>
            </div>
        </div>
    </div>

</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            fnShow();
        });

        function fnShow()
        {
            $.ajax({
              url: '@(Url.Action("Show"))',
              type: 'GET',
              beforeSend: function () {
                 $('#loading2-Show').show();
                 $('#Show').hide();
              },
              success: function (response) {
                    if (response.Status === undefined) {
                        $('#loading2-Show').hide();
                        $('#Show').show();
                        $('#Show').html(response);
                    }
                    else {
                        swal.fire({
                            icon: 'warning',
                            title: '<b style="color:orange">Peringatan</b>',
                            text: response.Message
                        })
                    }
              },
              error: function (xhr, status, error) {
                 $('#loading2-Show').hide();
                 $('#Show').hide();
                 $('#Show').html('<p class="text-danger">Terjadi kesalahan saat memuat data.</p>');
              }
           });
        }
    </script>
}