@model MonPDReborn.Models.MonitoringGlobal.MonitoringBulananVM.Index

@{
    ViewData["Title"] = "Monitoring Bulanan";
    Layout = "_Layout";
}

<div class="card">
    <div class="card-header d-flex justify-content-between align-items-center bg-header-color">
        <h4 class="card-title text-dark mb-0">LAPORAN BULANAN PAJAK DAERAH KOTA SURABAYA</h4>
    </div>
    <div class="card-body">
        @using DevExtreme.AspNet.Mvc

        <div class="row g-3 align-items-center mb-3">

            <div class="col-lg-3 col-md-4">
                @(Html.DevExtreme().SelectBoxFor(m => m.SelectedPajak)
                    .DataSource(Model.JenisPajakList)
                    .ValueExpr("Value")
                    .Value(Model.SelectedPajak.ToString())
                    .DisplayExpr("Text")
                    .ID("select-jnspajak")
                    .Placeholder("Semua Jenis Pajak...")
                    .StylingMode(EditorStylingMode.Outlined)
                    .ElementAttr("class", "")
                    )
            </div>
            <div class="col-lg-3 col-md-4">
                @(Html.DevExtreme().SelectBoxFor(m => m.SelectedTahun)
                    .ID("ddlTahun")
                    .DataSource(Model.TahunList)
                    .Value(Model.SelectedTahun.ToString())
                    .ValueExpr("Value")
                    .DisplayExpr("Text")
                    .Placeholder("Pilih Tahun")
                    .StylingMode(EditorStylingMode.Outlined)
                    )
            </div>

            <div class="col-lg-2">
                <button type="button" onclick="fnShow()" class="btn btn-success w-80">
                    <i class="bi bi-funnel-fill me-1"></i> Terapkan Filter
                </button>
            </div>

        </div>
    </div>
</div>

<div class="text-center">
    <div id="loading2-Show" class="spinner-border text-primary" style="display: none">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>

<div id="card-Show" class="card" style="display:none">
    <div class="card-header d-flex">
        <div class="flex-grow-1">
            <h4 class="card-title"></h4>
        </div>
        <div class="flex-shrink-0"></div>
    </div>
    <div class="card-body">
        <div id="Show"></div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            fnShow();
        });
        function fnShow() {
            var tglCutOff = $("#TanggalCutOff").val();
            var selectedPajak = $("#select-jnspajak").dxSelectBox("instance").option("value");
            var selectedTahun = $("#ddlTahun").dxSelectBox("instance").option("value");
            var filterData = {
                jenisPajak: selectedPajak,
                tahun: selectedTahun
            };
            $.ajax({
                url: '@Url.Action("Show")',
                type: 'GET',
                data: filterData ,
                beforeSend: function () {
                    $("#card-Show").hide();
                    $("#loading2-Show").show();
                },
                success: function (response) {
                    if(response.Status === undefined){
                        $("#card-Show").show();
                        $("#Show").html(response);
                    } else {
                        swal.fire({
                            icon: 'warning',
                            title: '<b style="color:orange">Peringatan</b>',
                            text: response.Message
                        })
                    }
                },
                error: function (xhr, status, error) {
                    $('#Show').html('<p class="text-danger">Terjadi kesalahan saat memuat data.</p>');
                },
                complete: function () {
                    $("#loading2-Show").hide();
                }
            });
        }
        function bulananPajakRealisasi(cellElement, cellInfo) {
            
            const jenisPajak = cellInfo.data.EnumPajak;
            const tahun = cellInfo.data.Tahun;;
            const bulan = cellInfo.data.Bulan;;

            const $link = $('<a>')
                .addClass('value-link text-decoration-none')
                .attr('href', 'javascript:void(0);')
                .attr('title', `Lihat Monitoring Harian ${cellInfo.data.BulanNama}`)
                .text((cellInfo.value ?? 0).toLocaleString('id-ID', { minimumFractionDigits: 0, maximumFractionDigits: 0 }))
                .on('click', () => fnMonitoringHarian(jenisPajak, tahun, bulan));

            $(cellElement).append($link);
        }

        function fnMonitoringHarian(jenisPajak, tahun, bulan) {
            window.location.href = `/MonitoringHarian?jenisPajak=${jenisPajak}&tahun=${tahun}&bulan=${bulan}`;
        }
    </script>
}