@model MonPDReborn.Models.MonitoringGlobal.MonitoringBulananVM.Index
<div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
        <h4 class="card-title mb-0">LAPORAN BULANAN PAJAK DAERAH KOTA SURABAYA</h4>
    </div>
    <div class="card-body">
        <div class="row g-3 align-items-center mb-3">
            <div class="col-md-2">
                <label class="form-label">Jenis Pajak</label>
            </div>
            <div class="col-md-3">
                @(Html.DevExtreme().SelectBoxFor(m => m.SelectedJenisPajakId)
                .DataSource(Model.JenisPajakList)
                .ValueExpr("Value")
                .DisplayExpr("Text")
                .ID("select-jnspajak")
                )
            </div>
            <div class="col-md-2">
                <button type="button" onclick="fnShow()" class="btn btn-primary w-100">
                    <i class="ri-search-line me-1"></i> Cari
                </button>
            </div>
        </div>
    </div>
</div>
<div class="col-xxl-12 col-sm-12 project-card">
    <div class="card card-height-100">
        <div class="card-body">
            <div class="d-flex flex-column h-100">
                <div class="d-flex">
                    <div class="flex-grow-1">
                        <p class="text-muted mb-4">Updated 3hrs ago</p>
                    </div>
                </div>
                <div class="container-fluid mt-auto">
                    <div class="p-3" style="background-color: #eef8ff; border: 1px solid #bce3ff; border-radius: 6px;">
                        <div class="mb-2">
                            <h6 class="mb-1">Pendapatan Pajak – 2025 (Semua Pajak)</h6>
                            <span class="badge bg-warning text-dark me-2">41,68 %</span>
                            <small class="text-muted">dari target Rp. 7.307.751.999.326</small>
                        </div>

                        <h4 class="fw-bold mb-3">Rp. 3.045.606.492.045</h4>

                        <div class="d-flex align-items-center pb-2">
                            <div class="flex-shrink-0 me-3">
                                <div class="avatar-xs">
                                    <div class="avatar-title bg-light rounded-circle text-muted fs-16">
                                        <i class="mdi mdi-cash-multiple"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="flex-grow-1">
                                <div class="progress animated-progress custom-progress progress-label">
                                    <div class="progress-bar bg-primary" role="progressbar" style="width: 41%" aria-valuenow="41" aria-valuemin="0" aria-valuemax="100">
                                        <div class="label">41%</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>

<div class="text-center">
    <div id="loading2-Show" class="spinner-border text-primary" style="display: none">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>

<div id="card-Show" class="card" style="display:none">
    <div class="card-header d-flex">
        <div class="flex-grow-1">
            <h4 class="card-title"></h4>
        </div>
        <div class="flex-shrink-0"></div>
    </div>
    <div class="card-body">
        <div id="Show"></div>
    </div>
</div>

@section Scripts {
    <script>
        function fnShow() {
            var tglCutOff = $("#TanggalCutOff").val();
            $.ajax({
                url: '@Url.Action("Show")',
                type: 'GET',
                data: tglCutOff ,
                beforeSend: function () {
                    $("#card-Show").hide();
                    $("#loading2-Show").show();
                },
                success: function (response) {
                    if(response.Status === undefined){
                        $("#card-Show").show();
                        $("#Show").html(response);
                    } else {
                        swal.fire({
                            icon: 'warning',
                            title: '<b style="color:orange">Peringatan</b>',
                            text: response.Message
                        })
                    }
                },
                error: function (xhr, status, error) {
                    $('#Show').html('<p class="text-danger">Terjadi kesalahan saat memuat data.</p>');
                },
                complete: function () {
                    $("#loading2-Show").hide();
                }
            });
        }
    </script>
}