<!-- ======= Sidebar ======= -->

<aside id="sidebar" class="sidebar" style="background-color:#222D32">
    <div class="app-menu navbar-menu">
        <div id="scrollbar" data-simplebar="init" class="h-100">
            <div class="container-fluid">

                <div id="two-column-menu">
                </div>
            </div>
        </div>
    </div>
    <ul class="sidebar-nav" id="sidebar-nav">
        <div class="d-flex ">
            <a href="/" class="logo d-flex justify-content-center" style="padding:15px;height:75px;width:75px;background:#fff;border-radius: 100%;">
                <img src="/assets/images/logo/Logo.png" style="max-height:60px !important;">
            </a>
            <div class="mt-3 mb-4" style="padding-left:10px">
                <h5 style="color:#FFF">GSS</h5>
            </div>
        </div>
        <!-- ======= menu Start ======= -->
        <!-- ======= menu End ======= -->
    </ul>
</aside><!-- End Sidebar-->