.loader {
    width: 100px;
    height: 100px;
    border: 10px solid #000;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
}

.circle {
    width: 100%;
    height: 100%;
    background-color: #000;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
