@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Monitoring Piutang";
}
<div class="col-lg-12">
    <div class="card card-height-100">
        <div class="card-header d-flex bg-header-color align-items-center">
            <div class="flex-grow-1">
                <h5 class="card-title fs-16 text-dark mb-0">
                    <i class="mdi mdi-cash-multiple align-middle me-1"></i> PIUTANG
                </h5>
            </div>
            <div class="flex-shrink-0">
                <button class="btn btn-sm btn-outline-light" onclick="fnDataPiutang()">
                    <i class="mdi mdi-refresh align-middle"></i>
                    Refresh
                </button>
            </div>
        </div>
        <div class="card-body">
            <h4 class="card-title fs-16 mb-3">
                Data Piutang
            </h4>

            <div class="text-center mb-4">
                <div class="text-center">
                    <div id="loading2-DataPiutang" class="spinner-border text-primary" style="display: none">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
            </div>

            <div id="DataPiutang" class="mb-5"></div>
            <div class="modal fade" id="detailModal" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog modal-xl modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Detail</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <!-- Isi modal akan diisi lewat JS -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-lg-12">
    <div class="card card-height-100">
        <div class="card-header d-flex bg-header-color align-items-center">
            <div class="flex-grow-1">
                <h5 class="card-title fs-16 text-dark mb-0">
                    <i class="mdi mdi-account-cash-outline align-middle me-1"></i> MUTASI
                </h5>
            </div>
            <div class="flex-shrink-0">
                <button class="btn btn-sm btn-outline-light" onclick="fnDataMutasi()">
                    <i class="mdi mdi-refresh align-middle"></i>
                    Refresh
                </button>
            </div>
        </div>
        <div class="card-body">
            <h4 class="card-title fs-16 mb-3">
                Data Mutasi
            </h4>

            <div class="text-center mb-4">
                <div class="text-center">
                    <div id="loading2-DataMutasi" class="spinner-border text-primary" style="display: none">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
            </div>
            <div id="DataMutasi"></div>
        </div>
    </div>
</div>

@section Scripts {
    <script>

                $(document).ready(function () {
                    fnSeriesPajakDaerah();
                    fnDataPiutang();
                    fnDataMutasi();
                });
                function fnMonitoringBulanan(jenisPajak) {
                    window.location.href = `/MonitoringBulanan?jenisPajak=${jenisPajak}`;
                }
                function fnSeriesPajakDaerah()
                {
                    $.ajax({
                      url: '@(Url.Action("SeriesPajakDaerah"))',
                      type: 'GET',
                      beforeSend: function () {
                         $('#loading2-SeriesPajakDaerah').show();
                         $('#SeriesPajakDaerah').hide();
                      },
                      success: function (response) {
                            if (response.Status === undefined) {
                                $('#loading2-SeriesPajakDaerah').hide();
                                $('#SeriesPajakDaerah').show();
                                $('#SeriesPajakDaerah').html(response);
                            }
                            else {
                                swal.fire({
                                    icon: 'warning',
                                    title: '<b style="color:orange">Peringatan</b>',
                                    text: response.Message
                                })
                            }
                      },
                      error: function (xhr, status, error) {
                         $('#loading2-SeriesPajakDaerah').hide();
                         $('#SeriesPajakDaerah').hide();
                         $('#SeriesPajakDaerah').html('<p class="text-danger">Terjadi kesalahan saat memuat data.</p>');
                      }
                   });
                }

        function fnDataPiutang()
        {
            $.ajax({
              url: '@(Url.Action("DataPiutang"))',
              type: 'GET',
              beforeSend: function () {
                 $('#loading2-DataPiutang').show();
                 $('#DataPiutang').hide();
              },
              success: function (response) {
                    if (response.Status === undefined) {
                        $('#loading2-DataPiutang').hide();
                        $('#DataPiutang').show();
                        $('#DataPiutang').html(response);
                    }
                    else {
                        swal.fire({
                            icon: 'warning',
                            title: '<b style="color:orange">Peringatan</b>',
                            text: response.Message
                        })
                    }
              },
              error: function (xhr, status, error) {
                 $('#loading2-DataPiutang').hide();
                 $('#DataPiutang').hide();
                 $('#DataPiutang').html('<p class="text-danger">Terjadi kesalahan saat memuat data.</p>');
              }
           });
        }
        function fnDataMutasi()
        {
            $.ajax({
              url: '@(Url.Action("DataMutasi"))',
              type: 'GET',
              beforeSend: function () {
                 $('#loading2-DataMutasi').show();
                 $('#DataMutasi').hide();
              },
              success: function (response) {
                    if (response.Status === undefined) {
                        $('#loading2-DataMutasi').hide();
                        $('#DataMutasi').show();
                        $('#DataMutasi').html(response);
                    }
                    else {
                        swal.fire({
                            icon: 'warning',
                            title: '<b style="color:orange">Peringatan</b>',
                            text: response.Message
                        })
                    }
              },
              error: function (xhr, status, error) {
                 $('#loading2-DataMutasi').hide();
                 $('#DataMutasi').hide();
                 $('#DataMutasi').html('<p class="text-danger">Terjadi kesalahan saat memuat data.</p>');
              }
           });
        }

        function detailPiutangCellTemplate(cellElement, cellInfo) {
            const enumPajak = cellInfo.data.EnumPajak;

            // Ambil tahun dari Caption kolom
            const tahun = parseInt(cellInfo.column.caption);

            const $link = $('<a>')
                 .addClass('value-link text-decoration-none')
                 .attr('href', 'javascript:void(0);')
                 .attr('title', 'Lihat Detail')
                 .text((cellInfo.value ?? 0).toLocaleString('id-ID'))
                 .on('click', () => ondetailPiutangClick(enumPajak, tahun));

            const $wrapper = $('<div>')
                 .css({
                     display: 'flex',
                     alignItems: 'center',
                     justifyContent: 'flex-end'
                 })
                 .append($link);

             $(cellElement).append($wrapper);

        }



        function ondetailPiutangClick(enumPajak, tahun) {
            const $modal = $("#staticBackdropExtraLargeScrollableCenter");

            $modal.find(".modal-title").text(`Detail Piutang - Tahun ${tahun}`);
            $modal.find(".modal-body").html(`
                <div class="text-center my-3">
                    <div class="spinner-border text-primary" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
            `);

            $modal.modal("show");

            $.ajax({
                url: '/KontrolPiutang/DetailPiutang',
                type: 'GET',
                data: {
                    jenisPajak: enumPajak, // perbaikan: pakai jenisPajak di server
                    tahun: tahun
                },
                success: function (response) {
                    $modal.find(".modal-body").html(response);
                },
                error: function () {
                    $modal.find(".modal-body").html(`
                        <div class="alert alert-danger">
                            Gagal memuat detail data.
                        </div>
                    `);
                }
            });
        
        }
    </script>
}