

@{
    var tahuns = MonPDLib.General.Utility.Generate5TahunKebelakang();
    var tahun1 = tahuns.Tahun1;
    var tahun2 = tahuns.Tahun2;
    var tahun3 = tahuns.Tahun3;
    var tahun4 = tahuns.Tahun4;
    var tahun5 = tahuns.Tahun5;
}
<div class="table-responsive">
    

@(
Html.DevExtreme().DataGrid<MonPDReborn.Models.DataOP.ProfileOPVM.DetailJmlOP>()
    .DataSource(m => m.Mvc()
        .LoadAction("GetDetailJmlOPData")
        .Key("Kategori")
        .LoadParams(new
        {
            JenisPajak = new JS("data.EnumPajak")
        })
    )
    .ShowColumnLines(true)
    .ShowRowLines(true)
    .ShowBorders(true)
    .ShowColumnHeaders(true)
    .RowAlternationEnabled(true)
    .ColumnAutoWidth(true)
    .Paging(p => p.PageSize(10))
    .Pager(p => p
        .ShowPageSizeSelector(true)
        .AllowedPageSizes(new[] { 5, 10, 20 })
        .ShowInfo(true)
    )
    .Columns(columns => {

        columns.AddFor(x => x.EnumPajak).Visible(false);
        columns.AddFor(x => x.Kategori)
            .Caption("Kategori")
            .Fixed(true)
            .FixedPosition(HorizontalEdge.Left)
            .CssClass("fw-bold");

        columns.Add()
            .Caption(tahun5.ToString())
            .Alignment(HorizontalAlignment.Center)
            .Columns(sub => {
                sub.AddFor(x => x.Tahun5_Awal).Caption("Awal").Format("#,##0").CellTemplate(new JS("kategoriSeriesCellTemplate"));
                sub.AddFor(x => x.Tahun5_Tutup).Caption("Tutup").Format("#,##0").CellTemplate(new JS("kategoriSeriesCellTemplate"));
                sub.AddFor(x => x.Tahun5_Baru).Caption("Baru").Format("#,##0").CellTemplate(new JS("kategoriSeriesCellTemplate"));
                sub.AddFor(x => x.Tahun5_Akhir).Caption("Akhir").Format("#,##0").CellTemplate(new JS("kategoriSeriesCellTemplate"));
                
            });

        columns.Add()
            .Caption(tahun4.ToString())
            .Alignment(HorizontalAlignment.Center)
            .Columns(sub => {
                sub.AddFor(x => x.Tahun4_Awal).Caption("Awal").Format("#,##0").CellTemplate(new JS("kategoriSeriesCellTemplate"));
                sub.AddFor(x => x.Tahun4_Tutup).Caption("Tutup").Format("#,##0").CellTemplate(new JS("kategoriSeriesCellTemplate"));
                sub.AddFor(x => x.Tahun4_Baru).Caption("Baru").Format("#,##0").CellTemplate(new JS("kategoriSeriesCellTemplate"));
                sub.AddFor(x => x.Tahun4_Akhir).Caption("Akhir").Format("#,##0").CellTemplate(new JS("kategoriSeriesCellTemplate"));
                
            });

        columns.Add()
            .Caption(tahun3.ToString())
            .Alignment(HorizontalAlignment.Center)
            .Columns(sub => {
                sub.AddFor(x => x.Tahun3_Awal).Caption("Awal").Format("#,##0").CellTemplate(new JS("kategoriSeriesCellTemplate"));
                sub.AddFor(x => x.Tahun3_Tutup).Caption("Tutup").Format("#,##0").CellTemplate(new JS("kategoriSeriesCellTemplate"));
                sub.AddFor(x => x.Tahun3_Baru).Caption("Baru").Format("#,##0").CellTemplate(new JS("kategoriSeriesCellTemplate"));
                sub.AddFor(x => x.Tahun3_Akhir).Caption("Akhir").Format("#,##0").CellTemplate(new JS("kategoriSeriesCellTemplate"));
            });

        columns.Add()
            .Caption(tahun2.ToString())
            .Alignment(HorizontalAlignment.Center)
            .Columns(sub => {
                sub.AddFor(x => x.Tahun2_Awal).Caption("Awal").Format("#,##0").CellTemplate(new JS("kategoriSeriesCellTemplate"));
                sub.AddFor(x => x.Tahun2_Tutup).Caption("Tutup").Format("#,##0").CellTemplate(new JS("kategoriSeriesCellTemplate"));
                sub.AddFor(x => x.Tahun2_Baru).Caption("Baru").Format("#,##0").CellTemplate(new JS("kategoriSeriesCellTemplate"));
                sub.AddFor(x => x.Tahun2_Akhir).Caption("Akhir").Format("#,##0").CellTemplate(new JS("kategoriSeriesCellTemplate"));
            });

        columns.Add()
            .Caption(tahun1.ToString())
            .Alignment(HorizontalAlignment.Center)
            .Columns(sub => {
                sub.AddFor(x => x.Tahun1_Awal).Caption("Awal").Format("#,##0").CellTemplate(new JS("kategoriSeriesCellTemplate"));
                sub.AddFor(x => x.Tahun1_Tutup).Caption("Tutup").Format("#,##0").CellTemplate(new JS("kategoriSeriesCellTemplate"));
                sub.AddFor(x => x.Tahun1_Baru).Caption("Baru").Format("#,##0").CellTemplate(new JS("kategoriSeriesCellTemplate"));
                sub.AddFor(x => x.Tahun1_Akhir).Caption("Akhir").Format("#,##0").CellTemplate(new JS("kategoriSeriesCellTemplate"));
            });
    })
    .Summary(s => {
        s.TotalItems(items => {
            items.AddFor(x => x.Kategori)
                .SummaryType(SummaryType.Sum)
                .DisplayFormat("Total");

            items.AddFor(x => x.Tahun5_Awal)
                .SummaryType(SummaryType.Sum)
                .ValueFormat("#,##0")
                .DisplayFormat("{0}");

            items.AddFor(x => x.Tahun5_Tutup)
                .SummaryType(SummaryType.Sum)
                .ValueFormat("#,##0")
                .DisplayFormat("{0}");

            items.AddFor(x => x.Tahun5_Baru)
                .SummaryType(SummaryType.Sum)
                .ValueFormat("#,##0")
                .DisplayFormat("{0}");

            items.AddFor(x => x.Tahun5_Akhir)
                .SummaryType(SummaryType.Sum)
                .ValueFormat("#,##0")
                .DisplayFormat("{0}");

            items.AddFor(x => x.Tahun4_Awal)
                .SummaryType(SummaryType.Sum)
                .ValueFormat("#,##0")
                .DisplayFormat("{0}");

            items.AddFor(x => x.Tahun4_Tutup)
                .SummaryType(SummaryType.Sum)
                .ValueFormat("#,##0")
                .DisplayFormat("{0}");

            items.AddFor(x => x.Tahun4_Baru)
                .SummaryType(SummaryType.Sum)
                .ValueFormat("#,##0")
                .DisplayFormat("{0}");

            items.AddFor(x => x.Tahun4_Akhir)
                .SummaryType(SummaryType.Sum)
                .ValueFormat("#,##0")
                .DisplayFormat("{0}");

            items.AddFor(x => x.Tahun3_Awal)
                .SummaryType(SummaryType.Sum)
                .ValueFormat("#,##0")
                .DisplayFormat("{0}");

            items.AddFor(x => x.Tahun3_Tutup)
                .SummaryType(SummaryType.Sum)
                .ValueFormat("#,##0")
                .DisplayFormat("{0}");

            items.AddFor(x => x.Tahun3_Baru)
                .SummaryType(SummaryType.Sum)
                .ValueFormat("#,##0")
                .DisplayFormat("{0}");

            items.AddFor(x => x.Tahun3_Akhir)
                .SummaryType(SummaryType.Sum)
                .ValueFormat("#,##0")
                .DisplayFormat("{0}");

            items.AddFor(x => x.Tahun2_Awal)
                .SummaryType(SummaryType.Sum)
                .ValueFormat("#,##0")
                .DisplayFormat("{0}");

            items.AddFor(x => x.Tahun2_Tutup)
                .SummaryType(SummaryType.Sum)
                .ValueFormat("#,##0")
                .DisplayFormat("{0}");

            items.AddFor(x => x.Tahun2_Baru)
                .SummaryType(SummaryType.Sum)
                .ValueFormat("#,##0")
                .DisplayFormat("{0}");

            items.AddFor(x => x.Tahun2_Akhir)
                .SummaryType(SummaryType.Sum)
                .ValueFormat("#,##0")
                .DisplayFormat("{0}");

            items.AddFor(x => x.Tahun1_Awal)
                .SummaryType(SummaryType.Sum)
                .ValueFormat("#,##0")
                .DisplayFormat("{0}");

            items.AddFor(x => x.Tahun1_Tutup)
                .SummaryType(SummaryType.Sum)
                .ValueFormat("#,##0")
                .DisplayFormat("{0}");

            items.AddFor(x => x.Tahun1_Baru)
                .SummaryType(SummaryType.Sum)
                .ValueFormat("#,##0")
                .DisplayFormat("{0}");

            items.AddFor(x => x.Tahun1_Akhir)
                .SummaryType(SummaryType.Sum)
                .ValueFormat("#,##0")
                .DisplayFormat("{0}");
        });
    })
)
</div>