@(Html.DevExtreme().DataGrid<MonPDReborn.Models.DataOP.ProfileOPVM.RekapDetail>()
    .DataSource(d => d.Mvc()
    .LoadAction("GetRekapDetailData")
    .Key("Kategori")
    .LoadParams(new
    {
        JenisPajak = ViewData["JenisPajak"],
        Tahun = ViewData["tahun"]
    })
    )
    .ShowColumnLines(true)
    .ShowRowLines(true)
    .ShowBorders(true)
    .ShowColumnHeaders(true)
    .RowAlternationEnabled(true)
    .ColumnAutoWidth(true)
    .Paging(p => p.PageSize(10))
    .Pager(p => p
        .ShowPageSizeSelector(true)
        .AllowedPageSizes(new[] { 5, 10, 20 })
        .ShowInfo(true)
    )
    .Columns(columns =>
    {

        columns.AddFor(m => m.Kategori).Caption("Kategori").CssClass("fw-bold");
        columns.Add()
            .DataField("OPAwal")
            .Caption("OP Awal")
            .CellTemplate(@<text>
                <div style="display: flex; align-items: center; justify-content: space-between;">
                    <button class="btn btn-sm btn-outline-primary me-2"
                            onclick="onDetailClick('<%- data.EnumPajak %>','<%- data.Kategori %>', 'OPAwal')"
                            title="Lihat Detail">
                        <i class="ri-search-line"></i>
                    </button>
                    <span><%- value %></span>
                </div>
            </text>)
            .CalculateCellValue("data => data.OPAwal");

        columns.Add()
            .DataField("TutupSementara")
            .Caption("Tutup Sementara")
            .CellTemplate(@<text>
                <div style="display: flex; align-items: center; justify-content: space-between;">
                    <button class="btn btn-sm btn-outline-secondary me-2"
                            onclick="onDetailClick('<%- data.EnumPajak %>','<%- data.Kategori %>', 'TutupSementara')"
                            title="Lihat Detail">
                        <i class="ri-search-line"></i>
                    </button>
                    <span><%- data.TutupSementara %></span>
                </div>
            </text>)
            .CalculateCellValue("data => data.TutupSementara");

        columns.Add()
            .DataField("TutupPermanen")
            .Caption("Tutup Permanen")
            .CellTemplate(@<text>
                <div style="display: flex; align-items: center; justify-content: space-between;">
                    <button class="btn btn-sm btn-outline-danger me-2"
                            onclick="onDetailClick('<%- data.EnumPajak %>','<%- data.Kategori %>', 'TutupPermanen')"
                            title="Lihat Detail">
                        <i class="ri-search-line"></i>
                    </button>
                    <span><%- data.TutupPermanen %></span>
                </div>
            </text>)
            .CalculateCellValue("data => data.TutupPermanen");

        columns.Add()
            .DataField("OPBaru")
            .Caption("OP Baru")
            .CellTemplate(@<text>
                <div style="display: flex; align-items: center; justify-content: space-between;">
                    <button class="btn btn-sm btn-outline-success me-2"
                            onclick="onDetailClick('<%- data.EnumPajak %>','<%- data.Kategori %>', 'OPBaru')"
                            title="Lihat Detail">
                        <i class="ri-search-line"></i>
                    </button>
                    <span><%- data.OPBaru %></span>
                </div>
            </text>)
            .CalculateCellValue("data => data.OPBaru");


        columns.Add()
            .DataField("OPBuka")
            .Caption("Buka")
            .CellTemplate(@<text>
                <div style="display: flex; align-items: center; justify-content: space-between;">
                    <button class="btn btn-sm btn-outline-info me-2"
                            onclick="onDetailClick('<%- data.EnumPajak %>','<%- data.Kategori %>', 'OPBuka')"
                            title="Lihat Detail">
                        <i class="ri-search-line"></i>
                    </button>
                    <span><%- data.Buka %></span>
                </div>
            </text>)
            .CalculateCellValue("data => data.Buka");


    })
    .Summary(s =>
    {
        s.TotalItems(items =>
        {
            items.Add()
                .Column("Kategori")
                .SummaryType(SummaryType.Custom)
                .DisplayFormat("Total")
                .Alignment(HorizontalAlignment.Center);

            items.Add()
                .Column("OPAwal")
                .SummaryType(SummaryType.Sum)
                .DisplayFormat("{0}")
                .Alignment(HorizontalAlignment.Right);

            items.Add()
                .Column("TutupSementara")
                .SummaryType(SummaryType.Sum)
                .DisplayFormat("{0}")
                .Alignment(HorizontalAlignment.Right);

            items.Add()
                .Column("TutupPermanen")
                .SummaryType(SummaryType.Sum)
                .DisplayFormat("{0}")
                .Alignment(HorizontalAlignment.Right);

            items.Add()
                .Column("OPBaru")
                .SummaryType(SummaryType.Sum)
                .DisplayFormat("{0}")
                .Alignment(HorizontalAlignment.Right);

            items.Add()
                .Column("Buka")
                .SummaryType(SummaryType.Sum)
                .DisplayFormat("{0}")
                .Alignment(HorizontalAlignment.Right);

        });
    })
)