@model MonPDReborn.Models.DataOP.ProfileOPVM.ShowSeries

<div class="table-responsive">
    @(
        Html.DevExtreme().DataGrid<MonPDReborn.Models.DataOP.ProfileOPVM.SeriesOP>()
        .ID("SeriesOPGrid")
        .DataSource(Model.DataSeriesOPList)
        .ShowBorders(true)
        .ShowRowLines(true)
        .ShowColumnLines(true)
        .ShowColumnHeaders(true)
        .RowAlternationEnabled(true)
        .Paging(p => p.PageSize(10))
        .Pager(p => p
        .ShowInfo(true)
        .ShowPageSizeSelector(true)
        .AllowedPageSizes(new[] { 5, 10, 20 })
        )
        .Columns(columns =>
        {
            columns.AddFor(m => m.JenisPajak).Caption("Jenis Pajak");
            columns.AddFor(m => m.Tahun2021).Caption("OP Awal");
            columns.AddFor(m => m.Tahun2022).Caption("Tutup Sementara");
            columns.AddFor(m => m.Tahun2023).Caption("Tutup Permanen");
            columns.AddFor(m => m.Tahun2024).Caption("OP Baru");
            columns.AddFor(m => m.Tahun2025).Caption("Buka");
        })
        .Summary(summary =>
        {
            summary.TotalItems(items =>
            {
                items.AddFor(m => m.JenisPajak).SummaryType(SummaryType.Custom).DisplayFormat("Total");
                items.AddFor(m => m.Tahun2021).SummaryType(SummaryType.Sum).DisplayFormat("{0}");
                items.AddFor(m => m.Tahun2022).SummaryType(SummaryType.Sum).DisplayFormat("{0}");
                items.AddFor(m => m.Tahun2023).SummaryType(SummaryType.Sum).DisplayFormat("{0}");
                items.AddFor(m => m.Tahun2024).SummaryType(SummaryType.Sum).DisplayFormat("{0}");
                items.AddFor(m => m.Tahun2025).SummaryType(SummaryType.Sum).DisplayFormat("{0}");
            });
        })
        .MasterDetail(md => md
        .Enabled(true)
        .Template(new JS("subSeriesTemplate"))
        )
        )
</div>