@model MonPDReborn.Models.DataOP.ProfileOPVM.ShowRekap

<div class="row">

    <div class="col-lg-4">
        <div class="card border border-danger border-3">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                    <div>
                        <h4 class="fs-14 text-muted mb-3">Total Objek Pajak</h4>
                        <h4 class="fs-16 fw-bold mb-0">0</h4>
                    </div>
                    <i class="ri-group-fill fs-2 text-danger"></i> <!-- Ikon di kanan -->
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="card border border-danger border-3">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                    <div>
                        <h4 class="fs-14 text-muted mb-3">Pertumbuhan</h4>
                        <h4 class="fs-16 fw-bold mb-0">0</h4>
                    </div>
                    <i class="ri-funds-box-fill fs-2 text-danger"></i> <!-- Ikon di kanan -->
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="card border border-danger border-3">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                    <div>
                        <h4 class="fs-14 text-muted mb-3">Penutupan</h4>
                        <h4 class="fs-16 fw-bold mb-0">0</h4>
                    </div>
                    <i class="ri-close-circle-fill  fs-2 text-danger"></i> <!-- Ikon di kanan -->
                </div>
            </div>
        </div>
    </div>

</div>

<div class="table-responsive">
    @(
        Html.DevExtreme().DataGrid<MonPDReborn.Models.DataOP.ProfileOPVM.RekapOP>()
                .ID("RekapOPGrid")
                .DataSource(Model.DataRekapOPList)
                .ShowBorders(true)
                .ShowRowLines(true)
                .ShowColumnLines(true)
                .ShowColumnHeaders(true)
                .RowAlternationEnabled(true)
                .AllowColumnResizing(true)
                .ColumnAutoWidth(true)
                .Paging(p => p.PageSize(10))
                .Pager(p => p
                .ShowInfo(true)
                .ShowPageSizeSelector(true)
                .AllowedPageSizes(new[] { 5, 10, 20 })
                )
                .Columns(columns =>
                {
                    columns.AddFor(m => m.JenisPajak).Caption("Jenis Pajak").CssClass("fw-bold");
                    columns.AddFor(m => m.JmlOpAwal).Caption("OP Awal").Format("#,##0");
                    columns.AddFor(m => m.JmlOpTutupPermanen).Caption("OP Tutup").Format("#,##0");
                    columns.AddFor(m => m.JmlOpBaru).Caption("OP Baru").Format("#,##0");
                    columns.AddFor(m => m.JmlOpAkhir).Caption("OP Akhir").Format("#,##0");
                })
                .Summary(summary =>
                {
                    summary.TotalItems(items =>
                    {
                        items.AddFor(m => m.JenisPajak).SummaryType(SummaryType.Sum).DisplayFormat("Total").ValueFormat("#,##0");
                        items.AddFor(m => m.JmlOpAwal).SummaryType(SummaryType.Sum).DisplayFormat("{0}").ValueFormat("#,##0");
                        items.AddFor(m => m.JmlOpTutupPermanen).SummaryType(SummaryType.Sum).DisplayFormat("{0}").ValueFormat("#,##0");
                        items.AddFor(m => m.JmlOpBaru).SummaryType(SummaryType.Sum).DisplayFormat("{0}").ValueFormat("#,##0");
                        items.AddFor(m => m.JmlOpAkhir).SummaryType(SummaryType.Sum).DisplayFormat("{0}").ValueFormat("#,##0");
                    });
                })
                .MasterDetail(md =>
                {
                md.Enabled(true);
                md.Template(
                @<text>
                    @{
                        ViewData["JenisPajak"] = new JS("data.EnumPajak");
                        ViewData["tahun"] = new JS("data.Tahun");
                    }
                @await Html.PartialAsync("/Views/DataOP/ProfileOP/_RekapDetail.cshtml")
            </text>);
                })
       )
</div>


