@model MonPDReborn.Models.DataOP.ProfileOPVM.ShowRekap

<div class="row">

    @* dashboard baru *@
    <div class="col-lg-4">
        <div class="card card-animate h-80 shadow-lg rounded-3" style="border-top: 6px solid #7DF9FF;">
            <div class="card-body">
                <div class="d-flex justify-content-start align-items-center mb-2">
                    <div class="flex-shrink-0 me-4">
                        <div class="bg-primary bg-opacity-10 text-primary rounded-circle d-flex align-items-center justify-content-center" style="width: 80px; height: 80px;">
                            <i class="mdi mdi-city-variant-outline fs-1"></i>
                        </div>
                    </div>
                    <div class="text-start">
                        <h5 class="text-muted">Total Objek Pajak</h5>
                        <h4 class="mb-0 fw-bold">@Model.SummaryData.TotalOpAkhir.ToString("N0")</h4>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="card card-animate h-80 shadow-lg rounded-3" style="border-top: 6px solid #7DF9FF;">
            <div class="card-body">
                <div class="d-flex justify-content-start align-items-center mb-2">
                    <div class="flex-shrink-0 me-4">
                        <div class="bg-primary bg-opacity-10 text-primary rounded-circle d-flex align-items-center justify-content-center" style="width: 80px; height: 80px;">
                            <i class="mdi mdi-home-group-plus fs-1"></i>
                        </div>
                    </div>
                    <div class="text-start">
                        <h5 class="text-muted">Pertumbuhan</h5>
                        <h4 class="mb-0 fw-bold">@Model.SummaryData.TotalOpBaru.ToString("N0")</h4>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="card card-animate h-80 shadow-lg rounded-3" style="border-top: 6px solid #7DF9FF;">
            <div class="card-body">
                <div class="d-flex justify-content-start align-items-center mb-2">
                    <div class="flex-shrink-0 me-4">
                        <div class="bg-primary bg-opacity-10 text-primary rounded-circle d-flex align-items-center justify-content-center" style="width: 80px; height: 80px;">
                            <i class="mdi mdi-home-group-remove fs-1"></i>
                        </div>
                    </div>
                    <div class="text-start">
                        <h5 class="text-muted">Penutupan</h5>
                        <h4 class="mb-0 fw-bold">@Model.SummaryData.TotalOpTutup.ToString("N0")</h4>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="table-responsive">
    @(
        Html.DevExtreme().DataGrid<MonPDReborn.Models.DataOP.ProfileOPVM.RekapOP>()
        .ID("RekapOPGrid")
        .DataSource(Model.DataRekapOPList)
        .ShowBorders(true)
        .ShowRowLines(true)
        .ShowColumnLines(true)
        .ShowColumnHeaders(true)
        .RowAlternationEnabled(true)
        .AllowColumnResizing(true)
        .ColumnAutoWidth(true)
        .Columns(columns =>
        {
            columns.AddFor(m => m.JenisPajak).Caption("Jenis Pajak").CssClass("fw-bold");
            columns.AddFor(m => m.JmlOpAwal).Caption("OP Awal").Format("#,##0");
            columns.AddFor(m => m.JmlOpTutupPermanen).Caption("OP Tutup").Format("#,##0");
            columns.AddFor(m => m.JmlOpBaru).Caption("OP Baru").Format("#,##0");
            columns.AddFor(m => m.JmlOpAkhir).Caption("OP Akhir").Format("#,##0");
        })
        .Summary(summary =>
        {
            summary.TotalItems(items =>
            {
                items.AddFor(m => m.JenisPajak).SummaryType(SummaryType.Sum).DisplayFormat("Total").ValueFormat("#,##0");
                items.AddFor(m => m.JmlOpAwal).SummaryType(SummaryType.Sum).DisplayFormat("{0}").ValueFormat("#,##0");
                items.AddFor(m => m.JmlOpTutupPermanen).SummaryType(SummaryType.Sum).DisplayFormat("{0}").ValueFormat("#,##0");
                items.AddFor(m => m.JmlOpBaru).SummaryType(SummaryType.Sum).DisplayFormat("{0}").ValueFormat("#,##0");
                items.AddFor(m => m.JmlOpAkhir).SummaryType(SummaryType.Sum).DisplayFormat("{0}").ValueFormat("#,##0");
            });
        })
        .MasterDetail(md =>
        {
        md.Enabled(true);
        md.Template(
        @<text>
                @{
                    ViewData["JenisPajakRekap"] = new JS("data.EnumPajak");
                    ViewData["tahun"] = new JS("data.Tahun");
                }
            @await Html.PartialAsync("/Views/DataOP/ProfileOP/_RekapDetail.cshtml")
            <% if (data.EnumPajak === 3) { %>
            @await Html.PartialAsync("/Views/DataOP/ProfileOP/_RekapDetailHotel.cshtml")
            <% } %>
        </text>);
        })
        )
</div>


