@model MonPDReborn.Models.DataOP.ProfileOPVM.ShowSeries

<div class="flex-grow-1">
    <h4 class="card-title fs-16 mb-3">
        Series Jumlah Objek Pajak
    </h4>
</div>
<div class="row">

    <div class="col-lg-4">
        <div class="card border border-danger border-3">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                    <div>
                        <h4 class="fs-14 text-muted mb-3">Total Objek Pajak Tahun Ini</h4>
                        <h4 class="fs-16 fw-bold mb-0">0</h4>
                    </div>
                    <i class="ri-group-fill fs-2 text-danger"></i> <!-- Ikon di kanan -->
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="card border border-danger border-3">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                    <div>
                        <h4 class="fs-14 text-muted mb-3">Pertumbuhan Objek Pajak Tahun Ini</h4>
                        <h4 class="fs-16 fw-bold mb-0">+ 0</h4>
                    </div>
                    <i class="ri-funds-box-fill fs-2 text-danger"></i> <!-- Ikon di kanan -->
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="card border border-danger border-3">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                    <div>
                        <h4 class="fs-14 text-muted mb-3">Kenaikan Tertinggi</h4>
                        <h4 class="fs-16 fw-bold mb-0">Pajak</h4>
                    </div>
                    <i class="ri-trophy-fill  fs-2 text-danger"></i> <!-- Ikon di kanan -->
                </div>
            </div>
        </div>
    </div>

</div>
<div class="table-responsive">
    @(
        Html.DevExtreme().DataGrid<MonPDReborn.Models.DataOP.ProfileOPVM.SeriesOP>()
        .ID("SeriesOPGrid")
        .DataSource(Model.DataSeriesOPList)
        .ShowBorders(true)
        .ShowRowLines(true)
        .ShowColumnLines(true)
        .ShowColumnHeaders(true)
        .RowAlternationEnabled(true)
        .ColumnAutoWidth(true)
        .Paging(p => p.PageSize(10))
        .Pager(p => p
        .ShowInfo(true)
        .ShowPageSizeSelector(true)
        .AllowedPageSizes(new[] { 5, 10, 20 })
        )
        .Columns(columns =>
        {
            columns.AddFor(m => m.JenisPajak).Caption("Jenis Pajak");
            columns.AddFor(m => m.Tahun2021).Caption("Tahun 2021");
            columns.AddFor(m => m.Tahun2022).Caption("Tahun 2022");
            columns.AddFor(m => m.Tahun2023).Caption("Tahun 2023");
            columns.AddFor(m => m.Tahun2024).Caption("Tahun 2024");
            columns.AddFor(m => m.Tahun2025).Caption("Tahun 2025");
        })
        .Summary(summary =>
        {
            summary.TotalItems(items =>
            {
                items.AddFor(m => m.JenisPajak).SummaryType(SummaryType.Custom).DisplayFormat("Total");
                items.AddFor(m => m.Tahun2021).SummaryType(SummaryType.Sum).DisplayFormat("{0}");
                items.AddFor(m => m.Tahun2022).SummaryType(SummaryType.Sum).DisplayFormat("{0}");
                items.AddFor(m => m.Tahun2023).SummaryType(SummaryType.Sum).DisplayFormat("{0}");
                items.AddFor(m => m.Tahun2024).SummaryType(SummaryType.Sum).DisplayFormat("{0}");
                items.AddFor(m => m.Tahun2025).SummaryType(SummaryType.Sum).DisplayFormat("{0}");
            });
        })
        .MasterDetail(md =>
        {
        md.Enabled(true);
        md.Template(
        @<text>
            @{
                ViewData["JenisPajak"] = new JS("data.EnumPajak");
            }
        @await Html.PartialAsync("~/Views/DataOP/ProfileOP/_SeriesDetail.cshtml")
    </text>);
        })
        )
</div>