@model MonPDReborn.Models.DataOP.ProfileOPVM.ShowRekap

<div class="row">
    
    @* dashboard baru *@
    <div class="col-lg-4">
        <div class="card shadow-sm rounded-xl p-3 text-center">
            <div class="card-body">
                <div class="d-flex justify-content-start align-items-center mb-2">
                    <div class="rounded-circle bg-primary-subtle p-2 me-2">
                        <i class="ri-group-fill text-primary fs-1"></i>
                    </div>
                    <div class="text-start">
                        <h5 class="text-muted">Total Objek Pajak</h5>
                        <h4 class="mb-0 fw-bold">@Model.SummaryData.TotalOpAkhir.ToString("N0")</h4>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="card shadow-sm rounded-xl p-3 text-center">
            <div class="card-body">
                <div class="d-flex justify-content-start align-items-center mb-2">
                    <div class="rounded-circle bg-primary-subtle p-2 me-2">
                        <i class=" ri-line-chart-fill text-primary fs-1"></i>
                    </div>
                    <div class="text-start">
                        <h5 class="text-muted">Pertumbuhan</h5>
                        <h4 class="mb-0 fw-bold">@Model.SummaryData.TotalOpBaru.ToString("N0")</h4>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="card shadow-sm rounded-xl p-3 text-center">
            <div class="card-body">
                <div class="d-flex justify-content-start align-items-center mb-2">
                    <div class="rounded-circle bg-primary-subtle p-2 me-2">
                        <i class="ri-close-circle-fill text-primary fs-1"></i>
                    </div>
                    <div class="text-start">
                        <h5 class="text-muted">Penutupan</h5>
                        <h4 class="mb-0 fw-bold">@Model.SummaryData.TotalOpTutup.ToString("N0")</h4>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="table-responsive">
    @(
        Html.DevExtreme().DataGrid<MonPDReborn.Models.DataOP.ProfileOPVM.RekapOP>()
                .ID("RekapOPGrid")
                .DataSource(Model.DataRekapOPList)
                .ShowBorders(true)
                .ShowRowLines(true)
                .ShowColumnLines(true)
                .ShowColumnHeaders(true)
                .RowAlternationEnabled(true)
                .AllowColumnResizing(true)
                .ColumnAutoWidth(true)
                .Columns(columns =>
                {
                    columns.AddFor(m => m.JenisPajak).Caption("Jenis Pajak").CssClass("fw-bold");
                    columns.AddFor(m => m.JmlOpAwal).Caption("OP Awal").Format("#,##0");
                    columns.AddFor(m => m.JmlOpTutupPermanen).Caption("OP Tutup").Format("#,##0");
                    columns.AddFor(m => m.JmlOpBaru).Caption("OP Baru").Format("#,##0");
                    columns.AddFor(m => m.JmlOpAkhir).Caption("OP Akhir").Format("#,##0");
                })
                .Summary(summary =>
                {
                    summary.TotalItems(items =>
                    {
                        items.AddFor(m => m.JenisPajak).SummaryType(SummaryType.Sum).DisplayFormat("Total").ValueFormat("#,##0");
                        items.AddFor(m => m.JmlOpAwal).SummaryType(SummaryType.Sum).DisplayFormat("{0}").ValueFormat("#,##0");
                        items.AddFor(m => m.JmlOpTutupPermanen).SummaryType(SummaryType.Sum).DisplayFormat("{0}").ValueFormat("#,##0");
                        items.AddFor(m => m.JmlOpBaru).SummaryType(SummaryType.Sum).DisplayFormat("{0}").ValueFormat("#,##0");
                        items.AddFor(m => m.JmlOpAkhir).SummaryType(SummaryType.Sum).DisplayFormat("{0}").ValueFormat("#,##0");
                    });
                })
                .MasterDetail(md =>
                {
                md.Enabled(true);
                md.Template(
                @<text>
                    @{
                        ViewData["JenisPajakRekap"] = new JS("data.EnumPajak");
                        ViewData["tahun"] = new JS("data.Tahun");
                    }
                @await Html.PartialAsync("/Views/DataOP/ProfileOP/_RekapDetail.cshtml")
            </text>);
                })
       )
</div>


