@model MonPDReborn.Models.MonitoringGlobal.MonitoringTahunanVM.Index

<div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
        <h4 class="card-title mb-0">LAPORAN HARIAN PAJAK DAERAH KOTA SURABAYA</h4>
    </div>
    <div class="card-body">
        <div class="row g-3 align-items-center mb-3">
            <div class="col-md-2">
                <label class="form-label">Tanggal</label>
            </div>
            <div class="col-md-3">
                @(Html.DevExtreme().DateBoxFor(x => x.TanggalCutOff)
                    .Value(DateTime.Today)
                    .DisplayFormat("dd/MM/yyyy")
                    .Type(DateBoxType.Date)
                    )
            </div>
            <div class="col-md-2">
                <button type="submit" class="btn btn-primary w-100">
                    <i class="ri-search-line me-1"></i> Cari
                </button>
            </div>
        </div>
    </div>
</div>