@model MonPDReborn.Models.AktivitasOP.SeriesPendapatanDaerahVM.Index
@{
    ViewData["Title"] = "Realisasi Pendapatan Daerah";
}

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="d-flex">
                    <div class="flex-grow-1">
                        <h4 class="card-title">Data Series Pendapatan</h4>
                    </div>
                    <div class="flex-shrink-0">
                        <select id="typeSeries" class="form-select mb-3" aria-label="Default select example" onchange="loadShow()">
                            <option value="1" selected>Sudut Pandang Akun</option>
                            <option value="2">Sudut Pandang Opd</option>
                            <option value="3">Sudut Pandang Akun [Jenis - Opd]</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row mb-3">
    <div class="col-lg-6">
        <!-- Vertical Variation -->
        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
            <div class="btn-group" role="group">
                <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    CETAK LAPORAN
                </button>
                <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                    <li><a class="dropdown-item" href="@(Url.Action("Report", new {type = 1}))" target="_blank">TR OPD RINCI</a></li>
                    <li><a class="dropdown-item" href="@(Url.Action("Report", new {type = 2}))" target="_blank">TR OPD WARNA</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body d-flex">
                <div class="flex-grow-1"></div>
                <div class="flex-shrink-0">
                    <select id="frm-tahun1" asp-items="Model.TahunListSekarang" onchange="loadShow1()" class="form-select"></select>
                </div>
            </div>
            <div class="card-body">
                <div id="loading-Show1" class="text-center" style="display: none;"><div class="spinner-border"></div></div>
                <div id="Show1"></div>
            </div>
        </div>
        
    </div>
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body d-flex">
                <div class="flex-grow-1"></div>
                <div class="flex-shrink-0">
                    <select id="frm-tahun2" asp-items="Model.TahunListMinus1" onchange="loadShow2()" class="form-select"></select>
                </div>
            </div>
            <div class="card-body">
                <div id="loading-Show2" class="text-center" style="display: none;"><div class="spinner-border"></div></div>
                <div id="Show2"></div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script>
        $(document).ready(function () {
            loadShow();
        });

        function loadShow(){
            loadShow1()
            loadShow2()
        }

        function loadShow1() {
            var type = $('#typeSeries').val();
            var tahun = $('#frm-tahun1').val();
            var seq = 1;
            $.ajax({
                url: '@Url.Action("Show")',
                data: {type, tahun, seq},
                type: 'GET',
                beforeSend: function () { $('#loading-Show1').show(); },
                success: function (result) { $('#Show1').html(result); },
                error: function () { $('#Show1').html('<p class="text-danger">Gagal memuat data.</p>'); },
                complete: function () { $('#loading-Show1').hide(); }
            });
        }

        function loadShow2() {
            var type = $('#typeSeries').val();
            var tahun = $('#frm-tahun2').val();
            var seq = 2;
            $.ajax({
                url: '@Url.Action("Show")',
                data: { type, tahun, seq },
                type: 'GET',
                beforeSend: function () { $('#loading-Show2').show(); },
                success: function (result) { $('#Show2').html(result); },
                error: function () { $('#Show2').html('<p class="text-danger">Gagal memuat data.</p>'); },
                complete: function () { $('#loading-Show2').hide(); }
            });
        }


        function hitungPersentase(e) {
            var dataSource = e.component.getDataSource();
            var items = dataSource.items();

            var totalTarget = 0;
            var totalRealisasi = 0;
            items.forEach(function(item) {
                totalTarget += item.Col.TargetTahun1 || 0;
                totalRealisasi += item.Col.RealisasiTahun1 || 0;
            });

            var persentase = totalTarget > 0 ? totalRealisasi / totalTarget : 0;
            var persentaseIndex = 5;

            var $summaryCells = e.element.find(".dx-datagrid-total-footer .dx-datagrid-summary-item");
            var $persentaseCell = $summaryCells.eq(persentaseIndex - 1);
            if ($persentaseCell.length) {
                $persentaseCell.text(
                    DevExpress.localization.formatNumber(persentase, "#,##0.00%")
                );
            }
        }
    </script>

    @* TIPE 1 *@
    <script>
        function SudutPandangRekeningKelompok(container, options) {
            var data = options.data.RekKelompoks;
            var $wrapper = $("<div>").appendTo(container);

            $("<p>")
                .text("Kelompok")
                .css({ "font-weight": "bold", "margin-bottom": "5px" })
                .appendTo($wrapper);
            $("<div>")
                .appendTo($wrapper)
                .dxDataGrid({
                   dataSource: data,
                    showBorders: true,
                    showColumnHeaders: true,
                    showColumnLines: true,
                    showRowLines: true,
                    allowColumnResizing: true,
                    allowColumnReordering: true,
                    columnAutoWidth: true,
                    sorting: { mode: "multiple" },
                    filterRow: {
                        visible: true,
                        applyFilter: "auto"
                    },
                    headerFilter: { visible: true },
                    paging: { pageSize: 99999 },
                    pager: { visible: false  },
                    columns: [
                        { dataField: "Col.Nama", caption: "Nama", fixed: true,  fixedPosition: "left" },
                        { dataField: "Col.TargetTahun1", caption: "Target", format: "#,##0" },
                        { dataField: "Col.RealisasiTahun1", caption: "Realisasi", format: "#,##0" },
                        { dataField: "Col.PersentaseTahun1", caption: "%",
                            format: {
                                type: "fixedPoint",
                                precision: 2
                                },
                            customizeText: function(e) {
                                if (e.value === null) return "";
                                return e.value + " %";
                            }
                        }
                    ],
                    masterDetail: {
                        enabled: true,
                        template: SudutPandangRekeningJenis
                    },export: {
                        enabled: true,
                        allowExportSelectedData: false,
                        formats: ["xlsx", "pdf"]
                    },
                    onExporting: exportGrid,
                    width: "100%"
                })
        }

        function SudutPandangRekeningJenis(container, options) {
            var data = options.data.RekJeniss;
            var $wrapper = $("<div>").appendTo(container);
            $("<p>")
                .text("Jenis")
                .css({ "font-weight": "bold", "margin-bottom": "5px" })
                .appendTo($wrapper);
            $("<div>")
                .appendTo($wrapper)
                .dxDataGrid({
                   dataSource: data,
                    showBorders: true,
                    showColumnHeaders: true,
                    showColumnLines: true,
                    showRowLines: true,
                    allowColumnResizing: true,
                    allowColumnReordering: true,
                    columnAutoWidth: true,
                    sorting: { mode: "multiple" },
                    filterRow: {
                        visible: true,
                        applyFilter: "auto"
                    },
                    headerFilter: { visible: true },
                    paging: { pageSize: 99999 },
                    pager: { visible: false  },
                    columns: [
                        { dataField: "Col.Nama", caption: "Nama", fixed: true,  fixedPosition: "left" },
                        { dataField: "Col.TargetTahun1", caption: "Target", format: "#,##0" },
                        { dataField: "Col.RealisasiTahun1", caption: "Realisasi", format: "#,##0" },
                        { dataField: "Col.PersentaseTahun1", caption: "%",
                            format: {
                                type: "fixedPoint",
                                precision: 2
                                },
                            customizeText: function(e) {
                                if (e.value === null) return "";
                                return e.value + " %";
                            }
                        }
                    ],
                    masterDetail: {
                        enabled: true,
                        template: SudutPandangRekeningObjek
                    },
                       export: {
                        enabled: true,
                        allowExportSelectedData: false,
                        formats: ["xlsx", "pdf"]
                    },
                    onExporting: exportGrid,
                    width: "100%"
                })
        }

        function SudutPandangRekeningObjek(container, options) {
            var data = options.data.RekObjeks;
            var $wrapper = $("<div>").appendTo(container);
            $("<p>")
                .text("Objek")
                .css({ "font-weight": "bold", "margin-bottom": "5px" })
                .appendTo($wrapper);
            $("<div>")
                .appendTo($wrapper)
                .dxDataGrid({
                    dataSource: data,
                    showBorders: true,
                    showColumnHeaders: true,
                    showColumnLines: true,
                    showRowLines: true,
                    allowColumnResizing: true,
                    allowColumnReordering: true,
                    columnAutoWidth: true,
                    sorting: { mode: "multiple" },
                    filterRow: {
                        visible: true,
                        applyFilter: "auto"
                    },
                    headerFilter: { visible: true },
                    paging: { pageSize: 99999 },
                    pager: { visible: false  },
                    columns: [
                        { dataField: "Col.Nama", caption: "Nama", fixed: true,  fixedPosition: "left" },
                        { dataField: "Col.TargetTahun1", caption: "Target", format: "#,##0" },
                        { dataField: "Col.RealisasiTahun1", caption: "Realisasi", format: "#,##0" },
                        { dataField: "Col.PersentaseTahun1", caption: "%",
                            format: {
                                type: "fixedPoint",
                                precision: 2
                                },
                            customizeText: function(e) {
                                if (e.value === null) return "";
                                return e.value + " %";
                            }
                        }
                    ],
                    masterDetail: {
                        enabled: true,
                        template: SudutPandangRekeningRincian
                    },
                    export: {
                        enabled: true,
                        allowExportSelectedData: false,
                        formats: ["xlsx", "pdf"]
                    },
                    onExporting: exportGrid,
                    width: "100%"
                })
        }

        function SudutPandangRekeningRincian(container, options) {
            var data = options.data.RekRincians;
            var $wrapper = $("<div>").appendTo(container);
            $("<p>")
                .text("Rincian")
                .css({ "font-weight": "bold", "margin-bottom": "5px" })
                .appendTo($wrapper);
            $("<div>")
                .appendTo($wrapper)
                .dxDataGrid({
                    dataSource: data,
                    showBorders: true,
                    showColumnHeaders: true,
                    showColumnLines: true,
                    showRowLines: true,
                    allowColumnResizing: true,
                    allowColumnReordering: true,
                    columnAutoWidth: true,
                    sorting: { mode: "multiple" },
                    filterRow: {
                        visible: true,
                        applyFilter: "auto"
                    },
                    headerFilter: { visible: true },
                    paging: { pageSize: 99999 },
                    pager: { visible: false  },
                    columns: [
                        { dataField: "Col.Nama", caption: "Nama", fixed: true,  fixedPosition: "left" },
                        { dataField: "Col.TargetTahun1", caption: "Target", format: "#,##0" },
                        { dataField: "Col.RealisasiTahun1", caption: "Realisasi", format: "#,##0" },
                        { dataField: "Col.PersentaseTahun1", caption: "%",
                            format: {
                                type: "fixedPoint",
                                precision: 2
                                },
                            customizeText: function(e) {
                                if (e.value === null) return "";
                                return e.value + " %";
                            }
                        }
                    ],
                    masterDetail: {
                        enabled: true,
                        template: SudutPandangRekeningSubRincian
                    },
                    export: {
                        enabled: true,
                        allowExportSelectedData: false,
                        formats: ["xlsx", "pdf"]
                    },
                    onExporting: exportGrid,
                    width: "100%"
                })
        }

        function SudutPandangRekeningSubRincian(container, options) {
            var data = options.data.RekSubRincians;
            var $wrapper = $("<div>").appendTo(container);
            $("<p>")
                .text("Subrincian")
                .css({ "font-weight": "bold", "margin-bottom": "5px" })
                .appendTo($wrapper);
            $("<div>")
                .appendTo($wrapper)
                .dxDataGrid({
                    dataSource: data,
                    showBorders: true,
                    showColumnHeaders: true,
                    showColumnLines: true,
                    showRowLines: true,
                    allowColumnResizing: true,
                    allowColumnReordering: true,
                    columnAutoWidth: true,
                    sorting: { mode: "multiple" },
                    filterRow: {
                        visible: true,
                        applyFilter: "auto"
                    },
                    headerFilter: { visible: true },
                    paging: { pageSize: 99999 },
                    pager: { visible: false  },
                    columns: [
                        { dataField: "Col.Nama", caption: "Nama", fixed: true,  fixedPosition: "left" },
                        { dataField: "Col.TargetTahun1", caption: "Target", format: "#,##0" },
                        { dataField: "Col.RealisasiTahun1", caption: "Realisasi", format: "#,##0" },
                        { dataField: "Col.PersentaseTahun1", caption: "%",
                            format: {
                                type: "fixedPoint",
                                precision: 2
                                },
                            customizeText: function(e) {
                                if (e.value === null) return "";
                                return e.value + " %";
                            }
                        }
                    ],
                    export: {
                        enabled: true,
                        allowExportSelectedData: false,
                        formats: ["xlsx", "pdf"]
                    },
                    onExporting: exportGrid,
                    width: "100%"
                })
        }
    </script>

    @* TIPE 2 *@
    <script>
        function ShowSeriesSudutPandangOpdSubOpd(container, options) {
            var data = options.data.RekSubOpds;
            var $wrapper = $("<div>").appendTo(container);

            $("<p>")
                .text("Kelompok")
                .css({ "font-weight": "bold", "margin-bottom": "5px" })
                .appendTo($wrapper);
            $("<div>")
                .appendTo($wrapper)
                .dxDataGrid({
                    dataSource: data,
                    showBorders: true,
                    showColumnHeaders: true,
                    showColumnLines: true,
                    showRowLines: true,
                    allowColumnResizing: true,
                    allowColumnReordering: true,
                    columnAutoWidth: true,
                    sorting: { mode: "multiple" }, 
                    filterRow: {
                        visible: true,
                        applyFilter: "auto"
                    },
                    headerFilter: { visible: true },
                    paging: { pageSize: 99999 },
                    pager: { visible: false  },
                    columns: [
                        { dataField: "Col.Nama", caption: "Nama", fixed: true,  fixedPosition: "left" },
                        { dataField: "Col.TargetTahun1", caption: "Target", format: "#,##0" },
                        { dataField: "Col.RealisasiTahun1", caption: "Realisasi", format: "#,##0" },
                        { dataField: "Col.PersentaseTahun1", caption: "%", 
                            format: {
                                type: "fixedPoint",
                                precision: 2
                                },
                            customizeText: function(e) {
                                if (e.value === null) return "";
                                return e.value + " %";
                            } 
                        }
                    ],
                    export: {
                        enabled: true,
                        allowExportSelectedData: false,
                        formats: ["xlsx", "pdf"]
                    },
                    onExporting: exportGrid,
                    width: "100%"
                })
        }
    </script>

    @* TIPE 3 *@
    <script>
        function SudutPandangRekeningJenisObjekOpdObjek(container, options) {
            var data = options.data.RekObyeks;
            var $wrapper = $("<div>").appendTo(container);

            $("<p>")
                .text("Per Objek")
                .css({ "font-weight": "bold", "margin-bottom": "5px" })
                .appendTo($wrapper);
            $("<div>")
                .appendTo($wrapper)
                .dxDataGrid({
                    dataSource: data,
                    showBorders: true,
                    showColumnHeaders: true,
                    showColumnLines: true,
                    showRowLines: true,
                    allowColumnResizing: true,
                    allowColumnReordering: true,
                    columnAutoWidth: true,
                    sorting: { mode: "multiple" },
                    filterRow: {
                        visible: true,
                        applyFilter: "auto"
                    },
                    headerFilter: { visible: true },
                    paging: { pageSize: 99999 },
                    pager: { visible: false  },
                    columns: [
                        { dataField: "Col.Nama", caption: "Nama", fixed: true,  fixedPosition: "left" },
                        { dataField: "Col.TargetTahun1", caption: "Target", format: "#,##0" },
                        { dataField: "Col.RealisasiTahun1", caption: "Realisasi", format: "#,##0" },
                        { dataField: "Col.PersentaseTahun1", caption: "%",
                            format: {
                                type: "fixedPoint",
                                precision: 2
                                },
                            customizeText: function(e) {
                                if (e.value === null) return "";
                                return e.value + " %";
                            }
                        }
                    ],
                    masterDetail: {
                        enabled: true,
                        template: SudutPandangRekeningJenisObjekOpdOpd
                    },
                    export: {
                        enabled: true,
                        allowExportSelectedData: false,
                        formats: ["xlsx", "pdf"]
                    },
                    onExporting: exportGrid,
                    width: "100%"
                })
        }
        function SudutPandangRekeningJenisObjekOpdOpd(container, options) {
            var data = options.data.RekOpds;
            var $wrapper = $("<div>").appendTo(container);

            $("<p>")
                .text("Per OPD")
                .css({ "font-weight": "bold", "margin-bottom": "5px" })
                .appendTo($wrapper);
            $("<div>")
                .appendTo($wrapper)
                .dxDataGrid({
                    dataSource: data,
                    showBorders: true,
                    showColumnHeaders: true,
                    showColumnLines: true,
                    showRowLines: true,
                    allowColumnResizing: true,
                    allowColumnReordering: true,
                    columnAutoWidth: true,
                    sorting: { mode: "multiple" },
                    filterRow: {
                        visible: true,
                        applyFilter: "auto"
                    },
                    headerFilter: { visible: true },
                    paging: { pageSize: 99999 },
                    pager: { visible: false  },
                    columns: [
                        { dataField: "Col.Nama", caption: "Nama", fixed: true,  fixedPosition: "left" },
                        { dataField: "Col.TargetTahun1", caption: "Target", format: "#,##0" },
                        { dataField: "Col.RealisasiTahun1", caption: "Realisasi", format: "#,##0" },
                        { dataField: "Col.PersentaseTahun1", caption: "%",
                            format: {
                                type: "fixedPoint",
                                precision: 2
                                },
                            customizeText: function(e) {
                                if (e.value === null) return "";
                                return e.value + " %";
                            }
                        }
                    ],
                    masterDetail: {
                        enabled: true,
                        template: SudutPandangRekeningJenisObjekOpdSubrincian
                    },
                    export: {
                        enabled: true,
                        allowExportSelectedData: false,
                        formats: ["xlsx", "pdf"]
                    },
                    onExporting: exportGrid,
                    width: "100%"
                })
        }
        function SudutPandangRekeningJenisObjekOpdSubrincian(container, options) {
            var data = options.data.RekSubRincians;
            var $wrapper = $("<div>").appendTo(container);

            $("<p>")
                .text("Per Sub Rincian")
                .css({ "font-weight": "bold", "margin-bottom": "5px" })
                .appendTo($wrapper);
            $("<div>")
                .appendTo($wrapper)
                .dxDataGrid({
                    dataSource: data,
                    showBorders: true,
                    showColumnHeaders: true,
                    showColumnLines: true,
                    showRowLines: true,
                    allowColumnResizing: true,
                    allowColumnReordering: true,
                    columnAutoWidth: true,
                    sorting: { mode: "multiple" },
                    filterRow: {
                        visible: true,
                        applyFilter: "auto"
                    },
                    headerFilter: { visible: true },
                    paging: { pageSize: 99999 },
                    pager: { visible: false  },
                    columns: [
                        { dataField: "Col.Nama", caption: "Nama", fixed: true,  fixedPosition: "left" },
                        { dataField: "Col.TargetTahun1", caption: "Target", format: "#,##0" },
                        { dataField: "Col.RealisasiTahun1", caption: "Realisasi", format: "#,##0" },
                        { dataField: "Col.PersentaseTahun1", caption: "%",
                            format: {
                                type: "fixedPoint",
                                precision: 2
                                },
                            customizeText: function(e) {
                                if (e.value === null) return "";
                                return e.value + " %";
                            }
                        }
                    ],
                    export: {
                        enabled: true,
                        allowExportSelectedData: false,
                        formats: ["xlsx", "pdf"]
                    },
                    onExporting: exportGrid,
                    width: "100%"
                })
        }
    </script>
}