@using MonPDReborn.Models.AktivitasOP
@model MonPDReborn.Models.AktivitasOP.SeriesPendapatanDaerahVM.Show

<p style="font-weight: bold; margin-bottom: 5px;">Per Opd</p>
@(
Html.DevExtreme().DataGrid<SeriesPendapatanDaerahVMMethod.ViewModel.ShowSeriesSudutPandangOpd.Opd>()
    .ID($"dg-SudutPandangOpd{Model.Seq}")
    .DataSource(Model.SudutPandangOpd)
    .KeyExpr("Col.Kode")
    .ShowBorders(true)
    .ShowColumnHeaders(true)
    .ShowColumnLines(true)
    .ShowRowLines(true)

    // Enable sorting & filtering
    .AllowColumnResizing(true)
    .AllowColumnReordering(true)
    .ColumnAutoWidth(true)

    .Sorting(s => s.Mode(GridSortingMode.Multiple))
    .FilterRow(f => f
    .Visible(true)
    .ApplyFilter(GridApplyFilterMode.Auto)  // Bisa juga OnClick
    )
    
    .Export(e => e.Enabled(true).AllowExportSelectedData(false).Formats(new[] { "xlsx", "pdf" }))
    .OnExporting("exportGrid")
    .HeaderFilter(hf => hf.Visible(true))
    .Columns(columns => {
        columns.AddFor(m => m.Col.Nama).Caption("Nama").Fixed(true).FixedPosition(HorizontalEdge.Left);
        columns.AddFor(m => m.Col.TargetTahun1).Caption("Target").Format("#,##0");
        columns.AddFor(m => m.Col.RealisasiTahun1).Caption("Realisasi").Format("#,##0");
        columns.AddFor(m => m.Col.PersentaseTahun1).Caption("%").Format("#,##0.##'%'");
    })
    .Summary(s => s
        .TotalItems(items =>
        {
            items.AddFor(x => x.Col.Nama).SummaryType(SummaryType.Sum).DisplayFormat("TOTAL");

            // Tahun 7
            items.AddFor(x => x.Col.TargetTahun1)
                .SummaryType(SummaryType.Sum)
                .ValueFormat("#,##0")
                .DisplayFormat("{0}");

            items.AddFor(x => x.Col.RealisasiTahun1)
                .SummaryType(SummaryType.Sum)
                .ValueFormat("#,##0")
                .DisplayFormat("{0}");

            items.AddFor(x => x.Col.PersentaseTahun1)
                .SummaryType(SummaryType.Sum)
                .ValueFormat("#,##0")
                .DisplayFormat("0");
        })
    )
    .OnContentReady("function(e) { hitungPersentase(e); }")
    .MasterDetail(md => md
    .Enabled(true)
    .Template(new JS("ShowSeriesSudutPandangOpdSubOpd"))
    )
)