@model MonPDReborn.Models.AktivitasOP.SeriesPendapatanDaerahVM.Show
@{

}

@{
    switch (Model.Type)
    {
        case 1:
            <h4>SUDUT PANDANG AKUN</h4>
            @await Html.PartialAsync("~/Views/AktivitasOP/SeriesPendapatanDaerah/ShowSudutPandangRekening.cshtml", Model);
            break;
        case 2:
            <h4>SUDUT PANDANG OPD - SUB OPD</h4>
            @await Html.PartialAsync("~/Views/AktivitasOP/SeriesPendapatanDaerah/SudutPandangOpd.cshtml", Model);
            break;
        case 3:
            <h4>SUDUT PANDANG AKUN [JENIS - OPD - SUBRINCIAN]</h4>
            @await Html.PartialAsync("~/Views/AktivitasOP/SeriesPendapatanDaerah/SudutPandangRekeningJenisObjekOpd.cshtml", Model);
            break;
        default:
            break;
    }
} 