@model MonPDReborn.Models.AktivitasOP.SeriesPendapatanDaerahVM.Show
@{

}




@{
    switch (Model.Type)
    {
        case 1:
            <h4 class="text-center">SUDUT PANDANG AKUN @(Model.Tahun)</h4>
            @await Html.PartialAsync("~/Views/AktivitasOP/SeriesPendapatanDaerah/ShowSudutPandangRekening.cshtml", Model);
            break;
        case 2:
            <h4 class="text-center">SUDUT PANDANG OPD - SUB OPD @(Model.Tahun)</h4>
            @await Html.PartialAsync("~/Views/AktivitasOP/SeriesPendapatanDaerah/ShowSudutPandangOpd.cshtml", Model);
            break;
        case 3:
            <h4 class="text-center">SUDUT PANDANG AKUN [JENIS - OPD - SUBRINCIAN] @(Model.Tahun)</h4>
            @await Html.PartialAsync("~/Views/AktivitasOP/SeriesPendapatanDaerah/ShowSudutPandangRekeningJenisObjekOpd.cshtml", Model);
            break;
        default:
            break;
    }
} 