@using static MonPDReborn.Models.DataOP.PADSummaryVM.ViewModels
@model MonPDReborn.Models.DataOP.PADSummaryVM.DetailBayarAll

<div class="table-responsive">
    @(
        Html.DevExtreme().DataGrid<DetailBayarAll>()
        .ID("detailOPbayarallGrid")
        .DataSource(Model.Data)
        .ShowBorders(true)
        .ShowColumnLines(true)
        .RowAlternationEnabled(true)
        .ShowRowLines(true)
        .ShowColumnHeaders(true)
        .ColumnAutoWidth(true)
        .Paging(p => p.PageSize(10))
        .Pager(p => p
        .ShowPageSizeSelector(true)
        .AllowedPageSizes(new[] { 5, 10, 20 })
        .ShowInfo(true)
        )
        .Columns(columns =>
        {
            columns.AddFor(m => m.FormattedNOP).Caption("NOP");
            columns.AddFor(m => m.NamaOP).Caption("Nama OP");
            columns.AddFor(m => m.Alamat).Caption("Alamat OP");
            columns.AddFor(m => m.TglBayar).Caption("Tgl SSPD");
            columns.AddFor(m => m.SudahBayar).Caption("Realisasi").Format("#,##0");
        })
        .Summary(summary =>
        {
            summary.TotalItems(items =>
            {
                items.AddFor(m => m.Alamat)
            .SummaryType(SummaryType.Sum)
            .DisplayFormat("Total");
                items.AddFor(m => m.SudahBayar)
            .SummaryType(SummaryType.Sum)
            .ValueFormat("#,##0")
            .DisplayFormat("{0}");
            });
        })
        )
</div>