@using static MonPDReborn.Models.DataOP.PADSummaryVM.ViewModels
@model MonPDReborn.Models.DataOP.PADSummaryVM.DetailUpaya

<div class="table-responsive">
    @(
        Html.DevExtreme().DataGrid<DetailUpaya>()
        .ID("detailupayaOPGrid")
        .DataSource(Model.Data)
        .ShowBorders(true)
        .ShowColumnHeaders(true)
        .ShowColumnLines(true)
        .ShowRowLines(true)
        .AllowColumnResizing(true)
        .RowAlternationEnabled(true)
        .ColumnAutoWidth(true)
            .SearchPanel(s => s.Visible(true).HighlightCaseSensitive(false))
            .FilterRow(f => f.Visible(true))
            .HeaderFilter(h => h.Visible(true))
            .Sorting(s => s.Mode(GridSortingMode.Multiple))
        .Paging(p => p.PageSize(20))
        .Pager(p => p
            .ShowPageSizeSelector(true)
            .AllowedPageSizes(new[] { 10, 20, 50 })
            .ShowInfo(true)
        )
        .SearchPanel(sp => sp
            .Visible(true)
            .Width(240)
            .Placeholder("Cari...")
        )
        .Export(e => e.Enabled(true).AllowExportSelectedData(false).Formats(new[] { "xlsx", "pdf" }))
        .OnExporting("exportGrid")
        .Columns(columns =>
        {
            columns.AddFor(m => m.FormattedNOP).Caption("NOP").CellTemplate(new JS("detailOPCellTemplate"));
            columns.AddFor(m => m.NamaOP).Caption("Nama OP");
            columns.AddFor(m => m.Alamat).Caption("Alamat OP");
            columns.AddFor(m => m.Alamat).Caption("Wilayah Pajak");
            columns.AddFor(m => m.TglUpaya).Caption("Tgl Upaya");
            @* columns.AddFor(m => m.SudahBayar).Caption("Realisasi").Format("#,##0"); *@
        })
        @* .Summary(summary =>
        {
            summary.TotalItems(items =>
            {
                items.AddFor(m => m.Alamat)
            .SummaryType(SummaryType.Sum)
            .DisplayFormat("Total");
                items.AddFor(m => m.SudahBayar)
            .SummaryType(SummaryType.Sum)
            .ValueFormat("#,##0")
            .DisplayFormat("{0}");
            });
        }) *@
        )
</div>