@model MonPDReborn.Models.DataOP.PADSummaryVM.Index

@{
    ViewData["Title"] = "PAD Summary";
    Layout = "_Layout";
}

<div class="row">

    <div class="col-lg-12">
        <div class="card">
            <div class="card-header d-flex bg-header-color align-items-center">
                <div class="flex-grow-1">
                    <h4 class="card-title text-dark fs-16 mb-0">
                        PAD Summary
                    </h4>
                </div>
            </div>
            <div class="card-body">
                <div class="row mt-3 ms-0">

                    <div class="col-lg-2">
                        @(Html.DevExtreme().SelectBox()
                                                .ID("SelectedTahun")
                                                .Value(Model.SelectedTahun)
                                                .DataSource(Model.TahunList)
                                                .DisplayExpr("Text")
                                                .ValueExpr("Value")
                                                .SearchEnabled(true)
                                                .Value(DateTime.Now.Year.ToString())
                                                .Placeholder("Pilih Tahun")
                                                .StylingMode(EditorStylingMode.Outlined)
                                                .ElementAttr("class", "form-select mb-3")
                                                )
                    </div>

                    <div class="col-lg-2">
                        @(Html.DevExtreme().SelectBox()
                                                .ID("SelectedBulan")
                                                .Value(Model.SelectedBulan)
                                                .DataSource(Model.BulanList)
                                                .DisplayExpr("Text")
                                                .ValueExpr("Value")
                                                .SearchEnabled(true)
                                                .Value(Model.SelectedBulan.ToString())
                                                .Placeholder("Pilih Bulan")
                                                .StylingMode(EditorStylingMode.Outlined)
                                                .ElementAttr("class", "form-select mb-3")
                                                )
                    </div>

                    <div class="col-lg-2">
                        <button type="button" class="btn btn-success w-80">
                            <i class="bi bi-funnel-fill me-1"></i> Terapkan Filter
                        </button>
                    </div>

                </div>

                <div class="text-center">
                    <div id="loading2-Show" class="spinner-border text-primary" style="display: none">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
                <div id="Show"></div>

            </div>
        </div>
    </div>

</div>



@section Scripts{
    <script>
        $(document).ready(function () {

            const currentYear = new Date().getFullYear();
            const currentMonth = (new Date().getMonth() + 1).toString();

            $("#SelectedTahun").dxSelectBox("instance").option("value", currentYear.toString());
            $("#SelectedBulan").dxSelectBox("instance").option("value", currentMonth);

            show();

            $("#btn-success").on("click", function () {
                show();
            });
        });

        function show() {
            const tahun = $("#SelectedTahun").dxSelectBox("instance").option("value");
            const bulan = $("#SelectedBulan").dxSelectBox("instance").option("value");

            $.ajax({
                url: '/PADSummary/Show', 
                type: 'GET',
                data: { tahun: tahun, bulan: bulan },
                beforeSend: function () {
                    $('#loading2-Show').show();
                    $('#Show').hide();
                },
                success: function (response) {
                    if (response.Status === undefined) {
                        $('#loading2-Show').hide();
                        $('#Show').show();
                        $('#Show').html(response);
                    } else {
                        Swal.fire({
                            icon: 'warning',
                            title: '<b style="color:orange">Peringatan</b>',
                            text: response.Message
                        });
                    }
                },
                error: function () {
                    $('#loading2-Show').hide();
                    $('#Show').hide();
                    $('#Show').html('<p class="text-danger">Terjadi kesalahan saat memuat data.</p>');
                }
            });
        }
    </script>
    <script>
        function opBayarCelltemplate(cellElement, cellInfo) {
            const jumlah = cellInfo.value ?? 0;
            const tahun = cellInfo.data.Tahun;
            const bulan = cellInfo.data.Bulan;
            const pajakId = cellInfo.data.PajakID;
            const kategoriId = cellInfo.data.KategoriID;


            const $link = $('<a>')
                .addClass('value-link text-decoration-none')
                .attr('href', 'javascript:void(0);')
                .attr('title', 'Lihat Detail')
                .text(jumlah.toLocaleString('id-ID'))
                .on('click', () => {
                    loadOPBayar(tahun, bulan, pajakId, kategoriId);
                });

            const $wrapper = $('<div>')
                .css({
                    display: 'flex',
                    alignItems: 'center',
                    justifyContent: 'flex-end'
                })
                .append($link);

            $(cellElement).append($wrapper);
        }
        function loadOPBayar(tahun, bulan, pajakId, kategoriId) {

            // if (!rowData) {
            //     DevExpress.ui.notify("Data tidak ditemukan", "error", 2000);
            //     return;
            // }

            // const nop = rowData.NOP; <-- Perbaikan di sini

            // if (!nop) {
            //     DevExpress.ui.notify("NOP tidak valid", "warning", 2000);
            //     return;
            // }

            const $modal = $("#staticBackdropLargeScrollable");
            $modal.find(".modal-title").text(`Detail PBB`);
            $modal.find(".modal-body").html(`
                <div class="text-center my-3">
                    <div class="spinner-border text-primary" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
            `);
            $modal.modal("show");

            $.ajax({
                url: '/PADSummary/DetailOPbuka',
                type: 'GET',
                data: {
                    tahun: tahun,
                    bulan: bulan,
                    pajakId: pajakId,
                    kategoriId: kategoriId
                },
                success: function (response) {
                    $modal.find(".modal-body").html(response);
                },
                error: function () {
                    $modal.find(".modal-body").html(`
                        <div class="alert alert-danger">
                            Gagal memuat detail data.
                        </div>
                    `);
                }
            });
        }
    </script>
}