@model MonPDReborn.Models.AktivitasOP.PemasanganAlatVM.Detail


<div class="table-responsive">
    @(Html.DevExtreme().DataGrid<MonPDReborn.Models.AktivitasOP.PemasanganAlatVM.DetailPemasanganAlat>()
        .ID("detailGrid")
        .DataSource(Model.DetailPemasanganAlatList)
        .KeyExpr("JenisPajak")
        .ShowBorders(true)
        .ShowColumnLines(true)
        .RowAlternationEnabled(true)
        .Paging(p => p.PageSize(10))
        .Pager(p => p
        .ShowPageSizeSelector(true)
        .AllowedPageSizes(new[] { 5, 10, 20 })
        .ShowInfo(true)
        )
        .Columns(columns =>
        {
            columns.AddFor(m => m.JenisPajak).Caption("Jenis Pajak").Alignment(HorizontalAlignment.Center);
            columns.AddFor(m => m.JumlahOP).Caption("Jumlah OP").Alignment(HorizontalAlignment.Center);
            columns.AddFor(m => m.TerpasangTS).Caption("Terpasang TS").Alignment(HorizontalAlignment.Center);
            columns.AddFor(m => m.TerpasangTB).Caption("Terpasang TB").Alignment(HorizontalAlignment.Center);
            columns.AddFor(m => m.TerpasangSB).Caption("Terpasang SB").Alignment(HorizontalAlignment.Center);
        })
        
        
        .Summary(summary =>
            {
                summary.TotalItems(items =>
                {
                    items.AddFor(m => m.JenisPajak)
                         .SummaryType(SummaryType.Sum)
                         .DisplayFormat("Total");

                    items.AddFor(m => m.JumlahOP)
                         .SummaryType(SummaryType.Sum)
                         .DisplayFormat("{0}");

                    items.AddFor(m => m.TerpasangTS)
                         .SummaryType(SummaryType.Sum)
                         .DisplayFormat("{0}");

                    items.AddFor(m => m.TerpasangTB)
                         .SummaryType(SummaryType.Sum)
                         .DisplayFormat("{0}");

                    items.AddFor(m => m.TerpasangSB)
                         .SummaryType(SummaryType.Sum)
                         .DisplayFormat("{0}");
                });
            })
        .MasterDetail(md => md
        .Enabled(true)
        .Template(new JS("subDetailTemplate"))
        )
    )
</div>


