@model MonPDReborn.Models.AktivitasOP.PemasanganAlatVM.Detail


<div class="table-responsive">
    @(Html.DevExtreme().DataGrid<MonPDReborn.Models.AktivitasOP.PemasanganAlatVM.DetailPemasanganAlat>()
        .ID("detailGrid")
        .DataSource(Model.DetailPemasanganAlatList)
        .KeyExpr("JenisPajak")
        .ShowBorders(true)
        .ColumnAutoWidth(true)
        .ShowRowLines(true)
        .Columns(columns =>
        {
            columns.AddFor(m => m.JenisPajak).Caption("Jenis Pajak");
            columns.AddFor(m => m.JumlahOP).Caption("Jumlah OP");
            columns.AddFor(m => m.TerpasangTS).Caption("TS");
            columns.AddFor(m => m.TerpasangTB).Caption("TB");
            columns.AddFor(m => m.TerpasangSB).Caption("SB");
        })
        
        
        .Summary(summary =>
            {
                summary.TotalItems(items =>
                {
                    items.AddFor(m => m.JumlahOP)
                         .SummaryType(SummaryType.Sum)
                         .DisplayFormat("Total: {0}");

                    items.AddFor(m => m.TerpasangTS)
                         .SummaryType(SummaryType.Sum)
                         .DisplayFormat("{0}");

                    items.AddFor(m => m.TerpasangTB)
                         .SummaryType(SummaryType.Sum)
                         .DisplayFormat("{0}");

                    items.AddFor(m => m.TerpasangSB)
                         .SummaryType(SummaryType.Sum)
                         .DisplayFormat("{0}");
                });
            })
        .MasterDetail(md => md
        .Enabled(true)
        .Template(new JS("subDetailTemplate"))
        )
    )
</div>


