@using MonPDReborn.Models.AktivitasOP
@model PemasanganAlatVM.Show

<div class="table-responsive">
    @(Html.DevExtreme().DataGrid<PemasanganAlatVM.SeriesPemasanganAlat>()
        .ID("pemasanganAlatGrid")
        .DataSource(Model.SeriesPemasanganAlatList)
        .ShowBorders(true)
        .ShowColumnLines(true)
        .RowAlternationEnabled(true)
        .Paging(p => p.PageSize(10))
        .Pager(p => p
        .ShowPageSizeSelector(true)
        .AllowedPageSizes(new[] { 5, 10, 20 })
        .ShowInfo(true)
        )
        .Columns(columns =>
        {
            columns.AddFor(m => m.JenisPajak).Caption("Jenis Pajak");
            columns.AddFor(m => m.JumlahOP).Caption("Jumlah OP");
            
            // Kolom-kolom tahunan
            columns.Add().Caption("2021").Columns(sub => {
                sub.AddFor(m => m.Terpasang2021).Caption("Terpasang");
                sub.AddFor(m => m.BelumTerpasang2021).Caption("Belum Terpasang");
            }).Alignment(HorizontalAlignment.Center);
            columns.Add().Caption("2022").Columns(sub => {
                sub.AddFor(m => m.Terpasang2022).Caption("Terpasang");
                sub.AddFor(m => m.BelumTerpasang2022).Caption("Belum Terpasang");
            }).Alignment(HorizontalAlignment.Center);
            columns.Add().Caption("2023").Columns(sub => {
                sub.AddFor(m => m.Terpasang2023).Caption("Terpasang");
                sub.AddFor(m => m.BelumTerpasang2023).Caption("Belum Terpasang");
            }).Alignment(HorizontalAlignment.Center);
            columns.Add().Caption("2024").Columns(sub => {
                sub.AddFor(m => m.Terpasang2024).Caption("Terpasang");
                sub.AddFor(m => m.BelumTerpasang2024).Caption("Belum Terpasang");
            }).Alignment(HorizontalAlignment.Center);
        })
        .Summary(summary =>
        {
            summary.TotalItems(items =>
            {
                items.AddFor(m => m.JenisPajak)
                .SummaryType(SummaryType.Sum)
                .DisplayFormat("Total");
               
                items.AddFor(m => m.Terpasang2021)
                .SummaryType(SummaryType.Sum)
                .DisplayFormat("{0}");

                items.AddFor(m => m.BelumTerpasang2021)
                .SummaryType(SummaryType.Sum)
                .DisplayFormat("{0}");

                items.AddFor(m => m.Terpasang2022)
                .SummaryType(SummaryType.Sum)
                .DisplayFormat("{0}");

                items.AddFor(m => m.BelumTerpasang2022)
                .SummaryType(SummaryType.Sum)
                .DisplayFormat("{0}");

                items.AddFor(m => m.Terpasang2023)
                .SummaryType(SummaryType.Sum)
                .DisplayFormat("{0}");

                items.AddFor(m => m.BelumTerpasang2023)
                .SummaryType(SummaryType.Sum)
                .DisplayFormat("{0}");

                items.AddFor(m => m.Terpasang2024)
                .SummaryType(SummaryType.Sum)
                .DisplayFormat("{0}");

                items.AddFor(m => m.BelumTerpasang2024)
                .SummaryType(SummaryType.Sum)
                .DisplayFormat("{0}");
            });
        })
        )

</div>