@using MonPDReborn.Models.AktivitasOP
@model PemasanganAlatVM.Show
@{
    var currentYear = DateTime.Now.Year;
    var tahun1 = (currentYear - 4).ToString();
    var tahun2 = (currentYear - 3).ToString();
    var tahun3 = (currentYear - 2).ToString();
    var tahun4 = (currentYear - 1).ToString();
    var tahun5 = currentYear.ToString();
}

<div class="table-responsive">
    @(
        Html.DevExtreme().DataGrid<PemasanganAlatVM.SeriesPemasanganAlat>()
            .ID("pemasanganAlatGrid")
            .DataSource(Model.SeriesPemasanganAlatList)
            .ShowBorders(true)
            .ShowColumnLines(true)
            .RowAlternationEnabled(true)
            .ShowRowLines(true)
            .ShowColumnHeaders(true)
            .ColumnAutoWidth(true)
            .Paging(p => p.PageSize(10))
            .Pager(p => p
            .ShowPageSizeSelector(true)
            .AllowedPageSizes(new[] { 5, 10, 20 })
            .ShowInfo(true)
            )
            .Columns(columns =>
            {
                columns.AddFor(m => m.JenisPajak).Caption("Jenis Pajak").Fixed(true);
                columns.AddFor(m => m.JumlahOP).Caption("Jumlah OP").Format("#,##0");

                columns.Add().Caption("Terapasang").Columns(sub =>
                {
                    sub.AddFor(m => m.TahunMines4).Caption(tahun1).Format("#,##0");
                    sub.AddFor(m => m.TahunMines3).Caption(tahun2).Format("#,##0");
                    sub.AddFor(m => m.TahunMines2).Caption(tahun3).Format("#,##0");
                    sub.AddFor(m => m.TahunMines1).Caption(tahun4).Format("#,##0");
                    sub.AddFor(m => m.TahunNow).Caption(tahun5).Format("#,##0");
                });
                
                columns.AddFor(m => m.TotalTerpasang).Caption("Total Terpassang").Format("#,##0");
                columns.AddFor(m => m.BelumTahunNow).Caption("Belum Terpasang").Format("#,##0");
            })
            .Summary(summary =>
            {
                summary.TotalItems(items =>
                {
                    items.AddFor(m => m.JenisPajak)
                .SummaryType(SummaryType.Sum)
                .ValueFormat("#,##0")
                .DisplayFormat("Total");

                    items.AddFor(m => m.JumlahOP)
                .SummaryType(SummaryType.Sum)
                .ValueFormat("#,##0")
                .DisplayFormat("{0}");

                    items.AddFor(m => m.TahunMines4)
                .SummaryType(SummaryType.Sum)
                .ValueFormat("#,##0")
                .DisplayFormat("{0}");

                    items.AddFor(m => m.TahunMines3)
                .SummaryType(SummaryType.Sum)
                .ValueFormat("#,##0")
                .DisplayFormat("{0}");

                    items.AddFor(m => m.TahunMines2)
                .SummaryType(SummaryType.Sum)
                .ValueFormat("#,##0")
                .DisplayFormat("{0}");

                    items.AddFor(m => m.TahunMines1)
                .SummaryType(SummaryType.Sum)
                .ValueFormat("#,##0")
                .DisplayFormat("{0}");

                    items.AddFor(m => m.TahunNow)
                .SummaryType(SummaryType.Sum)
                .ValueFormat("#,##0")
                .DisplayFormat("{0}");

                    items.AddFor(m => m.TotalTerpasang)
                .SummaryType(SummaryType.Sum)
                .ValueFormat("#,##0")
                .DisplayFormat("{0}");
            
                    items.AddFor(m => m.BelumTahunNow)
                .SummaryType(SummaryType.Sum)
                .ValueFormat("#,##0")
                .DisplayFormat("{0}");

                });
            }).MasterDetail(md => md
            .Enabled(true)
            .Template(
        @<text>
            @{
            ViewData["JenisPajak"] = new JS("data.EnumPajak");
            }
            @await Html.PartialAsync("/Views/AktivitasOP/PemasanganAlat/_ShowDetail.cshtml")
        </text>)
            )
        )

</div>