@using MonPDReborn.Models.Aktivitas
@model PemasanganAlatVM.Show

@{
    ViewData["Title"] = "Pemasangan Alat";
    Layout = "_Layout";
}
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header d-flex">
                <div class="flex-grow-1">
                    <h4 class="card-title fs-16 mb-0">
                        Pemasangan Alat
                    </h4>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header d-flex">
                <div class="flex-grow-1">
                    <h4 class="card-title fs-16 mb-0">
                        Jumlah Terpasang dan Belum Terpasang Tahun
                    </h4>
                </div>
            </div>
            <div class="card-body">
                <div id="Show"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header d-flex">
                <div class="flex-grow-1">
                    <h4 class="card-title fs-16 mb-0">
                        Detail Pemasangan Alat Pada Objek Pajak
                    </h4>
                </div>
            </div>
            <div class="card-body">
                <div id="Detail"></div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            loadShow();      // Panggil data rekap jumlah
            loadDetail("");  // Panggil semua data detail saat pertama load
        });

        function loadShow() {
            $.ajax({
                url: '@Url.Action("Show", "PemasanganAlatVM")',
                type: 'GET',
                success: function (result) {
                    $('#Show').html(result);
                },
                error: function () {
                    $('#Show').html('<div class="alert alert-danger">Gagal memuat data Show.</div>');
                }
            });
        }

        function loadDetail(jenisPajak) {
            $.ajax({
                url: '@Url.Action("Detail", "PemasanganAlatVM")',
                type: 'GET',
                data: { jenisPajak: jenisPajak },
                success: function (result) {
                    $('#Detail').html(result);
                },
                error: function () {
                    $('#Detail').html('<div class="alert alert-danger">Gagal memuat data Detail.</div>');
                }
            });
        }
    </script>
}

