@model MonPDReborn.Models.DataOP.PenetapanOPVM.Show

<div class="row justify-content">
    <div class="col-lg-4">
        <div class="card shadow-sm p-3 border border-warning border-3">
            <h4 class="fs-14 text-muted mb-3">Total Penetapan</h4>
            <h4 class="fs-16 fw-bold mb-1">@MonPDLib.General.Extension.FormatRupiahFull(Model.StatistikData.TotalNilaiPenetapan)</h4>
            <small>+0.0% dari bulan lalu</small>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="card shadow-sm p-3 border border-success border-3">
            <h4 class="fs-14 text-muted mb-3">Jumlah SKPD/SPPT</h4>
            <h4 class="fs-16 fw-bold mb-1">@Model.StatistikData.JumlahPenetapan.ToString("N0")</h4>
            <small>+0.0% dari bulan lalu</small>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="card shadow-sm p-3 border border-danger border-3">
            <h4 class="fs-14 text-muted mb-3">Belum Dibayar</h4>
            <h4 class="fs-16 fw-bold mb-1">@MonPDLib.General.Extension.FormatRupiahFull(Model.StatistikData.TotalBelumTerbayar)</h4>
            <small>+0.0% dari total penetapan</small>
        </div>
    </div>
</div>

<div class="table-responsive">
    @(Html.DevExtreme().DataGrid<MonPDReborn.Models.DataOP.PenetapanOPVM.PenetapanOP>()
        .ID("penetapanGrid")
        .DataSource(Model.DataPenetapanOPList)
        .KeyExpr("Nop")
        .Columns(columns =>
        {
            columns.AddFor(m => m.NoPenetapan).Caption("No. Penetapan");
            columns.AddFor(m => m.Nop).Caption("NOP");
            columns.AddFor(m => m.NamaWP).Caption("Nama WP");
            columns.AddFor(m => m.Alamat).Caption("Alamat");
            columns.AddFor(m => m.NilaiPenetapan).Caption("Nilai Penetapan").Format(f => f.Type(Format.Currency).Precision(0).Currency("IDR")).Alignment(HorizontalAlignment.Right);
            columns.AddFor(m => m.MasaPajak).Caption("Masa Pajak");
            columns.AddFor(m => m.Status).Caption("Status").CellTemplate(
            @<text>
                <span class='<%=
                    data.Status === "Sudah Dibayar" ? "badge bg-success" : "badge bg-danger" %>'><%= data.Status %>
                </span>
            </text>);

        })
        .ShowBorders(true)
        .ShowColumnLines(true)
        .ShowColumnHeaders(true)
        .AllowColumnResizing(true)
        .ShowRowLines(true)
        .ColumnAutoWidth(true)
        .SearchPanel(s => s.Visible(true).HighlightCaseSensitive(false))
        .FilterRow(f => f.Visible(true))
        .HeaderFilter(h => h.Visible(true))
        .Sorting(s => s.Mode(GridSortingMode.Multiple))
        .Paging(p => p.PageSize(10))
        .Pager(pager =>
        {
            pager.ShowPageSizeSelector(true);
            pager.AllowedPageSizes(new[] { 10, 20, 50 });
            pager.ShowInfo(true);
        })
        )
</div>