@model MonPDReborn.Models.DataOP.PenetapanOPVM.Index

@{
    ViewBag.Title = "Dashboard Penetapan Pajak";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">

    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <div class="flex-grow-1">
                    <h4 class="card-title fs-16 mb-0">
                        Dashboard Penetapan Objek Pajak
                    </h4>
                </div>
            </div>
            <div class="card-body">
                <h5><i class="dx-icon-filter"></i> Filter Data</h5>
                <div class="row">
                    <div class="col-lg-4">
                        @Html.DropDownListFor(model => model.SelectedPajak,
                                 new SelectList(Model.JenisPajakList, "Value", "Text"),
                                 "Pilih Jenis Pajak",
                                 new { @class = "form-select mb-3" })
                    </div>
                    <div class="col-lg-3">
                        @Html.DropDownListFor(model => model.SelectedTahun,
                                 new SelectList(Model.TahunList, "Value", "Text"),
                                 "Pilih Tahun",
                                 new { @class = "form-select mb-3" })
                    </div>
                    <div class="col-lg-3">
                        @Html.DropDownListFor(model => model.SelectedBulan,
                                 new SelectList(Model.BulanList, "Value", "Text"),
                                 "Pilih Bulan",
                                 new { @class = "form-select mb-3" })
                    </div>
                    <div class="col-lg-2">
                        <button class="btn btn-primary w-100" onclick="loadShow()"><i class="dx-icon-search"></i> Terapkan Filter</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
@* 
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <div class="flex-grow-1">
                    <h4 class="card-title fs-16 mb-0">
                        Tren Penetapan Pajak
                    </h4>
                </div>
            </div>
            <div class="card-body">
                <div id="column_chart"  data-colors='["--vz-danger", "--vz-primary", "--vz-success"]' class="apex-charts" dir="ltr"></div>
            </div>
        </div>
    </div> *@

    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <div class="flex-grow-1">
                    <h4 class="card-title fs-16 mb-0">
                        Rincian Penetapan Pajak
                    </h4>
                </div>
            </div>
            <div class="card-body">
                <div id="Show"></div>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script>
       
        function loadShow() {
            let jenisPajak = $("#SelectedPajak").val();
            let tahun = $("#SelectedTahun").val();
            let bulan = $("#SelectedBulan").val();

            $.ajax({
                url: '@Url.Action("Show", "PenetapanOP")',
                type: 'GET',
                data: {
                    jenisPajak: jenisPajak,
                    tahun: tahun,
                    bulan: bulan
                },
                success: function (response) {
                    if (response.Status === undefined) {
                        $("#Show").html(response);
                    } else {
                        Swal.fire({
                            icon: 'warning',
                            title: '<b style="color:orange">Peringatan</b>',
                            text: response.Message
                        });
                    }
                },
                error: function () {
                    $('#Show').html('<div class="alert alert-danger">Gagal memuat data rekap.</div>');
                }
            });
        }

        function onDetailClick(){

        }
</script>

}