@model MonPDReborn.Models.EvaluasiTarget.KontrolPembayaranVM.Index

@{
    ViewData["Title"] = "Kontrol Pembayaran";
    Layout = "_Layout";
}

<div class="row">

    <div class="col-lg-12">
        <div class="card">
            <div class="card-header d-flex bg-header-color align-items-center">
                <div class="flex-grow-1">
                    <h4 class="card-title text-dark fs-16 mb-0">
                        Dashboard Kontrol Pembayaran
                    </h4>
                </div>
            </div>
            <div class="card-body">
                
                <ul class="nav nav-tabs nav-border-top nav-border-top-primary mb-3" id= "jenisPajakTabs"role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active jenis-pajak-tab" href="#" data-jenis="Hotel" >
                            Hotel
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link jenis-pajak-tab" href="#" data-jenis="Restoran" >
                            Restoran
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link jenis-pajak-tab" href="#" data-jenis="Parkir" >
                            Parkir
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link jenis-pajak-tab" href="#" data-jenis="Hiburan" >
                            Hiburan
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link jenis-pajak-tab" href="#" data-jenis="PPJ" >
                            PPJ
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link jenis-pajak-tab" href="#" data-jenis="PBB" >
                            PBB
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link jenis-pajak-tab" href="#" data-jenis="BPHTB" >
                            BPHTB
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link jenis-pajak-tab" href="#" data-jenis="Reklame" >
                            Reklame
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link jenis-pajak-tab" href="#" data-jenis="AirTanah" >
                            Air Tanah
                        </a>
                    </li>
                </ul>

                <div class="tab-content text-muted">

                    <div class="tab-pane active show" id="kontenTab" role="tabpanel">
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <h4 class="card-title fs-16 mb-0">
                                Kontrol Pembayaran Pajak
                            </h4>

                            <div class="btn-group mb-3" role="group" id="tahunGroup">
                                <button type="button" class="btn btn-outline-primary tahun-link" data-tahun="2021">2021</button>
                                <button type="button" class="btn btn-outline-primary tahun-link" data-tahun="2022">2022</button>
                                <button type="button" class="btn btn-outline-primary tahun-link" data-tahun="2023">2023</button>
                                <button type="button" class="btn btn-outline-primary tahun-link" data-tahun="2024">2024</button>
                                <button type="button" class="btn btn-outline-primary tahun-link active" data-tahun="2025">2025</button>
                            </div>
                        </div>

                        <div id="kontrolPembayaranContainer-Hotel" class="mb-5"></div>
                        <div id="kontrolPembayaranSpinner-Hotel" style="display:none">Loading pembayaran…</div>

                        <h4 class="card-title fs-16 mb-1">
                            Kontrol Upaya Pajak
                        </h4>

                        <div id="kontrolUpayaContainer-Hotel" class="mb-5"></div>
                        <div id="kontrolUpayaSpinner-Hotel" style="display:none">Loading upaya…</div>

                        <h4 class="card-title fs-16 mb-1">
                            Kontrol Potensi Pajak
                        </h4>

                        <div id="kontrolPotensiContainer-Hotel"></div>
                        <div id="kontrolPotensiSpinner-Hotel" style="display:none">Loading potensi…</div>
                    </div>

                    <div class="tab-pane" id="kontenTab" role="tabpanel">
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <h4 class="card-title fs-16 mb-0">
                                Kontrol Pembayaran Pajak
                            </h4>

                            <div class="btn-group mb-3" role="group" id="tahunGroup">
                                <button type="button" class="btn btn-outline-primary tahun-link" data-tahun="2021">2021</button>
                                <button type="button" class="btn btn-outline-primary tahun-link" data-tahun="2022">2022</button>
                                <button type="button" class="btn btn-outline-primary tahun-link" data-tahun="2023">2023</button>
                                <button type="button" class="btn btn-outline-primary tahun-link" data-tahun="2024">2024</button>
                                <button type="button" class="btn btn-outline-primary tahun-link active" data-tahun="2025">2025</button>
                            </div>
                        </div>

                        <div id="kontrolPembayaranContainer-Restoran" class="mb-5"></div>
                        <div id="kontrolPembayaranSpinner-Restoran" style="display:none">Loading pembayaran…</div>

                        <h4 class="card-title fs-16 mb-1">
                            Kontrol Upaya Pajak
                        </h4>

                        <div id="kontrolUpayaContainer-Restoran" class="mb-5"></div>
                        <div id="kontrolUpayaSpinner-Restoran" style="display:none">Loading upaya…</div>

                        <h4 class="card-title fs-16 mb-1">
                            Kontrol Potensi Pajak
                        </h4>

                        <div id="kontrolPotensiContainer-Restoran"></div>
                        <div id="kontrolPotensiSpinner-Restoran" style="display:none">Loading potensi…</div>
                    </div>

                    <div class="tab-pane" id="kontenTab" role="tabpanel">
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <h4 class="card-title fs-16 mb-0">
                                Kontrol Pembayaran Pajak
                            </h4>

                            <div class="btn-group mb-3" role="group" id="tahunGroup">
                                <button type="button" class="btn btn-outline-primary tahun-link" data-tahun="2021">2021</button>
                                <button type="button" class="btn btn-outline-primary tahun-link" data-tahun="2022">2022</button>
                                <button type="button" class="btn btn-outline-primary tahun-link" data-tahun="2023">2023</button>
                                <button type="button" class="btn btn-outline-primary tahun-link" data-tahun="2024">2024</button>
                                <button type="button" class="btn btn-outline-primary tahun-link active" data-tahun="2025">2025</button>
                            </div>
                        </div>

                        <div id="kontrolPembayaranContainer-Parkir" class="mb-5"></div>
                        <div id="kontrolPembayaranSpinner-Parkir" style="display:none">Loading pembayaran…</div>

                        <h4 class="card-title fs-16 mb-1">
                            Kontrol Upaya Pajak
                        </h4>

                        <div id="kontrolUpayaContainer-Parkir" class="mb-5"></div>
                        <div id="kontrolUpayaSpinner-Parkir" style="display:none">Loading upaya…</div>

                        <h4 class="card-title fs-16 mb-1">
                            Kontrol Potensi Pajak
                        </h4>

                        <div id="kontrolPotensiContainer-Parkir"></div>
                        <div id="kontrolPotensiSpinner-Parkir" style="display:none">Loading potensi…</div>
                    </div>

                    <div class="tab-pane" id="kontenTab" role="tabpanel">
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <h4 class="card-title fs-16 mb-0">
                                Kontrol Pembayaran Pajak
                            </h4>

                            <div class="btn-group mb-3" role="group" id="tahunGroup">
                                <button type="button" class="btn btn-outline-primary tahun-link" data-tahun="2021">2021</button>
                                <button type="button" class="btn btn-outline-primary tahun-link" data-tahun="2022">2022</button>
                                <button type="button" class="btn btn-outline-primary tahun-link" data-tahun="2023">2023</button>
                                <button type="button" class="btn btn-outline-primary tahun-link" data-tahun="2024">2024</button>
                                <button type="button" class="btn btn-outline-primary tahun-link active" data-tahun="2025">2025</button>
                            </div>
                        </div>

                        <div id="kontrolPembayaranContainer-Hiburan" class="mb-5"></div>
                        <div id="kontrolPembayaranSpinner-Hiburan" style="display:none">Loading pembayaran…</div>

                        <h4 class="card-title fs-16 mb-1">
                            Kontrol Upaya Pajak
                        </h4>

                        <div id="kontrolUpayaContainer-Hiburan" class="mb-5"></div>
                        <div id="kontrolUpayaSpinner-Hiburan" style="display:none">Loading upaya…</div>

                        <h4 class="card-title fs-16 mb-1">
                            Kontrol Potensi Pajak
                        </h4>

                        <div id="kontrolPotensiContainer-Hiburan"></div>
                        <div id="kontrolPotensiSpinner-Hiburan" style="display:none">Loading potensi…</div>
                    </div>

                    <div class="tab-pane" id="kontenTab" role="tabpanel">
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <h4 class="card-title fs-16 mb-0">
                                Kontrol Pembayaran Pajak
                            </h4>

                            <div class="btn-group mb-3" role="group" id="tahunGroup">
                                <button type="button" class="btn btn-outline-primary tahun-link" data-tahun="2021">2021</button>
                                <button type="button" class="btn btn-outline-primary tahun-link" data-tahun="2022">2022</button>
                                <button type="button" class="btn btn-outline-primary tahun-link" data-tahun="2023">2023</button>
                                <button type="button" class="btn btn-outline-primary tahun-link" data-tahun="2024">2024</button>
                                <button type="button" class="btn btn-outline-primary tahun-link active" data-tahun="2025">2025</button>
                            </div>
                        </div>

                        <div id="kontrolPembayaranContainer-PPJ" class="mb-5"></div>
                        <div id="kontrolPembayaranSpinner-PPJ" style="display:none">Loading pembayaran…</div>

                        <h4 class="card-title fs-16 mb-1">
                            Kontrol Upaya Pajak
                        </h4>

                        <div id="kontrolUpayaContainer-PPJ" class="mb-5"></div>
                        <div id="kontrolUpayaSpinner-PPJ" style="display:none">Loading upaya…</div>

                        <h4 class="card-title fs-16 mb-1">
                            Kontrol Potensi Pajak
                        </h4>

                        <div id="kontrolPotensiContainer-PPJ"></div>
                        <div id="kontrolPotensiSpinner-PPJ" style="display:none">Loading potensi…</div>
                    </div>

                    <div class="tab-pane" id="kontenTab" role="tabpanel">
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <h4 class="card-title fs-16 mb-0">
                                Kontrol Pembayaran Pajak
                            </h4>

                            <div class="btn-group mb-3" role="group" id="tahunGroup">
                                <button type="button" class="btn btn-outline-primary tahun-link" data-tahun="2021">2021</button>
                                <button type="button" class="btn btn-outline-primary tahun-link" data-tahun="2022">2022</button>
                                <button type="button" class="btn btn-outline-primary tahun-link" data-tahun="2023">2023</button>
                                <button type="button" class="btn btn-outline-primary tahun-link" data-tahun="2024">2024</button>
                                <button type="button" class="btn btn-outline-primary tahun-link active" data-tahun="2025">2025</button>
                            </div>
                        </div>

                        <div id="kontrolPembayaranContainer-PBB" class="mb-5"></div>
                        <div id="kontrolPembayaranSpinner-PBB" style="display:none">Loading pembayaran…</div>

                        <h4 class="card-title fs-16 mb-1">
                            Kontrol Upaya Pajak
                        </h4>

                        <div id="kontrolUpayaContainer-PBB" class="mb-5"></div>
                        <div id="kontrolUpayaSpinner-PBB" style="display:none">Loading upaya…</div>

                        <h4 class="card-title fs-16 mb-1">
                            Kontrol Potensi Pajak
                        </h4>

                        <div id="kontrolPotensiContainer-PBB"></div>
                        <div id="kontrolPotensiSpinner-PBB" style="display:none">Loading potensi…</div>
                    </div>

                    <div class="tab-pane" id="kontenTab" role="tabpanel">
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <h4 class="card-title fs-16 mb-0">
                                Kontrol Pembayaran Pajak
                            </h4>

                            <div class="btn-group mb-3" role="group" id="tahunGroup">
                                <button type="button" class="btn btn-outline-primary tahun-link" data-tahun="2021">2021</button>
                                <button type="button" class="btn btn-outline-primary tahun-link" data-tahun="2022">2022</button>
                                <button type="button" class="btn btn-outline-primary tahun-link" data-tahun="2023">2023</button>
                                <button type="button" class="btn btn-outline-primary tahun-link" data-tahun="2024">2024</button>
                                <button type="button" class="btn btn-outline-primary tahun-link active" data-tahun="2025">2025</button>
                            </div>
                        </div>

                        <div id="kontrolPembayaranContainer-BPHTB" class="mb-5"></div>
                        <div id="kontrolPembayaranSpinner-BPHTB" style="display:none">Loading pembayaran…</div>

                        <h4 class="card-title fs-16 mb-1">
                            Kontrol Upaya Pajak
                        </h4>

                        <div id="kontrolUpayaContainer-BPHTB" class="mb-5"></div>
                        <div id="kontrolUpayaSpinner-BPHTB" style="display:none">Loading upaya…</div>

                        <h4 class="card-title fs-16 mb-1">
                            Kontrol Potensi Pajak
                        </h4>

                        <div id="kontrolPotensiContainer-BPHTB"></div>
                        <div id="kontrolPotensiSpinner-BPHTB" style="display:none">Loading potensi…</div>
                    </div>

                    <div class="tab-pane" id="kontenTab" role="tabpanel">
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <h4 class="card-title fs-16 mb-0">
                                Kontrol Pembayaran Pajak
                            </h4>

                            <div class="btn-group mb-3" role="group" id="tahunGroup">
                                <button type="button" class="btn btn-outline-primary tahun-link" data-tahun="2021">2021</button>
                                <button type="button" class="btn btn-outline-primary tahun-link" data-tahun="2022">2022</button>
                                <button type="button" class="btn btn-outline-primary tahun-link" data-tahun="2023">2023</button>
                                <button type="button" class="btn btn-outline-primary tahun-link" data-tahun="2024">2024</button>
                                <button type="button" class="btn btn-outline-primary tahun-link active" data-tahun="2025">2025</button>
                            </div>
                        </div>

                        <div id="kontrolPembayaranContainer-Reklame" class="mb-5"></div>
                        <div id="kontrolPembayaranSpinner-Reklame" style="display:none">Loading pembayaran…</div>

                        <h4 class="card-title fs-16 mb-1">
                            Kontrol Upaya Pajak
                        </h4>

                        <div id="kontrolUpayaContainer-Reklame" class="mb-5"></div>
                        <div id="kontrolUpayaSpinner-Reklame" style="display:none">Loading upaya…</div>

                        <h4 class="card-title fs-16 mb-1">
                            Kontrol Potensi Pajak
                        </h4>

                        <div id="kontrolPotensiContainer-Reklame"></div>
                        <div id="kontrolPotensiSpinner-Reklame" style="display:none">Loading potensi…</div>
                    </div>

                    <div class="tab-pane" id="kontenTab" role="tabpanel">
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <h4 class="card-title fs-16 mb-0">
                                Kontrol Pembayaran Pajak
                            </h4>

                            <div class="btn-group mb-3" role="group" id="tahunGroup">
                                <button type="button" class="btn btn-outline-primary tahun-link" data-tahun="2021">2021</button>
                                <button type="button" class="btn btn-outline-primary tahun-link" data-tahun="2022">2022</button>
                                <button type="button" class="btn btn-outline-primary tahun-link" data-tahun="2023">2023</button>
                                <button type="button" class="btn btn-outline-primary tahun-link" data-tahun="2024">2024</button>
                                <button type="button" class="btn btn-outline-primary tahun-link active" data-tahun="2025">2025</button>
                            </div>
                        </div>

                        <div id="kontrolPembayaranContainer-AirTanah" class="mb-5"></div>
                        <div id="kontrolPembayaranSpinner-AirTanah" style="display:none">Loading pembayaran…</div>

                        <h4 class="card-title fs-16 mb-1">
                            Kontrol Upaya Pajak
                        </h4>

                        <div id="kontrolUpayaContainer-AirTanah" class="mb-5"></div>
                        <div id="kontrolUpayaSpinner-AirTanah" style="display:none">Loading upaya…</div>

                        <h4 class="card-title fs-16 mb-1">
                            Kontrol Potensi Pajak
                        </h4>

                        <div id="kontrolPotensiContainer-AirTanah"></div>
                        <div id="kontrolPotensiSpinner-AirTanah" style="display:none">Loading potensi…</div>
                    </div>
                   
                </div>
                
                <div class="modal fade" id="modalDetailPajak" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog">
                    <div class="modal-dialog modal-xl" role="document">
                        <div class="modal-content">
                            <div class="modal-header d-flex">
                                <div class="flex-grow-1">
                                    <h4 class="modal-title fs-16 mb-0">
                                        Data OP Pembayaran Pajak
                                    </h4>
                                </div>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                            </div>
                            <div class="modal-body">
                                <div class="text-center p-3">Loading…</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="modalDetailUpaya" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog">
                    <div class="modal-dialog modal-xl" role="document">
                        <div class="modal-content">
                            <div class="modal-header d-flex">
                                <div class="flex-grow-1">
                                    <h4 class="modal-title fs-16 mb-0">
                                        Data OP Upaya Pembayaran Pajak
                                    </h4>
                                </div>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                            </div>
                            <div class="modal-body">
                                <div class="text-center p-3">Loading…</div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>

@section Scripts {
    <script>
        let currentJenis = 'Hotel';
        let currentTahun = 2025;

        function loadShow(jenisPajak, tahun) {
            currentJenis = jenisPajak;
            currentTahun = tahun;

            const jenisKey = jenisPajak.toUpperCase();

            const container = $(`#kontrolPembayaranContainer-${jenisPajak}`);
            const spinner = $(`#kontrolPembayaranSpinner-${jenisPajak}`);

            const upayaContainer = $(`#kontrolUpayaContainer-${jenisPajak}`);
            const upayaSpinner = $(`#kontrolUpayaSpinner-${jenisPajak}`);

            const potensiContainer = $(`#kontrolPotensiContainer-${jenisPajak}`);
            const potensiSpinner = $(`#kontrolPotensiSpinner-${jenisPajak}`);

            console.log(`loadShow untuk ${jenisPajak} tahun ${tahun}`);

            // Tab tombol
            $('.jenis-pajak-tab').removeClass('active');
            $(`.jenis-pajak-tab[data-jenis="${jenisPajak}"]`).addClass('active');

            // Konten Show
            container.hide();
            spinner.show();

            // Konten Upaya
            upayaContainer.hide();
            upayaSpinner.show();

            // Konten Potensi
            potensiContainer.hide();
            potensiSpinner.show();

            // Panggil Show
            $.ajax({
                url: '/KontrolPembayaran/Show',
                data: { jenisPajak, tahun },
                success: function (html) {
                    spinner.hide();
                    container.html(html).show();

                    requestAnimationFrame(() => {
                        container.find("script").each(function () {
                            $.globalEval(this.text || this.textContent || this.innerHTML || '');
                        });
                    });
                },
                error: function () {
                    spinner.hide();
                    container.html('<div class="text-danger">Gagal memuat data pajak.</div>').show();
                }
            });

            // Panggil ShowUpaya
            $.ajax({
                url: '/KontrolPembayaran/ShowUpaya',
                data: { jenisPajak, tahun },
                success: function (html) {
                    upayaSpinner.hide();
                    upayaContainer.html(html).show();

                    requestAnimationFrame(() => {
                        upayaContainer.find("script").each(function () {
                            $.globalEval(this.text || this.textContent || this.innerHTML || '');
                        });
                    });
                },
                error: function () {
                    upayaSpinner.hide();
                    upayaContainer.html('<div class="text-danger">Gagal memuat data upaya.</div>').show();
                }
            });

            // Panggil Potensi
            $.ajax({
                url: '/KontrolPembayaran/ShowPotensi',
                data: { jenisPajak, tahun },
                success: function (html) {
                    potensiSpinner.hide();
                    potensiContainer.html(html).show();

                    requestAnimationFrame(() => {
                        potensiContainer.find("script").each(function () {
                            $.globalEval(this.text || this.textContent || this.innerHTML || '');
                        });
                    });
                },
                error: function () {
                    potensiSpinner.hide();
                    potensiContainer.html('<div class="text-danger">Gagal memuat data potensi.</div>').show();
                }
            });
        }


                $(document).ready(function () {
            loadShow(currentJenis, currentTahun);

            // Tahun
            $('#tahunGroup').on('click', '.tahun-link', function (e) {
                e.preventDefault();

                $('#tahunGroup .tahun-link').removeClass('active');
                $(this).addClass('active');

                const tahunDipilih = $(this).data('tahun');
                loadShow(currentJenis, tahunDipilih);
            });

            // Jenis Pajak
            $('#jenisPajakTabs').on('click', '.jenis-pajak-tab', function (e) {
                e.preventDefault();

                $('#jenisPajakTabs .jenis-pajak-tab').removeClass('active');
                $(this).addClass('active');

                const jenisDipilih = $(this).data('jenis');
                loadShow(jenisDipilih, currentTahun);
            });
        });

    </script>

    <script>

        function showPajakCellTemplate(cellElement, cellInfo) {
            const JenisPajak = cellInfo.data.JenisPajak;
            const kategori = cellInfo.data.Kategori;
            const tahun = 2025; // atau ambil dari cellInfo.data.Tahun kalau ada

            // Tentukan status berdasar kolom
            let status = '';
            const caption = cellInfo.column.caption?.toUpperCase();

            if (caption.includes('BYR')) {
                status = 'BYR';
            } else if (caption.includes('N/TS')) {
                status = 'NTS';
            } else if (caption.includes('BLM')) {
                status = 'BLM';
            }

            const button = $('<button>')
                .addClass('btn btn-sm btn-outline-primary me-2')
                .attr('title', `Lihat Detail ${status}`)
                .html('<i class="ri-search-line"></i>')
                .on('click', function () {
                    // kirim parameter dengan status yang benar
                    onPajakClick(JenisPajak, kategori, tahun, status);
                });

            const span = $('<span>').text(cellInfo.value);

            const wrapper = $('<div>')
                .css({ display: 'flex', alignItems: 'center', justifyContent: 'space-between' })
                .append(button)
                .append(span);

            $(cellElement).append(wrapper);
        }



        function upayaPajakCellTemplate(cellElement, cellInfo) {
            const JenisPajak = cellInfo.data.JenisPajak;
            const kategori = cellInfo.data.Kategori;
            const tahun = 2025; // atau ambil dari cellInfo.data.Tahun kalau tersedia

            // Tentukan status berdasar kolom
            let status = '';
            const caption = cellInfo.column.caption?.toUpperCase();

            if (caption.includes('HIMB')) {
                status = 'HIMB';
            } else if (caption.includes('TEGUR')) {
                status = 'TEGUR';
            } else if (caption.includes('SIL')) {
                status = 'SIL';
            } else if (caption.includes('KEJAK')) {
                status = 'KEJAK';
            }

            const button = $('<button>')
                .addClass('btn btn-sm btn-outline-primary me-2')
                .attr('title', `Lihat Detail ${status}`)
                .html('<i class="ri-search-line"></i>')
                .on('click', function () {
                    onUpayaClick(JenisPajak, kategori, tahun, status);
                });

            const span = $('<span>').text(cellInfo.value);

            const wrapper = $('<div>')
                .css({ display: 'flex', alignItems: 'center', justifyContent: 'space-between' })
                .append(button)
                .append(span);

            $(cellElement).append(wrapper);
        }


        function onPajakClick(jenisPajak, kategori, tahun, status) {
            showDetailPajak(jenisPajak, kategori, tahun, status);
        }

        function onUpayaClick(jenisPajak, kategori, tahun, status) {
            showDetailUpaya(jenisPajak, kategori, tahun, status);
        }

        function showDetailPajak(jenisPajak, kategori, tahun, status) {
            $.ajax({
                url: '/KontrolPembayaran/ShowDetailPajak',
                type: 'GET',
                data: {
                    jenisPajak: jenisPajak,
                    kategori: kategori,
                    tahun: tahun,
                    status: status
                },
                beforeSend: function () {
                    $('#modalDetailPajak .modal-body').html('<div class="text-center p-3">Loading…</div>');
                    $('#modalDetailPajak').modal('show');
                },
                success: function (html) {
                    $('#modalDetailPajak .modal-body').html(html);
                },
                error: function () {
                    $('#modalDetailPajak .modal-body').html('<div class="text-danger">⚠ Gagal memuat data</div>');
                }
            });
        }

        function showDetailUpaya(jenisPajak, kategori, tahun, status) {
            $.ajax({
                url: '/KontrolPembayaran/ShowDetailUpaya',
                type: 'GET',
                data: {
                    jenisPajak: jenisPajak,
                    kategori: kategori,
                    tahun: tahun,
                    status: status
                },
                beforeSend: function () {
                    $('#modalDetailUpaya .modal-body').html('<div class="text-center p-3">Loading…</div>');
                    $('#modalDetailUpaya').modal('show');
                },
                success: function (html) {
                    $('#modalDetailUpaya .modal-body').html(html);
                },
                error: function () {
                    $('#modalDetailUpaya .modal-body').html('<div class="text-danger">⚠ Gagal memuat data</div>');
                }
            });
        }
    </script>
}

