@model MonPDReborn.Models.CCTVParkir.VendorParkirVM.Show

<div class="table-responsive">
    @(
        Html.DevExtreme().DataGrid<MonPDReborn.Models.CCTVParkir.VendorParkirVM.VendorParkir>()
        .ID("vendorParkirGrid")
        .DataSource(Model.VendorParkirList)
        .ShowBorders(true)
        .ShowColumnLines(true)
        .RowAlternationEnabled(true)
        .ShowRowLines(true)
        .ShowColumnHeaders(true)
        .ColumnAutoWidth(true)
        .Paging(p => p.PageSize(10))
        .Pager(p => p
        .ShowPageSizeSelector(true)
        .AllowedPageSizes(new[] { 5, 10, 20 })
        .ShowInfo(true)
        )
        .Columns(columns =>
        {
            columns.AddFor(m => m.Nop).Caption("Jenis Pajak").Fixed(true);
            columns.AddFor(m => m.NamaOp).Caption("Jumlah OP").Format("#,##0");
            columns.AddFor(m => m.AlamatOp).Caption("Total Terpassang").Format("#,##0");
            columns.AddFor(m => m.Vendor).Caption("Belum Terpasang").Format("#,##0");
        })
        )
</div>