

@{
    ViewData["Title"] = "Vendor Parkir";
    Layout = "_Layout";
}

<div class="card">
    <div class="card-header d-flex justify-content-between align-items-center bg-header-color">
        <h4 class="card-title text-dark mb-0">Rekap Vendor Monitoring Parkir</h4>
    </div>
    <div class="card-body">
        @using DevExtreme.AspNet.Mvc

        <div class="row g-3 align-items-center mb-3">

            @* <div class="col-lg-3 col-md-4">
                @(Html.DevExtreme().SelectBoxFor(m => m.SelectedPajak)
                                .DataSource(Model.JenisPajakList)
                                .ValueExpr("Value")
                                .Value(Model.SelectedPajak.ToString())
                                .DisplayExpr("Text")
                                .ID("select-jnspajak")
                                .Placeholder("Semua Jenis Pajak...")
                                .StylingMode(EditorStylingMode.Outlined)
                                .ElementAttr("class", "")
                                )
            </div> *@

            <div class="col-lg-2">
                <button type="button" onclick="fnShow()" class="btn btn-success w-80">
                    <i class="bi bi-funnel-fill me-1"></i> Terapkan Filter
                </button>
            </div>

        </div>
    </div>
</div>

