<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="d-flex p-3">
                            <div class="flex-shrink-0">
                                <div class="avatar-md me-3">
                                    <span class="avatar-title bg-soft-danger rounded-circle fs-1">
                                        <i class="ri-restaurant-line text-danger"></i>
                                    </span>
                                </div>
                            </div>
                            <div>
                                <h4 class="fs-16 fw-semibold">
                                    RESTORAN
                                </h4>
                                <p class="fs-16 lh-base">
                                    Jalan
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="d-flex p-3">
                            <h3 class="fs-16 fw-semibold">
                                Potensi Pajak
                            </h3>
                        </div>
                        <div class="d-flex p-3 py-0">
                            <p class="fs-14 text-muted flex-grow-1">Per Bulan</p>
                            <div class="flex-shrink-0">
                                <p class="fs-16 fw-semibold">Rp 0</p>
                            </div>
                        </div>
                        <div class="d-flex p-3 py-0">
                            <p class="fs-14 text-muted flex-grow-1">Per Tahun</p>
                            <div class="flex-shrink-0">
                                <p class="fs-16 fw-semibold">Rp 0</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="d-flex p-3">
                            <div class="flex-shrink-0 ms-3">
                                <p class="fs-14 text-muted mb-1">NOP</p>
                                <p class="fs-14 fw-semibold mb-3">00.00.000.000.00000</p>
                            </div>
                            <div class="flex-shrink-0 ms-5">
                                <p class="fs-14 text-muted mb-1">Rata-rata Transaksi</p>
                                <p class="fs-14 fw-semibold mb-3">Rp 0 / Orang</p>
                            </div>
                            <div class="flex-shrink-0 ms-3">
                                <p class="fs-14 text-muted mb-1">Rata-rata Pengunjung</p>
                                <p class="fs-14 fw-semibold mb-3">0 / Hari</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-8">
        <div class="card">
            <div class="card-header d-flex bg-soft-danger">
                <div class="flex-grow-1">
                    <h4 class="card-title fs-16 mb-0">
                        Detail Pengunjung Restoran
                    </h4>
                </div>
            </div>
            <div class="card-body">
                <div class="row">

                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="text-center">
                                    <h3 class="fs-18 fw-semibold mb-1">
                                        0
                                    </h3>
                                    <h4 class="fs-14 text-muted">
                                        Rata-rata Pengunjung Hari Kerja
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="text-center">
                                    <h3 class="fs-18 fw-semibold mb-1">
                                        0
                                    </h3>
                                    <h4 class="fs-14 text-muted">
                                        Rata-rata Pengunjung Akhir Pekan
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="d-flex p-3 py-0">
                            <p class="fs-14 text-muted flex-grow-1">Rata-rata Transaksi per Orang</p>
                            <div class="flex-shrink-0">
                                <p class="fs-14 fw-semibold">Rp 0</p>
                            </div>
                        </div>
                        <div class="d-flex p-3 py-0">
                            <p class="fs-14 text-muted flex-grow-1">Perputaran Hari Kerja</p>
                            <div class="flex-shrink-0">
                                <p class="fs-14 fw-semibold">0 Kali</p>
                            </div>
                        </div>
                        <div class="d-flex p-3 py-0">
                            <p class="fs-14 text-muted flex-grow-1">Perputaran Akhir Pekan</p>
                            <div class="flex-shrink-0">
                                <p class="fs-14 fw-semibold">0 Kali</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="fs-14 fw-semibold mb-2">
                                    Distribusi Pengunjung
                                </h4>
                                <div class="d-flex p-0 py-0">
                                    <p class="fs-14 text-muted flex-grow-1">Hari Kerja (22 hari/bulan)</p>
                                    <div class="flex-shrink-0">
                                        <p class="fs-14 fw-semibold">0 Pengunjung</p>
                                    </div>
                                </div>
                                <div class="progress mb-4">
                                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%">75%</div>
                                </div>
                                <div class="d-flex p-0 py-0">
                                    <p class="fs-14 text-muted flex-grow-1">Akhir Pekan (8 Hari/bulan)</p>
                                    <div class="flex-shrink-0">
                                        <p class="fs-14 fw-semibold">0 Pengunjung</p>
                                    </div>
                                </div>
                                <div class="progress mb-2">
                                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%">75%</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="fs-18 fw-semibold mb-2">
                                    Total Pengunjung Hari Kerja per Bulan :
                                </h4>
                                <p class="fs-14 text-muted mb-1">
                                    Rata-rata Pengunjung Hari Kerja x 22 Hari
                                </p>
                                <p class="fs-14 text-muted mb-2">
                                    0 x 22 = 0 Pengunjung
                                </p>
                                <h4 class="fs-18 fw-semibold mb-1">
                                    Total Pengunjung Akhir Pekan per Bulan :
                                </h4>
                                <p class="fs-14 text-muted mb-1">
                                    Rata-rata Pengunjung Akhir Pekan x 8 Hari
                                </p>
                                <p class="fs-14 text-muted mb-2">
                                    0 x 8 = 0 Pengunjung
                                </p>
                                <h4 class="fs-18 fw-semibold mb-1">
                                    Total Pengunjung per Bulan :
                                </h4>
                                <p class="fs-14 text-muted">
                                    0 + 0 = 0 Pengunjung
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header d-flex bg-soft-danger">
                <div class="flex-grow-1">
                    <h4 class="card-title fs-16 mb-0">
                        Detail Omzet Restoran
                    </h4>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="p-1">
                                    <h4 class="fs-16 fw-semibold mb-4">
                                        Omzet Makan di Tempat
                                    </h4>
                                    <h4 class="fs-16 fw-semibold mb-1">
                                        Rp 0
                                    </h4>
                                    <p class="fs-14 text-muted">Total Omzet Bulanan</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="p-1">
                                    <h4 class="fs-16 fw-semibold mb-4">
                                        Omzet Tenant/Katering
                                    </h4>
                                    <h4 class="fs-16 fw-semibold mb-1">
                                        Rp 0
                                    </h4>
                                    <p class="fs-14 text-muted">Tidak ada layanan tenant/katering</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <h4 class="fs-16 fw-semibold mb-4">
                            Distribusi Omzet Makan di Tempat
                        </h4>
                        <!-- Multiple Bars -->
                        <div class="progress" style="height:30px">
                            <div class="progress-bar text-white" role="progressbar" style="width: 73%" aria-valuenow="73" aria-valuemin="0" aria-valuemax="100">Hari Kerja (73%)</div>
                            <div class="progress-bar bg-info" role="progressbar" style="width: 27%" aria-valuenow="27" aria-valuemin="0" aria-valuemax="100">Akhir Pekan (27%)</div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="fs-18 fw-semibold mb-2">
                                    Perhitungan Omzet Makan di Tempat :
                                </h4>
                                <p class="fs-14 text-muted mb-1">
                                    (Rata-rata Transaksi x Rata-rata Pengunkung Hari Kerja x 22) + (Rata-rata Transaksi x Rata-rata Pengunjung Akhir Pekan x 8)
                                </p>
                                <p class="fs-14 text-muted mb-1">
                                    (0 x 0 x 22) + (0 x 0 x 8)
                                </p>
                                <p class="fs-14 text-muted mb-1">
                                    0 + 0
                                </p>
                                <p class="fs-14 text-muted mb-2">
                                    Rp 0
                                </p>
                                <h4 class="fs-18 fw-semibold mb-1">
                                    Total Pengunjung Akhir Pekan per Bulan :
                                </h4>
                                <p class="fs-14 text-muted mb-1">
                                    Rata-rata Pengunjung Akhir Pekan x 8 Hari
                                </p>
                                <p class="fs-14 text-muted mb-2">
                                    0 x 8 = 0 Pengunjung
                                </p>
                                <h4 class="fs-18 fw-semibold mb-1">
                                    Total Pengunjung per Bulan :
                                </h4>
                                <p class="fs-14 text-muted">
                                    0 + 0 = 0 Pengunjung
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header d-flex bg-soft-danger">
                <div class="flex-grow-1">
                    <h4 class="card-title fs-16 mb-0">
                        Perhitungan Potensi Pajak
                    </h4>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-12">
                        <h4 class="fs-18 fw-semibold mb-2">
                            Rumus Perhitungan Potensi Pajak Per Bulan :
                        </h4>
                        <p class="fs-14 text-muted mb-1">
                            Omzet Bulanan x 10%
                        </p>
                        <p class="fs-14 text-muted mb-2">
                            Rp 0 x 10% = Rp 0
                        </p>
                        <h4 class="fs-18 fw-semibold mb-2">
                            Rumus Perhitungan Potensi Pajak Per Tahun :
                        </h4>
                        <p class="fs-14 text-muted mb-1">
                            Potensi Pajak Per Bulan x 12
                        </p>
                        <p class="fs-14 text-muted mb-2">
                            Rp 0 x 12 = Rp 0
                        </p>
                        <h4 class="fs-18 fw-semibold mb-2">
                            Total Potensi Pajak Per Tahun : Rp 0
                        </h4>
                    </div>
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="fs-18 fw-semibold mb-3">
                                    Distribusi Omzet Bulanan
                                </h4>
                                <!-- Multiple Bars -->
                                <div class="progress mb-3">
                                    <div class="progress-bar" role="progressbar" style="width: 93%" aria-valuenow="93" aria-valuemin="0" aria-valuemax="100">93%</div>
                                    <div class="progress-bar bg-info" role="progressbar" style="width: 7%" aria-valuenow="7" aria-valuemin="0" aria-valuemax="100">7%</div>
                                </div>
                                <div class="d-flex mb-5">
                                    <h6 class="px-4"><span class="badge bg-primary">93%</span> = Hari Kerja</h6>
                                    <div class="flex-shrink-0">
                                        <h6><span class="badge bg-secondary">7%</span> = Akhir Pekan</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="fs-18 fw-semibold mb-2">
                                    Potensi Pajak per Bulan
                                </h4>
                                <h4 class="fs-18 fw-semibold mb-2">
                                    0
                                </h4>
                                <div class="d-flex">
                                    <p class="fs-14 text-muted flex-grow-1">Makan di Tempat</p>
                                    <div class="flex-shrink-0">
                                        <p class="fs-16 fw-semibold">Rp 0</p>
                                    </div>
                                </div>
                                <div class="d-flex">
                                    <p class="fs-14 text-muted flex-grow-1">Tenant/Katering</p>
                                    <div class="flex-shrink-0">
                                        <p class="fs-16 fw-semibold">Rp 0</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="col-lg-4">
        <div class="card">
            <div class="card-header d-flex bg-soft-danger">
                <div class="flex-grow-1">
                    <h4 class="card-title fs-16 mb-0">
                        Ringkasan
                    </h4>
                </div>
            </div>
            <div class="card-body">
                <div class="d-flex">
                    <p class="fs-14 text-muted flex-grow-1">NOP</p>
                    <div class="flex-shrink-0">
                        <p class="fs-16 fw-semibold mb-1">00.00.000.000.000.00000</p>
                    </div>
                </div>
                <div class="d-flex">
                    <p class="fs-14 text-muted flex-grow-1">Nama Restoran</p>
                    <div class="flex-shrink-0">
                        <p class="fs-16 fw-semibold mb-1">Restoran</p>
                    </div>
                </div>
                <div class="d-flex">
                    <p class="fs-14 text-muted flex-grow-1">Alamat</p>
                    <div class="flex-shrink-0">
                        <p class="fs-16 fw-semibold mb-1">Jalan</p>
                    </div>
                </div>
                <div class="d-flex">
                    <p class="fs-14 text-muted flex-grow-1">Rata-rata Transaksi</p>
                    <div class="flex-shrink-0">
                        <p class="fs-16 fw-semibold mb-1">Rp 0/Orang</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header d-flex bg-soft-danger">
                <div class="flex-grow-1">
                    <h4 class="card-title fs-16 mb-0">
                        Potensi Pajak
                    </h4>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title fs-14 mb-4">
                                    Potensi Pajak per Bulan
                                </h4>
                                <h4 class="card-title fs-18 mb-0">
                                    Rp 0
                                </h4>
                                <p class="fs-12 text-muted">10% dari omzet bulanan</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title fs-14 mb-4">
                                    Potensi Pajak per Tahun
                                </h4>
                                <h4 class="card-title fs-18 mb-0">
                                    Rp 0
                                </h4>
                                <p class="fs-12 text-muted">Proyeksi untuk 12 bulan</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header d-flex bg-soft-danger">
                <div class="flex-grow-1">
                    <h4 class="card-title fs-16 mb-0">
                        Parameter Perhitungan
                    </h4>
                </div>
            </div>
            <div class="card-body">
                <div class="d-flex">
                    <p class="fs-14 text-muted flex-grow-1">Rata-rata Transaksi per Orang</p>
                    <div class="flex-shrink-0">
                        <p class="fs-16 fw-semibold mb-1">Rp 0</p>
                    </div>
                </div>
                <div class="d-flex">
                    <p class="fs-14 text-muted flex-grow-1">Perputaran Hari Kerja</p>
                    <div class="flex-shrink-0">
                        <p class="fs-16 fw-semibold mb-1">0 kali</p>
                    </div>
                </div>
                <div class="d-flex">
                    <p class="fs-14 text-muted flex-grow-1">Perputanran Akhir Pekan</p>
                    <div class="flex-shrink-0">
                        <p class="fs-16 fw-semibold mb-1">0 kali</p>
                    </div>
                </div>
                <div class="d-flex">
                    <p class="fs-14 text-muted flex-grow-1">Rata-rata Pengunjung Hari Kerja</p>
                    <div class="flex-shrink-0">
                        <p class="fs-16 fw-semibold mb-1">0 Orang</p>
                    </div>
                </div>
                <div class="d-flex">
                    <p class="fs-14 text-muted flex-grow-1">Rata-rata Pengunjung Akhir Pekan</p>
                    <div class="flex-shrink-0">
                        <p class="fs-16 fw-semibold mb-1">0 Orang</p>
                    </div>
                </div>
                <div class="d-flex">
                    <p class="fs-14 text-muted flex-grow-1">Hari Kerja per Bulan</p>
                    <div class="flex-shrink-0">
                        <p class="fs-16 fw-semibold mb-1">22 Hari</p>
                    </div>
                </div>
                <div class="d-flex">
                    <p class="fs-14 text-muted flex-grow-1">Hari Kerja per Tahun</p>
                    <div class="flex-shrink-0">
                        <p class="fs-16 fw-semibold mb-1">8 Hari</p>
                    </div>
                </div>
                <div class="d-flex">
                    <p class="fs-14 text-muted flex-grow-1">Tarif Pajak</p>
                    <div class="flex-shrink-0">
                        <p class="fs-16 fw-semibold mb-1">10%</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-12">
        <div class="card">
            <div class="card-header d-flex bg-soft-danger">
                <div class="flex-grow-1">
                    <h4 class="card-title fs-16 mb-0">
                        Rumus Lengkap Perhitungan Potensi Pajak
                    </h4>
                </div>
            </div>
            <div class="card-body">
                <h4 class="fs-14 fw-semibold mb-1">
                    P = (((Rata-rata Transaksi per orang x Rata-rata Pengunjung Hari Kerja x 22 Hari) + (Rata-rata Transaksi per Orang x Rata-rata Pengunjung Akhir Pekan x 8 Hari)) x 10%) x 12
                </h4>
                <h4 class="fs-14 fw-semibold mb-1">
                    P = (((c x f x 22) + (c x g x 8)) x 10%) x 12
                </h4>
                <h4 class="fs-14 fw-semibold mb-1">
                    P = (((0 x 0 x 22) + (0 x 0 x 8)) x 10%) x 12
                </h4>
                <h4 class="fs-14 fw-semibold mb-1">
                    P = ((0 x 0) x 10%) x 12
                </h4>
                <h4 class="fs-14 fw-semibold mb-1">
                    P = (0 x 10%) x 12
                </h4>
                <h4 class="fs-14 fw-semibold mb-1">
                    P = 0 x 12
                </h4>
                <h4 class="fs-14 fw-semibold mb-1">
                    P = Rp 0
                </h4>
            </div>
        </div>
    </div>
</div>
