@model MonPDReborn.Models.SeriesBulananPajakVM.Index


@{
    ViewData["Title"] = "Series Bulanan Pajak";
    Layout = "_Layout";
}

<style>
    table {
        width: 100%;
        border-collapse: collapse;
        font-size: 14px;
    }

    th, td {
        border: 1px solid #000;
        padding: 5px;
        text-align: left;
        white-space: nowrap; /* supaya tabel tidak patah ke bawah */
    }

    /* Header */
    thead {
        background-color: #d3d3d3;
        font-weight: bold;
        text-align: center;
    }


</style>

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header d-flex bg-header-color align-items-center">
                <div class="flex-grow-1">
                    <h4 class="card-title fs-16 text-dark mb-0">
                        Realisasi Pajak Daerah Tahun 2025
                    </h4>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    @* <table class="table">
                        <thead>
                            <tr>
                                <th style="text-align: center">JENIS PAJAK</th>
                                <th style="text-align: center">TARGET 2025</th>
                                <th style="text-align: center">JAN</th>
                                <th style="text-align: center">FEB</th>
                                <th style="text-align: center">MAR</th>
                                <th style="text-align: center">APR</th>
                                <th style="text-align: center">MAY</th>
                                <th style="text-align: center">JUN</th>
                                <th style="text-align: center">JUL</th>
                                <th style="text-align: center">AUG</th>
                                <th style="text-align: center">SEP</th>
                                <th style="text-align: center">OCT</th>
                                <th style="text-align: center">NOV</th>
                                <th style="text-align: center">DEC</th>
                                <th style="text-align: center">JUMLAH</th>
                                <th style="text-align: center">SELISIH</th>
                                <th style="text-align: center">CAPAIAN</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>PBJT atas Makanan dan/atau Minuman</td>
                                <td style="text-align: right">736,275,239,787</td>
                                <td style="text-align: right">55,256,415,760</td>
                                <td style="text-align: right">57,138,524,562</td>
                                <td style="text-align: right">50,361,621,386</td>
                                <td style="text-align: right">62,926,698,656</td>
                                <td style="text-align: right">62,868,039,205</td>
                                <td style="text-align: right">63,200,171,508</td>
                                <td style="text-align: right">62,439,245,685</td>
                                <td style="text-align: right">60,536,398,194</td>
                                <td style="text-align: right">58,635,280,208</td>
                                <td style="text-align: right">-</td>
                                <td style="text-align: right">-</td>
                                <td style="text-align: right">-</td>
                                <td style="text-align: right">533,362,395,164</td>
                                <td style="text-align: right">202,912,844,623</td>
                                <td style="text-align: right">72.44%</td>
                            </tr>
                            <tr><td>PBJT atas Tenaga Listrik</td><td style="text-align: right">766,551,662,201</td><td style="text-align: right">62,818,852,323</td><td style="text-align: right">59,174,464,560</td><td style="text-align: right">52,956,698,665</td><td style="text-align: right">47,302,947,831</td><td style="text-align: right">55,301,084,155</td><td style="text-align: right">56,654,361,293</td><td style="text-align: right">59,970,970,442</td><td style="text-align: right">59,091,027,096</td><td style="text-align: right">60,428,236,751</td><td style="text-align: right">-</td><td style="text-align: right">-</td><td style="text-align: right">-</td><td style="text-align: right">513,698,643,116</td><td style="text-align: right">252,853,019,085</td><td style="text-align: right">67.01%</td></tr>
                            <tr><td>PBJT atas Jasa Perhotelan</td><td style="text-align: right">405,688,598,057</td><td style="text-align: right">25,819,948,362</td><td style="text-align: right">27,422,583,737</td><td style="text-align: right">28,910,844,460</td><td style="text-align: right">21,080,838,834</td><td style="text-align: right">25,102,480,969</td><td style="text-align: right">29,789,054,231</td><td style="text-align: right">29,839,962,558</td><td style="text-align: right">29,053,899,938</td><td style="text-align: right">29,468,136,242</td><td style="text-align: right">-</td><td style="text-align: right">-</td><td style="text-align: right">-</td><td style="text-align: right">246,487,749,331</td><td style="text-align: right">159,200,848,726</td><td style="text-align: right">60.76%</td></tr>
                            <tr><td>PBJT atas Jasa Parkir</td><td style="text-align: right">62,125,343,640</td><td style="text-align: right">3,347,869,608</td><td style="text-align: right">4,512,806,688</td><td style="text-align: right">4,357,344,992</td><td style="text-align: right">4,521,115,094</td><td style="text-align: right">4,514,838,589</td><td style="text-align: right">4,655,986,070</td><td style="text-align: right">4,677,900,918</td><td style="text-align: right">4,838,001,397</td><td style="text-align: right">5,044,103,148</td><td style="text-align: right">-</td><td style="text-align: right">-</td><td style="text-align: right">-</td><td style="text-align: right">40,469,966,504</td><td style="text-align: right">21,655,377,136</td><td style="text-align: right">65.14%</td></tr>
                            <tr><td>PBJT atas Jasa Kesenian dan Hiburan</td><td style="text-align: right">102,064,401,727</td><td style="text-align: right">6,262,255,689</td><td style="text-align: right">7,677,536,461</td><td style="text-align: right">5,975,594,478</td><td style="text-align: right">4,654,854,668</td><td style="text-align: right">9,761,832,498</td><td style="text-align: right">8,078,333,777</td><td style="text-align: right">8,964,746,660</td><td style="text-align: right">8,500,559,198</td><td style="text-align: right">7,265,192,748</td><td style="text-align: right">-</td><td style="text-align: right">-</td><td style="text-align: right">-</td><td style="text-align: right">67,140,906,177</td><td style="text-align: right">34,923,495,550</td><td style="text-align: right">65.78%</td></tr>
                            <tr><td>Pajak Air Tanah</td><td style="text-align: right">1,435,906,440</td><td style="text-align: right">123,063,470</td><td style="text-align: right">122,728,110</td><td style="text-align: right">121,234,150</td><td style="text-align: right">121,342,630</td><td style="text-align: right">121,460,430</td><td style="text-align: right">141,298,230</td><td style="text-align: right">139,678,460</td><td style="text-align: right">122,349,530</td><td style="text-align: right">117,768,090</td><td style="text-align: right">-</td><td style="text-align: right">-</td><td style="text-align: right">-</td><td style="text-align: right">1,130,923,100</td><td style="text-align: right">304,983,340</td><td style="text-align: right">78.76%</td></tr>
                            <tr><td>Pajak Reklame</td><td style="text-align: right">178,291,170,763</td><td style="text-align: right">7,977,899,900</td><td style="text-align: right">10,545,679,900</td><td style="text-align: right">13,941,242,200</td><td style="text-align: right">8,456,961,400</td><td style="text-align: right">12,699,874,450</td><td style="text-align: right">11,032,885,225</td><td style="text-align: right">13,123,678,075</td><td style="text-align: right">10,474,797,550</td><td style="text-align: right">9,222,647,300</td><td style="text-align: right">-</td><td style="text-align: right">-</td><td style="text-align: right">-</td><td style="text-align: right">97,475,666,000</td><td style="text-align: right">80,815,504,763</td><td style="text-align: right">54.67%</td></tr>
                            <tr><td>Pajak Bumi Bangunan</td><td style="text-align: right">1,738,731,114,918</td><td style="text-align: right">45,606,663,294</td><td style="text-align: right">130,101,912,406</td><td style="text-align: right">115,024,468,747</td><td style="text-align: right">150,961,466,941</td><td style="text-align: right">600,392,591,490</td><td style="text-align: right">92,196,913,848</td><td style="text-align: right">80,117,423,119</td><td style="text-align: right">63,352,009,339</td><td style="text-align: right">10,125,781,117</td><td style="text-align: right">-</td><td style="text-align: right">-</td><td style="text-align: right">-</td><td style="text-align: right">1,287,879,230,301</td><td style="text-align: right">450,851,884,617</td><td style="text-align: right">74.07%</td></tr>
                            <tr><td>BPHTB</td><td style="text-align: right">1,645,077,374,811</td><td style="text-align: right">44,326,462,537</td><td style="text-align: right">95,504,319,222</td><td style="text-align: right">98,747,506,500</td><td style="text-align: right">64,377,941,490</td><td style="text-align: right">96,218,871,637</td><td style="text-align: right">115,779,411,000</td><td style="text-align: right">190,388,290,303</td><td style="text-align: right">172,125,306,512</td><td style="text-align: right">52,598,241,692</td><td style="text-align: right">-</td><td style="text-align: right">-</td><td style="text-align: right">-</td><td style="text-align: right">930,066,350,893</td><td style="text-align: right">715,011,023,918</td><td style="text-align: right">56.54%</td></tr>
                            <tr><td>Opsen PKB</td><td style="text-align: right">1,046,318,203,819</td><td style="text-align: right">47,577,836,550</td><td style="text-align: right">52,410,017,505</td><td style="text-align: right">57,440,683,700</td><td style="text-align: right">52,885,177,150</td><td style="text-align: right">54,789,407,800</td><td style="text-align: right">47,004,254,647</td><td style="text-align: right">69,078,591,700</td><td style="text-align: right">70,986,710,800</td><td style="text-align: right">21,840,778,850</td><td style="text-align: right">-</td><td style="text-align: right">-</td><td style="text-align: right">-</td><td style="text-align: right">474,013,458,702</td><td style="text-align: right">572,304,745,117</td><td style="text-align: right">45.30%</td></tr>
                            <tr><td>Opsen BBNKB</td><td style="text-align: right">625,192,983,163</td><td style="text-align: right">23,889,609,400</td><td style="text-align: right">29,317,986,283</td><td style="text-align: right">31,217,053,000</td><td style="text-align: right">24,906,073,100</td><td style="text-align: right">27,469,149,800</td><td style="text-align: right">22,118,559,765</td><td style="text-align: right">28,798,593,000</td><td style="text-align: right">25,140,857,000</td><td style="text-align: right">8,328,477,000</td><td style="text-align: right">-</td><td style="text-align: right">-</td><td style="text-align: right">-</td><td style="text-align: right">221,186,358,348</td><td style="text-align: right">404,006,624,815</td><td style="text-align: right">35.38%</td></tr>
                        </tbody>
                        <tfoot>
                            <tr><td><b>TOTAL</b></td><td style="text-align: right">7,307,751,999,326</td><td style="text-align: right">323,006,876,893</td><td style="text-align: right">473,928,559,434</td><td style="text-align: right">459,054,292,278</td><td style="text-align: right">442,195,417,794</td><td style="text-align: right">949,239,631,023</td><td style="text-align: right">450,651,229,594</td><td style="text-align: right">547,539,080,920</td><td style="text-align: right">504,221,916,554</td><td style="text-align: right">263,074,643,146</td><td style="text-align: right">-</td><td style="text-align: right">-</td><td style="text-align: right">-</td><td style="text-align: right">4,412,911,647,636</td><td style="text-align: right">2,894,840,351,690-</td><td style="text-align: right">60.39%</td></tr>
                        </tfoot>
                    </table> *@
                    <div id="gridContainerNow"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-12">
        <div class="card">
            <div class="card-header d-flex bg-header-color align-items-center">
                <div class="flex-grow-1">
                    <h4 class="card-title fs-16 text-dark mb-0">
                        Realisasi Pajak Daerah Tahun 2024
                    </h4>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    @* <table class="table">
                        <thead>
                            <tr>
                                <th style="text-align: center">JENIS PAJAK</th>
                                <th style="text-align: center">TARGET 2024</th>
                                <th style="text-align: center">JAN</th>
                                <th style="text-align: center">FEB</th>
                                <th style="text-align: center">MAR</th>
                                <th style="text-align: center">APR</th>
                                <th style="text-align: center">MAY</th>
                                <th style="text-align: center">JUN</th>
                                <th style="text-align: center">JUL</th>
                                <th style="text-align: center">AUG</th>
                                <th style="text-align: center">SEP</th>
                                <th style="text-align: center">OCT</th>
                                <th style="text-align: center">NOV</th>
                                <th style="text-align: center">DEC</th>
                                <th style="text-align: center">JUMLAH</th>
                                <th style="text-align: center">SELISIH</th>
                                <th style="text-align: center">CAPAIAN</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr><td>PBJT atas Makanan dan/atau Minuman</td><td style="text-align: right">655,433,066,321</td><td style="text-align: right">44,952,959,054</td><td style="text-align: right">51,461,107,850</td><td style="text-align: right">52,911,420,475</td><td style="text-align: right">54,880,060,374</td><td style="text-align: right">59,882,678,633</td><td style="text-align: right">58,052,028,900</td><td style="text-align: right">59,054,046,821</td><td style="text-align: right">57,550,905,082</td><td style="text-align: right">55,076,702,066</td><td style="text-align: right">54,306,521,718</td><td style="text-align: right">55,952,921,794</td><td style="text-align: right">69,341,223,143</td><td style="text-align: right">673,422,575,910</td><td style="text-align: right">17,989,509,589</td><td style="text-align: right">102.74%</td></tr>
                            <tr><td>PBJT atas Tenaga Listrik</td><td style="text-align: right">688,269,513,544</td><td style="text-align: right">43,248,782,517</td><td style="text-align: right">43,052,004,369</td><td style="text-align: right">58,962,306,095</td><td style="text-align: right">56,653,815,308</td><td style="text-align: right">58,658,123,963</td><td style="text-align: right">58,084,041,882</td><td style="text-align: right">61,870,934,644</td><td style="text-align: right">59,192,338,877</td><td style="text-align: right">59,151,030,389</td><td style="text-align: right">60,034,650,979</td><td style="text-align: right">61,682,727,174</td><td style="text-align: right">65,344,096,848</td><td style="text-align: right">685,934,853,045</td><td style="text-align: right">2,334,660,499</td><td style="text-align: right">99.66%</td></tr>
                            <tr><td>PBJT atas Jasa Perhotelan</td><td style="text-align: right">405,404,814,687</td><td style="text-align: right">23,545,191,947</td><td style="text-align: right">25,141,133,588</td><td style="text-align: right">26,450,286,960</td><td style="text-align: right">26,255,784,308</td><td style="text-align: right">24,860,800,394</td><td style="text-align: right">32,206,666,072</td><td style="text-align: right">35,037,490,332</td><td style="text-align: right">36,360,098,874</td><td style="text-align: right">34,831,920,013</td><td style="text-align: right">33,992,439,869</td><td style="text-align: right">37,685,965,655</td><td style="text-align: right">48,415,510,001</td><td style="text-align: right">384,783,288,013</td><td style="text-align: right">20,621,526,674</td><td style="text-align: right">94.91%</td></tr>
                            <tr><td>PBJT atas Jasa Parkir</td><td style="text-align: right">57,776,569,585</td><td style="text-align: right">5,168,019,570</td><td style="text-align: right">4,462,485,903</td><td style="text-align: right">4,221,379,693</td><td style="text-align: right">4,501,093,887</td><td style="text-align: right">4,468,195,637</td><td style="text-align: right">4,687,398,597</td><td style="text-align: right">4,546,179,625</td><td style="text-align: right">4,652,790,072</td><td style="text-align: right">4,611,140,189</td><td style="text-align: right">4,464,335,385</td><td style="text-align: right">4,632,002,496</td><td style="text-align: right">5,922,708,193</td><td style="text-align: right">56,337,729,247</td><td style="text-align: right">1,438,840,338</td><td style="text-align: right">97.51%</td></tr>
                            <tr><td>PBJT atas Jasa Kesenian dan Hiburan</td><td style="text-align: right">84,327,067,778</td><td style="text-align: right">5,012,000,671</td><td style="text-align: right">5,964,412,555</td><td style="text-align: right">6,247,290,227</td><td style="text-align: right">5,100,272,023</td><td style="text-align: right">7,239,662,285</td><td style="text-align: right">7,821,499,149</td><td style="text-align: right">8,041,956,252</td><td style="text-align: right">8,907,049,359</td><td style="text-align: right">7,314,104,030</td><td style="text-align: right">7,167,064,758</td><td style="text-align: right">7,551,324,846</td><td style="text-align: right">9,218,835,874</td><td style="text-align: right">85,585,472,029</td><td style="text-align: right">1,258,404,251</td><td style="text-align: right">101.49%</td></tr>
                            <tr><td>Pajak Air Tanah</td><td style="text-align: right">1,368,359,434</td><td style="text-align: right">104,111,600</td><td style="text-align: right">114,687,120</td><td style="text-align: right">114,272,440</td><td style="text-align: right">114,281,240</td><td style="text-align: right">115,450,000</td><td style="text-align: right">114,866,620</td><td style="text-align: right">115,284,420</td><td style="text-align: right">125,086,400</td><td style="text-align: right">123,647,520</td><td style="text-align: right">125,273,460</td><td style="text-align: right">123,311,010</td><td style="text-align: right">123,695,980</td><td style="text-align: right">1,413,967,810</td><td style="text-align: right">45,608,376</td><td style="text-align: right">103.33%</td></tr>
                            <tr><td>Pajak Reklame</td><td style="text-align: right">161,940,557,833</td><td style="text-align: right">10,614,397,000</td><td style="text-align: right">7,886,883,750</td><td style="text-align: right">14,635,364,300</td><td style="text-align: right">10,225,156,100</td><td style="text-align: right">9,041,017,400</td><td style="text-align: right">11,382,613,600</td><td style="text-align: right">14,577,963,300</td><td style="text-align: right">12,357,984,700</td><td style="text-align: right">13,356,736,000</td><td style="text-align: right">14,160,834,800</td><td style="text-align: right">11,466,630,200</td><td style="text-align: right">11,743,735,000</td><td style="text-align: right">141,449,316,150</td><td style="text-align: right">20,491,241,683</td><td style="text-align: right">87.35%</td></tr>
                            <tr><td>Pajak Bumi Bangunan</td><td style="text-align: right">1,644,686,993,252</td><td style="text-align: right">32,471,839,805</td><td style="text-align: right">118,884,627,166</td><td style="text-align: right">153,479,342,675</td><td style="text-align: right">124,451,497,176</td><td style="text-align: right">648,437,014,745</td><td style="text-align: right">85,328,810,322</td><td style="text-align: right">58,183,037,147</td><td style="text-align: right">55,987,045,171</td><td style="text-align: right">37,832,948,890</td><td style="text-align: right">18,372,149,258</td><td style="text-align: right">27,985,096,705</td><td style="text-align: right">53,096,785,072</td><td style="text-align: right">1,414,510,194,132</td><td style="text-align: right">230,176,799,120</td><td style="text-align: right">86.00%</td></tr>
                            <tr><td>BPHTB</td><td style="text-align: right">1,469,776,543,833</td><td style="text-align: right">60,131,277,079</td><td style="text-align: right">82,601,505,018</td><td style="text-align: right">100,389,198,739</td><td style="text-align: right">61,003,741,748</td><td style="text-align: right">87,182,448,383</td><td style="text-align: right">107,367,391,549</td><td style="text-align: right">279,736,353,739</td><td style="text-align: right">122,456,498,161</td><td style="text-align: right">80,341,508,025</td><td style="text-align: right">89,940,801,386</td><td style="text-align: right">106,550,599,484</td><td style="text-align: right">162,999,601,571</td><td style="text-align: right">1,340,700,924,882</td><td style="text-align: right">129,075,618,951</td><td style="text-align: right">91.22%</td></tr>
                            <tr><td>Opsen PKB</td><td style="text-align: right">-</td><td style="text-align: right">-</td><td style="text-align: right">-</td><td style="text-align: right">-</td><td style="text-align: right">-</td><td style="text-align: right">-</td><td style="text-align: right">-</td><td style="text-align: right">-</td><td style="text-align: right">-</td><td style="text-align: right">-</td><td style="text-align: right">-</td><td style="text-align: right">-</td><td style="text-align: right">-</td><td style="text-align: right">-</td><td style="text-align: right">-</td><td style="text-align: right">0.00%</td></tr>
                            <tr><td>Opsen BBNKB</td><td style="text-align: right">-</td><td style="text-align: right">-</td><td style="text-align: right">-</td><td style="text-align: right">-</td><td style="text-align: right">-</td><td style="text-align: right">-</td><td style="text-align: right">-</td><td style="text-align: right">-</td><td style="text-align: right">-</td><td style="text-align: right">-</td><td style="text-align: right">-</td><td style="text-align: right">-</td><td style="text-align: right">-</td><td style="text-align: right">-</td><td style="text-align: right">-</td><td style="text-align: right">0.00%</td></tr>
                        </tbody>
                        <tfoot>
                            <tr><td><b>TOTAL</b></td><td style="text-align: right">5,168,983,486,267</td><td style="text-align: right">225,248,579,243</td><td style="text-align: right">339,568,847,319</td><td style="text-align: right">417,410,861,604</td><td style="text-align: right">343,185,702,164</td><td style="text-align: right">899,885,391,440</td><td style="text-align: right">365,045,316,691</td><td style="text-align: right">521,163,246,280</td><td style="text-align: right">357,589,796,696</td><td style="text-align: right">292,639,737,122</td><td style="text-align: right">282,564,071,613</td><td style="text-align: right">313,630,579,364</td><td style="text-align: right">426,206,191,682</td><td style="text-align: right">4,784,138,321,218</td><td style="text-align: right">384,845,165,049</td><td style="text-align: right">92.55%</td></tr>
                        </tfoot>
                    </table> *@
                    <div id="GridContainerMines"></div>
                </div>
                
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(function () {
            const data = [
                {
                    JenisPajak: "PBJT atas Makanan dan/atau Minuman",
                    Target: 736275239787,
                    Jan: 55256415760,
                    Feb: 57138524562,
                    Mar: 50361621386,
                    Apr: 62926698656,
                    May: 62868039205,
                    Jun: 63200171508,
                    Jul: 62439245685,
                    Aug: 60536398194,
                    Sep: 58635280208,
                    Oct: null,
                    Nov: null,
                    Dec: null,
                    Jumlah: 533362395164,
                    Selisih: 202912844623,
                    Capaian: "72.44%"
                },
                {
                    JenisPajak: "PBJT atas Tenaga Listrik",
                    Target: 766551662201,
                    Jan: 62818852323,
                    Feb: 59174464560,
                    Mar: 52956698665,
                    Apr: 47302947831,
                    May: 55301084155,
                    Jun: 56654361293,
                    Jul: 59970970442,
                    Aug: 59091027096,
                    Sep: 60428236751,
                    Oct: null,
                    Nov: null,
                    Dec: null,
                    Jumlah: 513698643116,
                    Selisih: 252853019085,
                    Capaian: "67.01%"
                },
                {
                    JenisPajak: "PBJT atas Jasa Perhotelan",
                    Target: 405688598057,
                    Jan: 25819948362,
                    Feb: 27422583737,
                    Mar: 28910844460,
                    Apr: 21080838834,
                    May: 25102480969,
                    Jun: 29789054231,
                    Jul: 29839962558,
                    Aug: 29053899938,
                    Sep: 29468136242,
                    Oct: null,
                    Nov: null,
                    Dec: null,
                    Jumlah: 246487749331,
                    Selisih: 159200848726,
                    Capaian: "60.76%"
                },
                {
                    JenisPajak: "PBJT atas Jasa Parkir",
                    Target: 62125343640,
                    Jan: 3347869608,
                    Feb: 4512806688,
                    Mar: 4357344992,
                    Apr: 4521115094,
                    May: 4514838589,
                    Jun: 4655986070,
                    Jul: 4677900918,
                    Aug: 4838001397,
                    Sep: 5044103148,
                    Oct: null,
                    Nov: null,
                    Dec: null,
                    Jumlah: 40469966504,
                    Selisih: 21655377136,
                    Capaian: "65.14%"
                },
                {
                    JenisPajak: "PBJT atas Jasa Kesenian dan Hiburan",
                    Target: 102064401727,
                    Jan: 6262255689,
                    Feb: 7677536461,
                    Mar: 5975594478,
                    Apr: 4654854668,
                    May: 9761832498,
                    Jun: 8078333777,
                    Jul: 8964746660,
                    Aug: 8500559198,
                    Sep: 7265192748,
                    Oct: null,
                    Nov: null,
                    Dec: null,
                    Jumlah: 67140906177,
                    Selisih: 34923495550,
                    Capaian: "65.78%"
                },
                {
                    JenisPajak: "Pajak Air Tanah",
                    Target: 1435906440,
                    Jan: 123063470,
                    Feb: 122728110,
                    Mar: 121234150,
                    Apr: 121342630,
                    May: 121460430,
                    Jun: 141298230,
                    Jul: 139678460,
                    Aug: 122349530,
                    Sep: 117768090,
                    Oct: null,
                    Nov: null,
                    Dec: null,
                    Jumlah: 1130923100,
                    Selisih: 304983340,
                    Capaian: "78.76%"
                },
                {
                    JenisPajak: "Pajak Reklame",
                    Target: 178291170763,
                    Jan: 7977899900,
                    Feb: 10545679900,
                    Mar: 13941242200,
                    Apr: 8456961400,
                    May: 12699874450,
                    Jun: 11032885225,
                    Jul: 13123678075,
                    Aug: 10474797550,
                    Sep: 9222647300,
                    Oct: null,
                    Nov: null,
                    Dec: null,
                    Jumlah: 97475666000,
                    Selisih: 80815504763,
                    Capaian: "54.67%"
                },
                {
                    JenisPajak: "Pajak Bumi Bangunan",
                    Target: 1738731114918,
                    Jan: 45606663294,
                    Feb: 130101912406,
                    Mar: 115024468747,
                    Apr: 150961466941,
                    May: 600392591490,
                    Jun: 92196913848,
                    Jul: 80117423119,
                    Aug: 63352009339,
                    Sep: 1012578117,
                    Oct: null,
                    Nov: null,
                    Dec: null,
                    Jumlah: 1287879230301,
                    Selisih: 450851884617,
                    Capaian: "74.07%"
                },
                {
                    JenisPajak: "BPHTB",
                    Target: 1645077374811,
                    Jan: 44326462537,
                    Feb: 95504319222,
                    Mar: 98747506500,
                    Apr: 64377941490,
                    May: 96218871637,
                    Jun: 115779411000,
                    Jul: 190388290303,
                    Aug: 172125306512,
                    Sep: 52598241692,
                    Oct: null,
                    Nov: null,
                    Dec: null,
                    Jumlah: 930066350893,
                    Selisih: 715011023918,
                    Capaian: "56.54%"
                },
                {
                    JenisPajak: "Opsen PKB",
                    Target: 1046318203819,
                    Jan: 47577836550,
                    Feb: 52410017505,
                    Mar: 57440683700,
                    Apr: 52885177150,
                    May: 54789407800,
                    Jun: 47004254647,
                    Jul: 69078591700,
                    Aug: 70986710800,
                    Sep: 21840778850,
                    Oct: null,
                    Nov: null,
                    Dec: null,
                    Jumlah: 474013458702,
                    Selisih: 572304745117,
                    Capaian: "45.30%"
                },
                {
                    JenisPajak: "Opsen BBNKB",
                    Target: 625192983163,
                    Jan: 23889609400,
                    Feb: 29317986283,
                    Mar: 31217053000,
                    Apr: 24906073100,
                    May: 27469149800,
                    Jun: 22118559765,
                    Jul: 28798593000,
                    Aug: 25140857000,
                    Sep: 8328477000,
                    Oct: null,
                    Nov: null,
                    Dec: null,
                    Jumlah: 221186358348,
                    Selisih: 404006624815,
                    Capaian: "35.38%"
                },
                {
                    JenisPajak: "TOTAL",
                    Target: 7307751999326,
                    Jan: 323006876893,
                    Feb: 473928559434,
                    Mar: 459054292278,
                    Apr: 442195417794,
                    May: 949239631023,
                    Jun: 450651229594,
                    Jul: 547539080920,
                    Aug: 504221916554,
                    Sep: 263074643146,
                    Oct: null,
                    Nov: null,
                    Dec: null,
                    Jumlah: 4412911647636,
                    Selisih: 2894840351690,
                    Capaian: "60.39%"
                }
            ];
                    var dataMines = [
            {
                JenisPajak: "PBJT atas Makanan dan/atau Minuman",
                Target: 655433066321,
                Jan: 44952959054,
                Feb: 51461107850,
                Mar: 52911420475,
                Apr: 54880060374,
                May: 59882678633,
                Jun: 58052028900,
                Jul: 59054046821,
                Aug: 57550905082,
                Sep: 55076702066,
                Oct: 54306521718,
                Nov: 55952921794,
                Dec: 69341223143,
                Jumlah: 673422575910,
                Selisih: 17989509589,
                Capaian: "102.74%"
            },
            {
                JenisPajak: "PBJT atas Tenaga Listrik",
                Target: 688269513544,
                Jan: 43248782517,
                Feb: 43052004369,
                Mar: 58962306095,
                Apr: 56653815308,
                May: 58658123963,
                Jun: 58084041882,
                Jul: 61870934644,
                Aug: 59192338877,
                Sep: 59151030389,
                Oct: 60034650979,
                Nov: 61682727174,
                Dec: 65344096848,
                Jumlah: 685934853045,
                Selisih: 2334660499,
                Capaian: "99.66%"
            },
            {
                JenisPajak: "PBJT atas Jasa Perhotelan",
                Target: 405404814687,
                Jan: 23545191947,
                Feb: 25141133588,
                Mar: 26450286960,
                Apr: 26255784308,
                May: 24860800394,
                Jun: 32206666072,
                Jul: 35037490332,
                Aug: 36360098874,
                Sep: 34831920013,
                Oct: 33992439869,
                Nov: 37685965655,
                Dec: 48415510001,
                Jumlah: 384783288013,
                Selisih: 20621526674,
                Capaian: "94.91%"
            },
            {
                JenisPajak: "PBJT atas Jasa Parkir",
                Target: 57776569585,
                Jan: 5168019570,
                Feb: 4462485903,
                Mar: 4221379693,
                Apr: 4501093887,
                May: 4468195637,
                Jun: 4687398597,
                Jul: 4546179625,
                Aug: 4652790072,
                Sep: 4611140189,
                Oct: 4464335385,
                Nov: 4632002496,
                Dec: 5922708193,
                Jumlah: 56337729247,
                Selisih: 1438840338,
                Capaian: "97.51%"
            },
            {
                JenisPajak: "PBJT atas Jasa Kesenian dan Hiburan",
                Target: 84327067778,
                Jan: 5012000671,
                Feb: 5964412555,
                Mar: 6247290227,
                Apr: 5100272023,
                May: 7239662285,
                Jun: 7821499149,
                Jul: 8041956252,
                Aug: 8907049359,
                Sep: 7314104030,
                Oct: 7167064758,
                Nov: 7551324846,
                Dec: 9218835874,
                Jumlah: 85585472029,
                Selisih: 1258404251,
                Capaian: "101.49%"
            },
            {
                JenisPajak: "Pajak Air Tanah",
                Target: 1368359434,
                Jan: 104111600,
                Feb: 114687120,
                Mar: 114272440,
                Apr: 114281240,
                May: 115450000,
                Jun: 114866620,
                Jul: 115284420,
                Aug: 125086400,
                Sep: 123647520,
                Oct: 125273460,
                Nov: 123311010,
                Dec: 123695980,
                Jumlah: 1413967810,
                Selisih: 45608376,
                Capaian: "103.33%"
            },
            {
                JenisPajak: "Pajak Reklame",
                Target: 161940557833,
                Jan: 10614397000,
                Feb: 7886883750,
                Mar: 14635364300,
                Apr: 10225156100,
                May: 9041017400,
                Jun: 11382613600,
                Jul: 14577963300,
                Aug: 12357984700,
                Sep: 13356736000,
                Oct: 14160834800,
                Nov: 11466630200,
                Dec: 11743735000,
                Jumlah: 141449316150,
                Selisih: 20491241683,
                Capaian: "87.35%"
            },
            {
                JenisPajak: "Pajak Bumi Bangunan",
                Target: 1644686993252,
                Jan: 32471839805,
                Feb: 118884627166,
                Mar: 153479342675,
                Apr: 124451497176,
                May: 648437014745,
                Jun: 85328810322,
                Jul: 58183037147,
                Aug: 55987045171,
                Sep: 37832948890,
                Oct: 18372149258,
                Nov: 27985096705,
                Dec: 53096785072,
                Jumlah: 1414510194132,
                Selisih: 230176799120,
                Capaian: "86.00%"
            },
            {
                JenisPajak: "BPHTB",
                Target: 1469776543833,
                Jan: 60131277079,
                Feb: 82601505018,
                Mar: 100389198739,
                Apr: 61003741748,
                May: 87182448383,
                Jun: 107367391549,
                Jul: 279736353739,
                Aug: 122456498161,
                Sep: 80341508025,
                Oct: 89940801386,
                Nov: 106550599484,
                Dec: 162999601571,
                Jumlah: 1340700924882,
                Selisih: 129075618951,
                Capaian: "91.22%"
            },
            {
                JenisPajak: "Opsen PKB",
                Target: null,
                Jan: null,
                Feb: null,
                Mar: null,
                Apr: null,
                May: null,
                Jun: null,
                Jul: null,
                Aug: null,
                Sep: null,
                Oct: null,
                Nov: null,
                Dec: null,
                Jumlah: null,
                Selisih: null,
                Capaian: "0.00%"
            },
            {
                JenisPajak: "Opsen BBNKB",
                Target: null,
                Jan: null,
                Feb: null,
                Mar: null,
                Apr: null,
                May: null,
                Jun: null,
                Jul: null,
                Aug: null,
                Sep: null,
                Oct: null,
                Nov: null,
                Dec: null,
                Jumlah: null,
                Selisih: null,
                Capaian: "0.00%"
            },
            {
                JenisPajak: "TOTAL",
                Target: 5168983486267,
                Jan: 225248579243,
                Feb: 339568847319,
                Mar: 417410861604,
                Apr: 343185702164,
                May: 899885391440,
                Jun: 365045316691,
                Jul: 521163246280,
                Aug: 357589796696,
                Sep: 292639737122,
                Oct: 282564071613,
                Nov: 313630579364,
                Dec: 426206191682,
                Jumlah: 4784138321218,
                Selisih: 384845165049,
                Capaian: "92.55%"
            }
        ];

        $("#gridContainerNow").dxDataGrid({
            dataSource: data,
            showBorders: true,
            showRowLines: true,
            showColumnLines: true,
            columnAutoWidth: true,
            allowColumnResizing: true,
            columnResizingMode: "nextColumn", // atau "widget" kalau mau semua menyesuaikan
            wordWrapEnabled: false,
            rowAlternationEnabled: true,
            columns: [
                { dataField: "JenisPajak", caption: "JENIS PAJAK" },
                { dataField: "Target", caption: "TARGET 2025", alignment: "right", customizeText: formatNumber },
                { dataField: "Jan", caption: "JAN", alignment: "right", customizeText: formatNumber },
                { dataField: "Feb", caption: "FEB", alignment: "right", customizeText: formatNumber },
                { dataField: "Mar", caption: "MAR", alignment: "right", customizeText: formatNumber },
                { dataField: "Apr", caption: "APR", alignment: "right", customizeText: formatNumber },
                { dataField: "May", caption: "MAY", alignment: "right", customizeText: formatNumber },
                { dataField: "Jun", caption: "JUN", alignment: "right", customizeText: formatNumber },
                { dataField: "Jul", caption: "JUL", alignment: "right", customizeText: formatNumber },
                { dataField: "Aug", caption: "AUG", alignment: "right", customizeText: formatNumber },
                { dataField: "Sep", caption: "SEP", alignment: "right", customizeText: formatNumber },
                { dataField: "Oct", caption: "OCT", alignment: "right", customizeText: formatNumber },
                { dataField: "Nov", caption: "NOV", alignment: "right", customizeText: formatNumber },
                { dataField: "Dec", caption: "DEC", alignment: "right", customizeText: formatNumber },
                { dataField: "Jumlah", caption: "JUMLAH", alignment: "right", customizeText: formatNumber },
                { dataField: "Selisih", caption: "SELISIH", alignment: "right", customizeText: formatNumber },
                { dataField: "Capaian", caption: "CAPAIAN", alignment: "center" }
            ],
            onRowPrepared: function (e) {
                if (e.rowType === "data" && e.data.JenisPajak === "TOTAL") {
                    e.rowElement.css("font-weight", "bold");
                    e.rowElement.css("background-color", "#f5f5f5");
                }
            }
        });

        $("#GridContainerMines").dxDataGrid({
            dataSource: dataMines, // isi array object hasil convert dari table di atas
            showBorders: true,
            showRowLines: true,
            showColumnLines: true,
            columnAutoWidth: true,
            allowColumnResizing: true,
            columnResizingMode: "nextColumn",
            wordWrapEnabled: false,
            rowAlternationEnabled: true,
            columns: [
                { dataField: "JenisPajak", caption: "JENIS PAJAK" },
                { dataField: "Target", caption: "TARGET 2024", alignment: "right", customizeText: formatNumber },
                { dataField: "Jan", caption: "JAN", alignment: "right", customizeText: formatNumber },
                { dataField: "Feb", caption: "FEB", alignment: "right", customizeText: formatNumber },
                { dataField: "Mar", caption: "MAR", alignment: "right", customizeText: formatNumber },
                { dataField: "Apr", caption: "APR", alignment: "right", customizeText: formatNumber },
                { dataField: "May", caption: "MAY", alignment: "right", customizeText: formatNumber },
                { dataField: "Jun", caption: "JUN", alignment: "right", customizeText: formatNumber },
                { dataField: "Jul", caption: "JUL", alignment: "right", customizeText: formatNumber },
                { dataField: "Aug", caption: "AUG", alignment: "right", customizeText: formatNumber },
                { dataField: "Sep", caption: "SEP", alignment: "right", customizeText: formatNumber },
                { dataField: "Oct", caption: "OCT", alignment: "right", customizeText: formatNumber },
                { dataField: "Nov", caption: "NOV", alignment: "right", customizeText: formatNumber },
                { dataField: "Dec", caption: "DEC", alignment: "right", customizeText: formatNumber },
                { dataField: "Jumlah", caption: "JUMLAH", alignment: "right", customizeText: formatNumber },
                { dataField: "Selisih", caption: "SELISIH", alignment: "right", customizeText: formatNumber },
                { dataField: "Capaian", caption: "CAPAIAN", alignment: "center" }
            ],
            onRowPrepared: function (e) {
                if (e.rowType === "data" && e.data.JenisPajak === "TOTAL") {
                    e.rowElement.css("font-weight", "bold");
                    e.rowElement.css("background-color", "#f5f5f5");
                }
            }
        });
        function formatNumber(cellInfo) {
                if (cellInfo.value === null) return "-";
                return new Intl.NumberFormat("id-ID").format(cellInfo.value);
            }
        });
    </script>
}