@model MonPDReborn.Models.DataOP.ProfileOPUPTBVM.RekapPerWilayah


<div class="table-responsive">
    @(
            Html.DevExtreme().DataGrid<MonPDReborn.Models.DataOP.ProfileOPVM.RekapOP>()
                .ID("wilayahGrid")
                .ShowBorders(true)
                .ShowColumnLines(true)
                .ShowRowLines(true)
                .ColumnAutoWidth(true)
                .SearchPanel(s => s.Visible(true))
                .FilterRow(f => f.Visible(true))
                .HeaderFilter(h => h.Visible(true))
                .Sorting(s => s.Mode(GridSortingMode.Multiple))
                .AllowColumnResizing(true)
                .DataSource(Model.RekapOpWilayahList)
                .Export(e => e.Enabled(true).Formats(new[] { "xlsx", "pdf" }))
                .OnExporting("exportGrid")
                .Columns(columns => {

                    columns.AddFor(x => x.JenisPajak)
                        .Caption("JENIS PAJAK")
                        .Fixed(true)
                        .FixedPosition(HorizontalEdge.Left)
                        .CssClass("fw-bold");

                    columns.AddFor(x => x.JmlOpAkhir).Caption("Jumlah OP").Format("#,##0")@* .CellTemplate(new JS("detailSeriesCellTemplate")) *@;
                        

                   
                       
                })
                .Summary(s => {
                    s.TotalItems(items => {
                        items.AddFor(x => x.JenisPajak)
                            .SummaryType(SummaryType.Sum)
                            .DisplayFormat("Total");

                        items.AddFor(x => x.JmlOpAkhir)
                            .SummaryType(SummaryType.Sum)
                            .ValueFormat("#,##0")
                            .DisplayFormat("{0}");
                    });
                })
                .MasterDetail(md => md
                    .Enabled(true)
                    .Template(
                @<text>
                    @{
                    ViewData["JenisPajak"] = new JS("data.EnumPajak");
                    ViewData["uptb"] = new JS("data.Uptb");
                    ViewData["kec"] = new JS("data.KdKecamatan");
                    ViewData["kel"] = new JS("data.KdKelurahan");
                    }
                    @await Html.PartialAsync("/Views/DataOP/ProfileOP/_DetailPerWilayah.cshtml")
                    <% if (data.EnumPajak === 3) { %>
                    @await Html.PartialAsync("/Views/DataOP/ProfileOP/_DetailPerWilayahHotel.cshtml")
                    <% } %>
                </text>)
                    )
    )
</div>
    
