@model MonPDReborn.Models.AktivitasWP.PenghimbauanVM.Show

<div class="table-responsive">
    @(
            Html.DevExtreme().DataGrid<MonPDReborn.Models.AktivitasWP.PenghimbauanVM.PenghimbauanWP>()
            .ID("PenghimbauanWPGrid")
            .DataSource(Model.DataPenghimbauanWPList)
            .KeyExpr("NPWPD")
            .ShowBorders(true)
            .RowAlternationEnabled(true)
            .ColumnAutoWidth(true)
            .Columns(columns =>
            {

                columns.AddFor(m => m.NPWPD)
                    .Caption("NPWPD")
                            .CellTemplate(@<text>
                        <strong><%= data.NPWPD %></strong>
                    </text>);

                columns.AddFor(m => m.NamaWP)
                   .Caption("Nama WP");

                columns.AddFor(m => m.Ketetapan)
                    .Caption("Ketetapan").Format(f => f.Type(Format.Currency).Precision(0).Currency("IDR"));

                columns.AddFor(m => m.TglKetetapan)
                    .Caption("Tanggal Ketetapan");

                columns.AddFor(m => m.Terbayar)
                    .Caption("Terbayar").Format(f => f.Type(Format.Currency).Precision(0).Currency("IDR"));

                columns.AddFor(m => m.TglBayar)
                    .Caption("Tanggal Bayar");

                columns.Add()
                    .Caption("Status")
                    .CellTemplate(@<text>
                        <%
                        var status = data.Status;
                        var color = status == "Lunas" ? "badge bg-success" :
                                    status == "Sebagian" ? "badge bg-warning" :
                                    "badge bg-danger";
                        %>
                        <span class="<%= color %>"><%= status %></span>
                    </text>);

                
            })
        )
</div>