@model MonPDReborn.Models.CCTVParkir.MonitoringCCTVVM.Log

<div class="table-responsive">
    @(
        Html.DevExtreme().DataGrid<MonPDReborn.Models.CCTVParkir.MonitoringCCTVVM.MonitoringCCTVLog>()
        .ID("MonitoringCCTVGrid")
        .DataSource(Model.MonitoringCCTVLogList.OrderByDescending(x => x.PlatNo).ToList())
        .ShowBorders(true)
        .ShowColumnLines(true)
        .RowAlternationEnabled(true)
        .ShowRowLines(true)
        .ShowColumnHeaders(true)
        .RowAlternationEnabled(true)
        .ColumnAutoWidth(true)
        .SearchPanel(s => s.Visible(true).HighlightCaseSensitive(false))
        .FilterRow(f => f.Visible(true))
        .HeaderFilter(h => h.Visible(true))
        .Sorting(s => s.Mode(GridSortingMode.Multiple))
        .Paging(p => p.PageSize(10))
        .Pager(p => p
        .ShowPageSizeSelector(true)
        .AllowedPageSizes(new[] { 10, 20, 50 })
        .ShowInfo(true)
        )
        .SearchPanel(sp => sp
        .Visible(true)
        .Width(240)
        .Placeholder("Cari...")
        )
        .Export(e => e.Enabled(true).AllowExportSelectedData(false).Formats(new[] { "xlsx", "pdf" }))
        .OnExporting("exportGrid")
        .Columns(columns =>
        {
            columns.AddFor(m => m.PlatNo).Caption("Plat No. Kend");
            columns.AddFor(m => m.JenisKendaraanNama).Caption("Jenis Kendaraan");
            columns.AddFor(m => m.WaktuIn).Caption("Waktu Masuk").Format("dd MMM yyyy HH:mm:ss");
            columns.AddFor(m => m.WaktuOut).Caption("Waktu Keluar").Format("dd MMM yyyy HH:mm:ss");
        })
    )
</div>