@using MonPDLib.General
@model MonPDReborn.Models.CCTVParkir.MonitoringCCTVVM.LiveStreamingVideo


@if(Model.VendorId == (int)EnumFactory.EVendorParkirCCTV.Telkom)
{
    <video id="videoRtc" autoplay playsinline controls style="width:80%;border:1px solid #ccc;"></video>

    <script>
        startWebRTC("videoRtc", '@(Model.MediaMtxSource)');
    </script>
}

@if(Model.VendorId == (int)EnumFactory.EVendorParkirCCTV.Jasnita)
{
<h2>Live Camera - WebRTC</h2>
    <div class="text-center">
        <video width="640" height="360" controls autoplay muted>
            <source src="@Model.JasnitaSource" type="video/mp4" />
            Browser tidak mendukung video tag.
        </video>
    </div>
}

