@{
    ViewBag.Title = "Live Camera";
}

<h2>Live Camera - WebRTC</h2>

<video id="video" autoplay playsinline controls style="width:80%;border:1px solid #ccc;"></video>

<script>
    const url = "http://localhost:8889/cam1/whep"
    const pc = new RTCPeerConnection();

    pc.ontrack = (event) => {
        document.getElementById('video').srcObject = event.streams[0];
    };

    pc.addTransceiver("video", { direction: "recvonly" });
    pc.addTransceiver("audio", { direction: "recvonly" });

    pc.createOffer()
      .then(offer => pc.setLocalDescription(offer).then(() => offer))
      .then(offer =>
        fetch(url, {
          method: "POST",
          body: offer.sdp,
          headers: { "Content-Type": "application/sdp" }
        })
      )
      .then(res => res.text())
      .then(answer => pc.setRemoteDescription({ type: "answer", sdp: answer }))
      .catch(err => console.error("WebRTC error:", err));
</script>