@using MonPDLib.General
@model MonPDReborn.Models.CCTVParkir.MonitoringCCTVVM.LiveStreamingVideo

<style>
    video {
        max-width: 100%;
        height: auto;
    }

    .ratio video {
        background-color: #000;
    }
</style>
@if(Model.VendorId == (int)EnumFactory.EVendorParkirCCTV.Telkom)
{
    
    <div class="ratio ratio-16x9">
        <video id="videoRtc" autoplay playsinline controls
               class="w-100 h-100 rounded border">
        </video>
    </div>

    <script>
        startWebRTC("videoRtc", '@(Model.MediaMtxSource)');
    </script>
}

@if(Model.VendorId == (int)EnumFactory.EVendorParkirCCTV.Jasnita)
{
    
    string displayId = Model.DisplayId ?? "";
    var videoUrl = Url.Action("GetLiveStreamingVideo", new { displayId });

    <div class="ratio ratio-16x9 border rounded overflow-hidden">
        <img src="@videoUrl"
             alt="Live CCTV Stream"
             class="w-100 h-100 object-fit-cover" />
    </div>
}

