@model MonPDReborn.Models.DataOP.ProfileSpasialOPVM.Index

@{
    ViewData["Title"] = "Profil Spasial";
    Layout = "_Layout";
}

<style>
    .circle {
        display: inline-block;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        margin-right: 8px;
        vertical-align: middle;
    }

    .red {
        background-color: red;
    }

    .blue {
        background-color: blue;
    }

    .green {
        background-color: green;
    }

    .brown {
        background-color: brown;
    }

    .purple {
        background-color: purple;
    }
</style>

<div class="row">

    <div class="col-lg-12">
        <div class="card">
            <div class="card-header d-flex bg-header-color align-items-center">
                <div class="flex-grow-1">
                    <h4 class="card-title text-dark fs-16 mb-0">
                        Dashboard Profil Spasial
                    </h4>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="card">
            <div class="card-body">
                <h5 class="mb-3">Cari Nama OP:</h5>
                <input type="text" class="form-control mb-3" placeholder="Masukkan Nama OP" id="filter-nama-op" />

                <label class="mb-2">Pilih UPTB:</label>
                <select class="form-select mb-3" id="filter-uptb">
                    <option value="all">Semua Wilayah</option>
                    @foreach (var item in Model.Uptbs)
                    {
                        <option value="@(item.Id)">@(item.Nama)</option>
                    }
                </select>

                <label class="mb-2">Jenis Pajak:</label>
                <div class="mb-3">
                    <div class="custom-control custom-checkbox">
                        <input class="custom-control-input" type="checkbox" id="checkbox-hotel" value="3">
                        <label for="checkbox-hotel" class="custom-control-label">
                            <span class="circle blue"></span> HOTEL
                        </label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input class="custom-control-input" type="checkbox" id="checkbox-restoran" value="1">
                        <label for="checkbox-restoran" class="custom-control-label">
                            <span class="circle red"></span> RESTORAN
                        </label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input class="custom-control-input" type="checkbox" id="checkbox-hiburan" value="5">
                        <label for="checkbox-hiburan" class="custom-control-label">
                            <span class="circle green"></span> HIBURAN
                        </label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input class="custom-control-input" type="checkbox" id="checkbox-ppj" value="2">
                        <label for="checkbox-ppj" class="custom-control-label">
                            <span class="circle purple"></span> PPJ
                        </label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input class="custom-control-input" type="checkbox" id="checkbox-parkir" value="4">
                        <label for="checkbox-parkir" class="custom-control-label">
                            <span class="circle brown"></span> PARKIR
                        </label>
                    </div>
                </div>
                <div class="mt-3 fw-bold">
                    <span style="font-size: 10px">Jumlah Data yang Ditemukan:</span>
                    <span id="filter-result-count" style="font-size: 10px">0</span>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-8">
        <div class="card">
            <div class="card-body">
                <div id="map" style="height:600px"></div>
            </div>
        </div>
    </div>
</div>
<!-- Leaflet CSS -->
<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
<!-- Leaflet JS -->
<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>


@section Scripts{
    <script>
        $(document).ready(function () {
            var datas = @(Html.Raw(Model.MapDataJSON));
            console.log(datas)
            var map = L.map('map').setView([-7.250445, 112.768845], 12);

            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                attribution: '© OpenStreetMap contributors',
            }).addTo(map);

            var markers = [];
            var NAMA_OP = new Set();
            var FK_PAJAK_DAERAH = new Set();
            var UPTB = new Set();

            function loadMapsData() {
                datas.forEach(function (item) {
                    if (item.LATITUDE != '-' && item.LONGITUDE != '-') {
                        const marker = L.circleMarker([item.LATITUDE, item.LONGITUDE], {
                            radius: 5,
                            color: item.COLOR_MARKER,
                            fillOpacity: 0.8,
                        });

                        const tooltipContent = `<div>
                                <p class="text-center" >${item.NAMA_OP}</p>
                                <small>NOP: ${item.FK_NOP}</small><br/>
                                <small>Kategori: ${item.KATEGORI_STATUS}</small><br/>
                                <small>Alamat: ${item.ALAMAT_OP}</small><br/>
                                <small>[Lat, Long]: [ ${item.LATITUDE} ], [ ${item.LONGITUDE} ]</small><br/>
                              </div>
                            `;

                        marker.bindTooltip(tooltipContent, {
                            permanent: false,
                            direction: 'top',
                            offset: [0, -10],
                            animate: true,
                        });

                        marker.NAMA_OP = item.NAMA_OP;
                        marker.FK_PAJAK_DAERAH = item.FK_PAJAK_DAERAH;
                        marker.UPTB = item.UPTB;

                        marker.on('click', function () {
                            $.ajax({
                                url: '@Url.Action("GetDetail")',
                                type: "GET",
                                data: { nop: item.FK_NOP },
                                beforeSend: function () {
                                    $("#loading1").show();
                                },
                                success: function (resp)
                                {
                                    $("#loading1").hide();
                                    $("#detail-modal-xl .modal-title").html(item.NAMA_OP);
                                    $("#detail-modal-xl .modal-body").html(resp);
                                    $("#detail-modal-xl").modal('show');
                                },
                                error: function (xhr) {
                                    $("#loading1").hide();
                                    alert("Internal Server Error", '', 'Information!', 1);
                                    $('#modal-danger').modal({ backdrop: 'static', keyboard: false, show: true })
                                }
                            });
                        });

                        markers.push(marker);
                        marker.addTo(map);

                        NAMA_OP.add(item.NAMA_OP);
                        FK_PAJAK_DAERAH.add(item.FK_PAJAK_DAERAH);
                        UPTB.add(item.UPTB)
                    }
                });
            }

            function filterMarkers() {
                var selectedUPTB = $('#filter-uptb').val();
                var selectedTaxes = $('.custom-control-input:checked').map(function () { return this.value;}).get();
                var filterNamaOp = $('#filter-nama-op').val().toLowerCase();

                var matchedCount = 0;
                markers.forEach(function (marker) {
                    // Cek apakah marker sesuai dengan filter UPTB dan Jenis Pajak
                    var matchesUPTB = selectedUPTB === "all" || marker.UPTB === selectedUPTB;
                    var matchesTax = selectedTaxes.length === 0 || selectedTaxes.includes(marker.FK_PAJAK_DAERAH);
                    var matchesNamaOp = !filterNamaOp || marker.NAMA_OP.toLowerCase().includes(filterNamaOp);

                    // Tampilkan atau sembunyikan marker berdasarkan filter
                    if (matchesUPTB && matchesTax && matchesNamaOp) {
                        marker.addTo(map); // Tampilkan marker di peta
                        matchedCount++;
                    } else {
                        map.removeLayer(marker); // Hapus marker dari peta
                    }
                });
                $('#filter-result-count').text(matchedCount);
            }

            $('#filter-nama-op').on('input', filterMarkers);
            $('#filter-uptb').change(filterMarkers);
            $('.custom-control-input').change(filterMarkers);

            loadMapsData();
            filterMarkers();
        });
    </script>
}