
<div class="table-responsive">
    @(
        Html.DevExtreme().DataGrid<MonPDReborn.Models.DashboardVM.ViewModel.DashboardReklame>()
        .ID("dg-dashboadrdetail")
        .DataSource(d => d.Mvc()
        .LoadAction("GetDetailLayanan")
        .LoadParams(new { PajakId = ViewData["PajakId"] })
        )
        .ShowBorders(true)
        .ShowColumnHeaders(true)
        .ShowColumnLines(true)
        .ShowRowLines(true)
        .RowAlternationEnabled(true)
        .ColumnAutoWidth(true)
        .SearchPanel(s => s.Visible(true).HighlightCaseSensitive(false))
        .FilterRow(f => f.Visible(true))
        .HeaderFilter(h => h.Visible(true))
        .Sorting(s => s.Mode(GridSortingMode.Multiple))
        .AllowColumnResizing(true)
        @* .KeyExpr("Layanan") *@
        .Export(e => e.Enabled(true).AllowExportSelectedData(false).Formats(new[] { "xlsx", "pdf" }))
        .OnExporting("exportGrid")
        .Columns(columns =>
        {
            columns.AddFor(x => x.Layanan)
            .CssClass("fw-bold")
            .Caption("Jenis Layanan");

            // Januari
            columns.Add().Caption("Januari").Columns(sub =>
            {
                sub.AddFor(m => m.Masuk1).Caption("Baru").Format("#,##0");
                sub.AddFor(m => m.Proses1).Caption("Proses").Format("#,##0");
                sub.AddFor(m => m.Selesai1).Caption("Selesai").Format("#,##0");
            });

            // Februari
            columns.Add().Caption("Februari").Columns(sub =>
            {
                sub.AddFor(m => m.Masuk2).Caption("Baru").Format("#,##0");
                sub.AddFor(m => m.Proses2).Caption("Proses").Format("#,##0");
                sub.AddFor(m => m.Selesai2).Caption("Selesai").Format("#,##0");
            });

            // Maret
            columns.Add().Caption("Maret").Columns(sub =>
            {
                sub.AddFor(m => m.Masuk3).Caption("Baru").Format("#,##0");
                sub.AddFor(m => m.Proses3).Caption("Proses").Format("#,##0");
                sub.AddFor(m => m.Selesai3).Caption("Selesai").Format("#,##0");
            });

            // April
            columns.Add().Caption("April").Columns(sub =>
            {
                sub.AddFor(m => m.Masuk4).Caption("Baru").Format("#,##0");
                sub.AddFor(m => m.Proses4).Caption("Proses").Format("#,##0");
                sub.AddFor(m => m.Selesai4).Caption("Selesai").Format("#,##0");
            });

            // Mei
            columns.Add().Caption("Mei").Columns(sub =>
            {
                sub.AddFor(m => m.Masuk5).Caption("Baru").Format("#,##0");
                sub.AddFor(m => m.Proses5).Caption("Proses").Format("#,##0");
                sub.AddFor(m => m.Selesai5).Caption("Selesai").Format("#,##0");
            });

            // Juni
            columns.Add().Caption("Juni").Columns(sub =>
            {
                sub.AddFor(m => m.Masuk6).Caption("Baru").Format("#,##0");
                sub.AddFor(m => m.Proses6).Caption("Proses").Format("#,##0");
                sub.AddFor(m => m.Selesai6).Caption("Selesai").Format("#,##0");
            });

            // Juli
            columns.Add().Caption("Juli").Columns(sub =>
            {
                sub.AddFor(m => m.Masuk7).Caption("Baru").Format("#,##0");
                sub.AddFor(m => m.Proses7).Caption("Proses").Format("#,##0");
                sub.AddFor(m => m.Selesai7).Caption("Selesai").Format("#,##0");
            });

            // Agustus
            columns.Add().Caption("Agustus").Columns(sub =>
            {
                sub.AddFor(m => m.Masuk8).Caption("Baru").Format("#,##0");
                sub.AddFor(m => m.Proses8).Caption("Proses").Format("#,##0");
                sub.AddFor(m => m.Selesai8).Caption("Selesai").Format("#,##0");
            });

            // September
            columns.Add().Caption("September").Columns(sub =>
            {
                sub.AddFor(m => m.Masuk9).Caption("Baru").Format("#,##0");
                sub.AddFor(m => m.Proses9).Caption("Proses").Format("#,##0");
                sub.AddFor(m => m.Selesai9).Caption("Selesai").Format("#,##0");
            });

            // Oktober
            columns.Add().Caption("Oktober").Columns(sub =>
            {
                sub.AddFor(m => m.Masuk10).Caption("Baru").Format("#,##0");
                sub.AddFor(m => m.Proses10).Caption("Proses").Format("#,##0");
                sub.AddFor(m => m.Selesai10).Caption("Selesai").Format("#,##0");
            });

            // November
            columns.Add().Caption("November").Columns(sub =>
            {
                sub.AddFor(m => m.Masuk11).Caption("Baru").Format("#,##0");
                sub.AddFor(m => m.Proses11).Caption("Proses").Format("#,##0");
                sub.AddFor(m => m.Selesai11).Caption("Selesai").Format("#,##0");
            });

            // Desember
            columns.Add().Caption("Desember").Columns(sub =>
            {
                sub.AddFor(m => m.Masuk12).Caption("Baru").Format("#,##0");
                sub.AddFor(m => m.Proses12).Caption("Proses").Format("#,##0");
                sub.AddFor(m => m.Selesai12).Caption("Selesai").Format("#,##0");
            });
        })
        .Summary(s => s
        .TotalItems(items =>
        {
            items.AddFor(x => x.Layanan)
            .SummaryType(SummaryType.Count)
            .DisplayFormat("TOTAL");

            // Total kolom Januari - contoh, bisa lanjutkan untuk semua bulan
            items.AddFor(x => x.Masuk1).SummaryType(SummaryType.Sum).ValueFormat("#,##0").DisplayFormat("{0}");
            items.AddFor(x => x.Proses1).SummaryType(SummaryType.Sum).ValueFormat("#,##0").DisplayFormat("{0}");
            items.AddFor(x => x.Selesai1).SummaryType(SummaryType.Sum).ValueFormat("#,##0").DisplayFormat("{0}");

            items.AddFor(x => x.Masuk2).SummaryType(SummaryType.Sum).ValueFormat("#,##0").DisplayFormat("{0}");
            items.AddFor(x => x.Proses2).SummaryType(SummaryType.Sum).ValueFormat("#,##0").DisplayFormat("{0}");
            items.AddFor(x => x.Selesai2).SummaryType(SummaryType.Sum).ValueFormat("#,##0").DisplayFormat("{0}");

            items.AddFor(x => x.Masuk3).SummaryType(SummaryType.Sum).ValueFormat("#,##0").DisplayFormat("{0}");
            items.AddFor(x => x.Proses3).SummaryType(SummaryType.Sum).ValueFormat("#,##0").DisplayFormat("{0}");
            items.AddFor(x => x.Selesai3).SummaryType(SummaryType.Sum).ValueFormat("#,##0").DisplayFormat("{0}");

            items.AddFor(x => x.Masuk4).SummaryType(SummaryType.Sum).ValueFormat("#,##0").DisplayFormat("{0}");
            items.AddFor(x => x.Proses4).SummaryType(SummaryType.Sum).ValueFormat("#,##0").DisplayFormat("{0}");
            items.AddFor(x => x.Selesai4).SummaryType(SummaryType.Sum).ValueFormat("#,##0").DisplayFormat("{0}");

            items.AddFor(x => x.Masuk5).SummaryType(SummaryType.Sum).ValueFormat("#,##0").DisplayFormat("{0}");
            items.AddFor(x => x.Proses5).SummaryType(SummaryType.Sum).ValueFormat("#,##0").DisplayFormat("{0}");
            items.AddFor(x => x.Selesai5).SummaryType(SummaryType.Sum).ValueFormat("#,##0").DisplayFormat("{0}");

            items.AddFor(x => x.Masuk6).SummaryType(SummaryType.Sum).ValueFormat("#,##0").DisplayFormat("{0}");
            items.AddFor(x => x.Proses6).SummaryType(SummaryType.Sum).ValueFormat("#,##0").DisplayFormat("{0}");
            items.AddFor(x => x.Selesai6).SummaryType(SummaryType.Sum).ValueFormat("#,##0").DisplayFormat("{0}");

            items.AddFor(x => x.Masuk7).SummaryType(SummaryType.Sum).ValueFormat("#,##0").DisplayFormat("{0}");
            items.AddFor(x => x.Proses7).SummaryType(SummaryType.Sum).ValueFormat("#,##0").DisplayFormat("{0}");
            items.AddFor(x => x.Selesai7).SummaryType(SummaryType.Sum).ValueFormat("#,##0").DisplayFormat("{0}");

            items.AddFor(x => x.Masuk8).SummaryType(SummaryType.Sum).ValueFormat("#,##0").DisplayFormat("{0}");
            items.AddFor(x => x.Proses8).SummaryType(SummaryType.Sum).ValueFormat("#,##0").DisplayFormat("{0}");
            items.AddFor(x => x.Selesai8).SummaryType(SummaryType.Sum).ValueFormat("#,##0").DisplayFormat("{0}");

            items.AddFor(x => x.Masuk9).SummaryType(SummaryType.Sum).ValueFormat("#,##0").DisplayFormat("{0}");
            items.AddFor(x => x.Proses9).SummaryType(SummaryType.Sum).ValueFormat("#,##0").DisplayFormat("{0}");
            items.AddFor(x => x.Selesai9).SummaryType(SummaryType.Sum).ValueFormat("#,##0").DisplayFormat("{0}");

            items.AddFor(x => x.Masuk10).SummaryType(SummaryType.Sum).ValueFormat("#,##0").DisplayFormat("{0}");
            items.AddFor(x => x.Proses10).SummaryType(SummaryType.Sum).ValueFormat("#,##0").DisplayFormat("{0}");
            items.AddFor(x => x.Selesai10).SummaryType(SummaryType.Sum).ValueFormat("#,##0").DisplayFormat("{0}");

            items.AddFor(x => x.Masuk11).SummaryType(SummaryType.Sum).ValueFormat("#,##0").DisplayFormat("{0}");
            items.AddFor(x => x.Proses11).SummaryType(SummaryType.Sum).ValueFormat("#,##0").DisplayFormat("{0}");
            items.AddFor(x => x.Selesai11).SummaryType(SummaryType.Sum).ValueFormat("#,##0").DisplayFormat("{0}");

            items.AddFor(x => x.Masuk12).SummaryType(SummaryType.Sum).ValueFormat("#,##0").DisplayFormat("{0}");
            items.AddFor(x => x.Proses12).SummaryType(SummaryType.Sum).ValueFormat("#,##0").DisplayFormat("{0}");
            items.AddFor(x => x.Selesai12).SummaryType(SummaryType.Sum).ValueFormat("#,##0").DisplayFormat("{0}");

        })
        )
        )

</div>
