@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="row">
    <div class="col-lg-9">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title fs-16 mb-0">Statistic</h4>
            </div><!-- end card header -->

            <div class="card-body">
                <div id="line_chart_datalabel" data-colors='["--vz-danger", "--vz-success"]' class="apex-charts" dir="ltr"></div>
            </div><!-- end card-body -->
        </div><!-- end card -->
    </div>
    <div class="col-lg-3">
        <div class="card">
            <div class="card-body">
                <div class="d-flex">
                    <div class="flex-grow-1">
                        <h5 class="fs-13 mb-3">Target</h5>
                        <h2>Rp. 61,91,967</h2>
                    </div>
                    <div class="flex-shrink-0">
                        <i class="mdi mdi-wallet-outline text-primary h1"></i>
                    </div>
                </div>
            </div>
        </div><!--end card-->
        <div class="card">
            <div class="card-body">
                <div class="d-flex">
                    <div class="flex-grow-1">
                        <h5 class="fs-13 mb-3">Realisasi</h5>
                        <h2>Rp. 2,74,365</h2>
                    </div>
                    <div class="flex-shrink-0">
                        <i class="ri-hand-coin-line text-primary h1"></i>
                    </div>
                </div>
            </div>
        </div><!--end card-->
        <div class="card bg-soft-success">
            <div class="card-body">
                <div class="d-flex">
                    <div class="flex-grow-1">
                        <h5 class="fs-13 mb-3">Persentase</h5>
                        <h2>50%</h2>
                    </div>
                    <div class="flex-shrink-0">
                        <i class="ri-line-chart-line text-primary h1"></i>
                    </div>
                </div>
            </div>
        </div><!--end card-->
    </div>
</div>

<hr />

<div class="row">
    <div class="col-lg-12">

        <div class="swiper pajakSlider">
            <div class="swiper-wrapper">

                <div class="swiper-slide">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex align-items-center">
                                <div class="flex-grow-1 overflow-hidden">
                                    <p class="text-uppercase fw-medium text-muted text-truncate mb-0">
                                        Pajak Hotel
                                    </p>
                                </div>
                                <div class="flex-shrink-0">
                                    <h5 class="text-success fs-14 mb-0">
                                        +16.24 %
                                    </h5>
                                </div>
                            </div>
                            <div class="d-flex align-items-end justify-content-between mt-4">
                                <div>
                                    <h4 class="fs-12 fw-bold ff-secondary mb-4">
                                        150.000.000.000 / 150.000.000.000
                                    </h4>
                                    <a href="" class="fs-12 text-decoration-underline">
                                        Detail
                                    </a>
                                </div>
                                <div class="flex-shrink-0">
                                    <img class="rounded avatar-sm" src="~/assets/images/icon/hotel.png" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex align-items-center">
                                <div class="flex-grow-1 overflow-hidden">
                                    <p class="text-uppercase fw-medium text-muted text-truncate mb-0">
                                        Pajak Hiburan
                                    </p>
                                </div>
                                <div class="flex-shrink-0">
                                    <h5 class="text-success fs-14 mb-0">
                                        +16.24 %
                                    </h5>
                                </div>
                            </div>
                            <div class="d-flex align-items-end justify-content-between mt-4">
                                <div>
                                    <h4 class="fs-12 fw-bold ff-secondary mb-4">
                                        150.000.000.000 / 150.000.000.000
                                    </h4>
                                    <a href="" class="fs-12 text-decoration-underline">
                                        Detail
                                    </a>
                                </div>
                                <div class="flex-shrink-0">
                                    <img class="rounded avatar-sm" src="~/assets/images/icon/hotel.png" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex align-items-center">
                                <div class="flex-grow-1 overflow-hidden">
                                    <p class="text-uppercase fw-medium text-muted text-truncate mb-0">
                                        Pajak Parkir
                                    </p>
                                </div>
                                <div class="flex-shrink-0">
                                    <h5 class="text-success fs-14 mb-0">
                                        +16.24 %
                                    </h5>
                                </div>
                            </div>
                            <div class="d-flex align-items-end justify-content-between mt-4">
                                <div>
                                    <h4 class="fs-12 fw-bold ff-secondary mb-4">
                                        150.000.000.000 / 150.000.000.000
                                    </h4>
                                    <a href="" class="fs-12 text-decoration-underline">
                                        Detail
                                    </a>
                                </div>
                                <div class="flex-shrink-0">
                                    <img class="rounded avatar-sm" src="~/assets/images/icon/hotel.png" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex align-items-center">
                                <div class="flex-grow-1 overflow-hidden">
                                    <p class="text-uppercase fw-medium text-muted text-truncate mb-0">
                                        Pajak Makanan Minuman
                                    </p>
                                </div>
                                <div class="flex-shrink-0">
                                    <h5 class="text-success fs-14 mb-0">
                                        +16.24 %
                                    </h5>
                                </div>
                            </div>
                            <div class="d-flex align-items-end justify-content-between mt-4">
                                <div>
                                    <h4 class="fs-12 fw-bold ff-secondary mb-4">
                                        150.000.000.000 / 150.000.000.000
                                    </h4>
                                    <a href="" class="fs-12 text-decoration-underline">
                                        Detail
                                    </a>
                                </div>
                                <div class="flex-shrink-0">
                                    <img class="rounded avatar-sm" src="~/assets/images/icon/hotel.png" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex align-items-center">
                                <div class="flex-grow-1 overflow-hidden">
                                    <p class="text-uppercase fw-medium text-muted text-truncate mb-0">
                                        Pajak Tenaga Listrik
                                    </p>
                                </div>
                                <div class="flex-shrink-0">
                                    <h5 class="text-success fs-14 mb-0">
                                        +16.24 %
                                    </h5>
                                </div>
                            </div>
                            <div class="d-flex align-items-end justify-content-between mt-4">
                                <div>
                                    <h4 class="fs-12 fw-bold ff-secondary mb-4">
                                        150.000.000.000 / 150.000.000.000
                                    </h4>
                                    <a href="" class="fs-12 text-decoration-underline">
                                        Detail
                                    </a>
                                </div>
                                <div class="flex-shrink-0">
                                    <img class="rounded avatar-sm" src="~/assets/images/icon/hotel.png" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex align-items-center">
                                <div class="flex-grow-1 overflow-hidden">
                                    <p class="text-uppercase fw-medium text-muted text-truncate mb-0">
                                        Pajak Air Tanah
                                    </p>
                                </div>
                                <div class="flex-shrink-0">
                                    <h5 class="text-success fs-14 mb-0">
                                        +16.24 %
                                    </h5>
                                </div>
                            </div>
                            <div class="d-flex align-items-end justify-content-between mt-4">
                                <div>
                                    <h4 class="fs-12 fw-bold ff-secondary mb-4">
                                        150.000.000.000 / 150.000.000.000
                                    </h4>
                                    <a href="" class="fs-12 text-decoration-underline">
                                        Detail
                                    </a>
                                </div>
                                <div class="flex-shrink-0">
                                    <img class="rounded avatar-sm" src="~/assets/images/icon/hotel.png" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex align-items-center">
                                <div class="flex-grow-1 overflow-hidden">
                                    <p class="text-uppercase fw-medium text-muted text-truncate mb-0">
                                        PBB
                                    </p>
                                </div>
                                <div class="flex-shrink-0">
                                    <h5 class="text-success fs-14 mb-0">
                                        +16.24 %
                                    </h5>
                                </div>
                            </div>
                            <div class="d-flex align-items-end justify-content-between mt-4">
                                <div>
                                    <h4 class="fs-12 fw-bold ff-secondary mb-4">
                                        150.000.000.000 / 150.000.000.000
                                    </h4>
                                    <a href="" class="fs-12 text-decoration-underline">
                                        Detail
                                    </a>
                                </div>
                                <div class="flex-shrink-0">
                                    <img class="rounded avatar-sm" src="~/assets/images/icon/hotel.png" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="swiper-slide">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex align-items-center">
                                <div class="flex-grow-1 overflow-hidden">
                                    <p class="text-uppercase fw-medium text-muted text-truncate mb-0">
                                        BPHTB
                                    </p>
                                </div>
                                <div class="flex-shrink-0">
                                    <h5 class="text-success fs-14 mb-0">
                                        +16.24 %
                                    </h5>
                                </div>
                            </div>
                            <div class="d-flex align-items-end justify-content-between mt-4">
                                <div>
                                    <h4 class="fs-12 fw-bold ff-secondary mb-4">
                                        150.000.000.000 / 150.000.000.000
                                    </h4>
                                    <a href="" class="fs-12 text-decoration-underline">
                                        Detail
                                    </a>
                                </div>
                                <div class="flex-shrink-0">
                                    <img class="rounded avatar-sm" src="~/assets/images/icon/hotel.png" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="swiper-slide">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex align-items-center">
                                <div class="flex-grow-1 overflow-hidden">
                                    <p class="text-uppercase fw-medium text-muted text-truncate mb-0">
                                        OPSEN PKB
                                    </p>
                                </div>
                                <div class="flex-shrink-0">
                                    <h5 class="text-success fs-14 mb-0">
                                        +16.24 %
                                    </h5>
                                </div>
                            </div>
                            <div class="d-flex align-items-end justify-content-between mt-4">
                                <div>
                                    <h4 class="fs-12 fw-bold ff-secondary mb-4">
                                        150.000.000.000 / 150.000.000.000
                                    </h4>
                                    <a href="" class="fs-12 text-decoration-underline">
                                        Detail
                                    </a>
                                </div>
                                <div class="flex-shrink-0">
                                    <img class="rounded avatar-sm" src="~/assets/images/icon/hotel.png" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="swiper-slide">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex align-items-center">
                                <div class="flex-grow-1 overflow-hidden">
                                    <p class="text-uppercase fw-medium text-muted text-truncate mb-0">
                                        OPSEN BBNKB
                                    </p>
                                </div>
                                <div class="flex-shrink-0">
                                    <h5 class="text-success fs-14 mb-0">
                                        +16.24 %
                                    </h5>
                                </div>
                            </div>
                            <div class="d-flex align-items-end justify-content-between mt-4">
                                <div>
                                    <h4 class="fs-12 fw-bold ff-secondary mb-4">
                                        150.000.000.000 / 150.000.000.000
                                    </h4>
                                    <a href="" class="fs-12 text-decoration-underline">
                                        Detail
                                    </a>
                                </div>
                                <div class="flex-shrink-0">
                                    <img class="rounded avatar-sm" src="~/assets/images/icon/hotel.png" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header d-flex">
                <div class="flex-grow-1">
                    <h4 class="card-title">
                        SERIES PAJAK DAERAH
                    </h4>
                </div>
                <div class="flex-shrink-0">
                    <button class="btn btn-sm btn-info">
                        <i class="ri-file-list-3-line align-middle"></i>
                        Detail
                    </button>
                </div>
            </div>
            <div class="card-body">
                @{
                    var startYear = 2019;
                    var endYear = 2025;
                }

                @(
                    Html.DevExtreme().DataGrid()
                    .ID("dg-pajakDaerah")
                    .ShowBorders(true)
                    .ShowColumnHeaders(true)
                    .ShowColumnLines(true)
                    .ShowRowLines(true)
                    .ColumnAutoWidth(true)
                    .DataSource(new object[0])
                    .KeyExpr("ID")
                    .Columns(columns =>
                    {
                        columns.Add()
                            .Caption("No")
                            .Fixed(true)
                            .FixedPosition(HorizontalEdge.Left);

                        columns.Add()
                            .Caption("Jenis Pajak")
                            .Fixed(true)
                            .FixedPosition(HorizontalEdge.Left);

                        for (int year = startYear; year <= endYear; year++)
                        {
                            columns.Add()
                            .Caption(year.ToString())
                            .Columns(subColumns =>
                            {
                                subColumns.Add().Caption("Target");
                                subColumns.Add().Caption("Persentase");
                                subColumns.Add().Caption("%");
                            });
                        }
                    })
                    .Summary(s => {
                        for (int year = startYear; year <= endYear; year++)
                        {
                            s.TotalItems(items =>
                            {
                                items.Add()
                                    .Column($"Target{year}")
                                    .SummaryType(SummaryType.Sum)
                                    .DisplayFormat("Total: {0:c}");

                                items.Add()
                                    .Column($"Realisasi{year}")
                                    .SummaryType(SummaryType.Sum)
                                    .DisplayFormat("Total: {0:c}");

                                items.Add()
                                    .Column($"Persentase{year}")
                                    .SummaryType(SummaryType.Avg)
                                    .DisplayFormat("Rata-rata: {0:p2}");
                            });
                        }
                    })
                )
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header d-flex">
                <div class="flex-grow-1">
                    <h4 class="card-title">JUMLAH OBJEK PAJAK</h4>
                </div>
                <div class="flex-shrink-0">
                     <select class="form-select form-select-sm mb-3" aria-label="Default select example">
                        <option value="1" selected>2025</option>
                        <option value="2">2024</option>
                        <option value="3">2023</option>
                    </select>
                </div>
            </div>
            <div class="card-body">
                <ul class="nav nav-tabs nav-border-top nav-border-top-primary mb-3" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-bs-toggle="tab" href="#op-tahunan" role="tab" aria-selected="false">
                            JML OP TAHUNAN
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#op-series" role="tab" aria-selected="false">
                            JML OP SERIES
                        </a>
                    </li>
                </ul>
                <div class="tab-content text-muted">
                    <div class="tab-pane active" id="op-tahunan" role="tabpanel">
                            @(
                                Html.DevExtreme().DataGrid()
                                .ID("dg-JmlObjekPajakTahunan")
                                .ShowBorders(true)
                                .ShowColumnHeaders(true)
                                .ShowColumnLines(true)
                                .ShowRowLines(true)
                                .ColumnAutoWidth(true)
                                .DataSource(new object[0])
                                .KeyExpr("ID")
                                .Columns(columns =>
                                {
                                    columns.Add().Caption("JENIS PAJAK");
                                    columns.Add().Caption("JML OP AWAL");
                                    columns.Add().Caption("JML OP TUTUP SEMENTARA");
                                    columns.Add().Caption("JML OP TUTUP PERMANEN");
                                    columns.Add().Caption("JML OP BARU");
                                })
                            )
                    </div>
                    <div class="tab-pane" id="op-series" role="tabpanel">
                            @(
                                Html.DevExtreme().DataGrid()
                                .ID("dg-JmlObjekPajakSeries")
                                .ShowBorders(true)
                                .ShowColumnHeaders(true)
                                .ShowColumnLines(true)
                                .ShowRowLines(true)
                                .ColumnAutoWidth(true)
                                .DataSource(new object[0])
                                .KeyExpr("ID")
                                .Columns(columns =>
                                {
                                    columns.Add().Caption("JENIS PAJAK");
                                    columns.Add().Caption("2020");
                                    columns.Add().Caption("2021");
                                    columns.Add().Caption("2022");
                                    columns.Add().Caption("2023");
                                    columns.Add().Caption("2024");
                                    columns.Add().Caption("2025");
                                })
                            )
                    </div>
                </div>
            </div>
            <div class="card-footer d-flex">
                <div class="flex-grow-1"></div>
                <div class="flex-shrink-0">
                    <button class="btn btn-sm btn-info">
                    <i class="ri-file-list-3-line align-middle"></i>
                        Detail
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        function getChartColorsArray(chartId) {
            if (document.getElementById(chartId) !== null) {
                var colors = document.getElementById(chartId).getAttribute("data-colors");
                colors = JSON.parse(colors);
                return colors.map(function (value) {
                    var newValue = value.replace(" ", "");
                    if (newValue.indexOf(",") === -1) {
                        var color = getComputedStyle(document.documentElement).getPropertyValue(newValue);
                        if (color) return color;
                        else return newValue;;
                    } else {
                        var val = value.split(',');
                        if (val.length == 2) {
                            var rgbaColor = getComputedStyle(document.documentElement).getPropertyValue(val[0]);
                            rgbaColor = "rgba(" + rgbaColor + "," + val[1] + ")";
                            return rgbaColor;
                        } else {
                            return newValue;
                        }
                    }
                });
            }
        }
        var swiper = new Swiper(".pajakSlider", {
            slidesPerView: 1,
            spaceBetween: 24,
            loop: true, // <--- ini penting
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
            autoplay: {
                delay: 5000,
                disableOnInteraction: false,
            },
            breakpoints: {
                640: {
                    slidesPerView: 2,
                },
                1024: {
                    slidesPerView: 3,
                },
                1600: {
                    slidesPerView: 4,
                },
            },
        });
                //  Line chart datalabel
        var linechartDatalabelColors = getChartColorsArray("line_chart_datalabel");
        var options = {
            chart: {
                height: 280,
                type: 'line',
                zoom: {
                    enabled: false
                },
                toolbar: {
                    show: false
                }
            },
            colors: linechartDatalabelColors,
            dataLabels: {
                enabled: false,
            },
            stroke: {
                width: [3, 3],
                curve: 'straight'
            },
            series: [{
                    name: "Target",
                    data: [26, 24, 32, 36, 33, 31, 33]
                },
                {
                    name: "Realisasi",
                    data: [14, 11, 16, 12, 17, 13, 12]
                }
            ],
            title: {
                text: 'Target & Realisasi PAD',
                align: 'left',
                style: {
                    fontWeight: 500,
                },
            },
            grid: {
                row: {
                    colors: ['transparent', 'transparent'], // takes an array which will be repeated on columns
                    opacity: 0.2
                },
                borderColor: '#f1f1f1'
            },
            markers: {
                style: 'inverted',
                size: 6
            },
            xaxis: {
                categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul'],
                title: {
                    text: 'Bulan'
                }
            },
            yaxis: {
                title: {
                    text: 'Nominal'
                },
            },
            legend: {
                position: 'top',
                horizontalAlign: 'right',
                floating: true,
                offsetY: -25,
                offsetX: -5
            },
            responsive: [{
                breakpoint: 600,
                options: {
                    chart: {
                        toolbar: {
                            show: false
                        }
                    },
                    legend: {
                        show: false
                    },
                }
            }]
        }

        var chart = new ApexCharts(
            document.querySelector("#line_chart_datalabel"),
            options
        );

        chart.render();
    </script>
}
