@using static MonPDReborn.Models.DashboardVM.ViewModel
@model MonPDReborn.Models.DashboardVM.LayananHarian

@{
    var hari = DateTime.Now.ToString("dd MMMM yyyy");
}
<div class="table-responsive">
    @(
        Html.DevExtreme().DataGrid<LayananHarian>()
        .ID("dg-dashboardutamahariuanaaaaa")
        .ShowBorders(true)
        .ShowColumnHeaders(true)
        .ShowColumnLines(true)
        .ShowRowLines(true)
        .RowAlternationEnabled(true)
        .ColumnAutoWidth(true)
        .SearchPanel(s => s.Visible(true).HighlightCaseSensitive(false))
        .FilterRow(f => f.Visible(true))
        .HeaderFilter(h => h.Visible(true))
        .Sorting(s => s.Mode(GridSortingMode.Multiple))
        .AllowColumnResizing(true)
        .DataSource(Model.DataHarian)
        .KeyExpr("Layanan")
        .Export(e => e.Enabled(true).AllowExportSelectedData(false).Formats(new[] { "xlsx", "pdf" }))
        .OnExporting("exportGrid")
        .Columns(columns =>
        {
            columns.AddFor(x => x.JenisPajak)
            .CssClass("fw-bold")
            .Caption("Jenis Layanan");

            @* columns.AddFor(x => x.PajakId)
            .CssClass("fw-bold")
            .Caption("pajak id");
            columns.AddFor(x => x.Tgl)
            .CssClass("fw-bold")
            .Caption("tgl Layanan");
            columns.AddFor(x => x.kodePerizinan)
            .CssClass("fw-bold")
            .Caption("tgl Layanan"); *@

            columns.Add().Caption(Model.TanggalHariIni.ToString("dd MMMM yyyy")).Columns(sub =>
            {
                sub.AddFor(m => m.Masuk).Caption("Baru").Format("#,##0");
                sub.AddFor(m => m.Proses).Caption("Proses").Format("#,##0");
                sub.AddFor(m => m.Selesai).Caption("Selesai").Format("#,##0");
            });
        })
        .Summary(s => s
        .TotalItems(items =>
        {
            items.AddFor(x => x.JenisPajak)
            .SummaryType(SummaryType.Count)
            .DisplayFormat("TOTAL");

            // Total kolom Januari - contoh, bisa lanjutkan untuk semua bulan
            items.AddFor(x => x.Masuk).SummaryType(SummaryType.Sum).ValueFormat("#,##0").DisplayFormat("{0}");
            items.AddFor(x => x.Proses).SummaryType(SummaryType.Sum).ValueFormat("#,##0").DisplayFormat("{0}");
            items.AddFor(x => x.Selesai).SummaryType(SummaryType.Sum).ValueFormat("#,##0").DisplayFormat("{0}");

        })
        ).MasterDetail(md => md
        .Enabled(true)
        .Template(
        @<text>
        @{
            ViewData["PajakId"] = new JS("data.PajakId");
            ViewData["Tgl"] = new JS("data.TglString");
            ViewData["kodePerizinan"] = new JS("data.kodePerizinan");
        }
        @await Html.PartialAsync("/Views/Dashboard/DetailLayananHarian.cshtml")
    </text>)
        )
            )

</div>