@using MonPDReborn.Models.AktivitasOP
@model PendataanObjekPajakVM.Detail


<div class="table-responsive">
    @(Html.DevExtreme().DataGrid<PendataanObjekPajakVM.DataDetailPendataan>()
    .ID("gridPendataanDetail")
    .DataSource(Model.DataDetailList)
    .ShowBorders(true)
    .ShowRowLines(true)
    .ShowColumnLines(true)
    .FilterRow(f => f
        .Visible(true)       // Tampilkan filter row
        .ApplyFilter(GridApplyFilterMode.Auto) // Filter otomatis saat ketik
        )
    .ColumnAutoWidth(true)
    .Columns(columns => {
        columns.AddFor(m => m.NOP).Caption("NOP");
        columns.AddFor(m => m.ObjekPajak).Caption("Objek Pajak");
        columns.AddFor(m => m.Alamat).Caption("Alamat");
        columns.AddFor(m => m.Omzet).Caption("Omzet").Format(f => f.Type(Format.Currency).Precision(0).Currency("IDR"));
        columns.AddFor(m => m.PajakBulanan).Caption("Pajak Bulanan").Format(f => f.Type(Format.Currency).Precision(0).Currency("IDR"));
        columns.AddFor(m => m.AvgRealisasi).Caption("Rata-Rata Realisasi").Format(f => f.Type(Format.Currency).Precision(0).Currency("IDR"));
        columns.AddFor(m => m.Selisih).Caption("Selisih").Format(f => f.Type(Format.Currency).Precision(0).Currency("IDR"));
    })
)
</div>

