@model MonPDReborn.Models.AktivitasOP.PendataanObjekPajakVM.SubDetail

<div class="table-responsive">
    @if (Model.DataRestoranList != null && Model.DataRestoranList.Count > 0)
    {
        @(Html.DevExtreme().DataGrid<MonPDReborn.Models.AktivitasOP.PendataanObjekPajakVM.SubDetailRestoran>()
            .ID("gridRestoran")
            .DataSource(Model.DataRestoranList)
            .KeyExpr("NOP")
            .ShowBorders(true)
            .ShowColumnLines(true)
            .ShowColumnHeaders(true)
            .AllowColumnResizing(true)
            .ShowRowLines(true)
            .ColumnAutoWidth(true)
            .SearchPanel(s => s.Visible(true).HighlightCaseSensitive(false))
            .FilterRow(f => f.Visible(true))
            .HeaderFilter(h => h.Visible(true))
            .Sorting(s => s.Mode(GridSortingMode.Multiple))
            .Paging(p => p.PageSize(10))
            .Pager(pager =>
            {
                pager.ShowPageSizeSelector(true);
                pager.AllowedPageSizes(new[] { 10, 20, 50 });
                pager.ShowInfo(true);
            })
            .Columns(columns => {
                columns.AddFor(m => m.NamaHari)
                    .Caption("Hari")
                    .Format("ddd");
                columns.AddFor(m => m.Tgl)
                    .Caption("Tanggal")
                    .Format("dd MMM yyyy");
                columns.AddFor(m => m.NOP)
                    .Caption("NOP");
                columns.AddFor(m => m.ObjekPajak)
                    .Caption("Objek Pajak");
                columns.AddFor(m => m.Alamat)
                    .Caption("Alamat");
                columns.AddFor(m => m.JmlMeja)
                    .Format("#,##0")
                    .Caption("Jml Meja");
                columns.AddFor(m => m.JmlKursi)
                    .Format("#,##0")
                    .Caption("Jml Kursi");
                columns.AddFor(m => m.JmlPengunjung)
                    .Caption("Jml Pengunjung");
                columns.AddFor(m => m.Bill)
                    .Caption("Bill")
                    .Format("#,##0");
                columns.AddFor(m => m.RataPengunjung)
                    .Format("#,##0")
                    .Caption("Rata Pengunjung");
                columns.AddFor(m => m.RataBill)
                    .Caption("Rata Bill")
                    .Format("#,##0");
            })
        )
    }
    else if (Model.DataParkirList != null && Model.DataParkirList.Count > 0)
    {
        @(
            Html.DevExtreme().DataGrid < MonPDReborn.Models.AktivitasOP.PendataanObjekPajakVM.SubDetailParkir>()
             .ID("gridParkir")
            .DataSource(Model.DataParkirList)
            .KeyExpr("NOP")
            .ShowBorders(true)
            .ShowColumnLines(true)
            .ShowColumnHeaders(true)
            .AllowColumnResizing(true)
            .ShowRowLines(true)
            .ColumnAutoWidth(true)
            .SearchPanel(s => s.Visible(true).HighlightCaseSensitive(false))
            .FilterRow(f => f.Visible(true))
            .HeaderFilter(h => h.Visible(true))
            .Sorting(s => s.Mode(GridSortingMode.Multiple))
            .Paging(p => p.PageSize(10))
            .Pager(pager =>
            {
                pager.ShowPageSizeSelector(true);
                pager.AllowedPageSizes(new[] { 10, 20, 50 });
                pager.ShowInfo(true);
            })
            .Columns(columns => {
                columns.AddFor(m => m.NamaHari)
                    .Caption("Hari")
                    .Format("dddd");
                columns.AddFor(m => m.Tgl)
                    .Caption("Tanggal")
                    .Format("dd/MM/yyyy");
                columns.AddFor(m => m.NOP)
                    .Caption("NOP");
                columns.AddFor(m => m.ObjekPajak)
                    .Caption("Objek Pajak");
                columns.AddFor(m => m.Alamat)
                    .Caption("Alamat");
                columns.AddFor(m => m.JenisBiaya)
                    .Caption("Jenis Biaya");
                columns.AddFor(m => m.KapasitasMotor)
                    .Format("#,##0")
                    .Caption("Kapasitas Motor");
                columns.AddFor(m => m.KapasitasMobil)
                    .Format("#,##0")
                    .Caption("Kapasitas Mobil");
                columns.AddFor(m => m.JmlMotor)
                    .Format("#,##0")
                    .Caption("Jml Motor");
                columns.AddFor(m => m.JmlMobil)
                    .Format("#,##0")
                    .Caption("Jml Mobil");
                columns.AddFor(m => m.JmlMobilBox)
                    .Format("#,##0")
                    .Caption("Jml Mobil Box");
                columns.AddFor(m => m.JmlTruk)
                    .Format("#,##0")
                    .Caption("Jml Truk");
                columns.AddFor(m => m.JmlTrailer)
                    .Format("#,##0")
                    .Caption("Jml Trailer");
                columns.AddFor(m => m.EstMotor)
                    .Format("#,##0")
                    .Caption("Est Motor");
                columns.AddFor(m => m.EstMobil)
                    .Format("#,##0")
                    .Caption("Est Mobil");
                columns.AddFor(m => m.EstMobilBox)
                    .Format("#,##0")
                    .Caption("Est Mobil Box");
                columns.AddFor(m => m.EstTruk)
                    .Format("#,##0")
                    .Caption("Est Truk");
                columns.AddFor(m => m.EstTrailer)
                    .Format("#,##0")
                    .Caption("Est Trailer");
                columns.AddFor(m => m.TarifMotor)
                    .Caption("Tarif Motor")
                    .Format("#,##0");
                columns.AddFor(m => m.TarifMobil)
                    .Caption("Tarif Mobil")
                    .Format("#,##0");
                columns.AddFor(m => m.TarifMobilBox)
                    .Caption("Tarif Mobil Box")
                    .Format("#,##0");
                columns.AddFor(m => m.TarifTruk)
                    .Caption("Tarif Truk")
                    .Format("#,##0");
                columns.AddFor(m => m.TarifTrailer)
                    .Caption("Tarif Trailer")
                    .Format("#,##0");
            })
        )
    }
    else
    {
        <div class="alert alert-warning">
            Data tidak tersedia.
        </div>
    }
</div>
@* 
@if (Model.DataRestoranList.Count > 0)
{
    
}
else if (Model.DataParkirList.Count > 0)
{
    
}
else
{
    <div class="alert alert-warning">Data tidak tersedia</div>
} *@