@model MonPDReborn.Models.DataOP.PencarianOPVM.Show

<div class="table-responsive">
    

@(Html.DevExtreme().DataGrid<MonPDReborn.Models.DataOP.PencarianOPVM.DataPencarianOp>()
    .ID("gridRealisasiOP")
    .DataSource(Model.DataPencarianOpList)
    .KeyExpr("NOP")
    .ShowBorders(true)
    .ShowColumnHeaders(true)
    .ShowColumnLines(true)
    .ShowRowLines(true)
    .AllowColumnResizing(true)
    .ColumnAutoWidth(true)
        .SearchPanel(s => s.Visible(true).HighlightCaseSensitive(false))
        .FilterRow(f => f.Visible(true))
        .HeaderFilter(h => h.Visible(true))
        .Sorting(s => s.Mode(GridSortingMode.Multiple))
    .Paging(p => p.PageSize(10))
    .Pager(p => p
        .ShowPageSizeSelector(true)
        .AllowedPageSizes(new[] { 10, 20, 50 })
        .ShowInfo(true)
    )
    .Export(e => e.Enabled(true).AllowExportSelectedData(false).Formats(new[] { "xlsx", "pdf" }))
    .OnExporting("exportGrid")
    .NoDataText("Objek Pajak Tidak Ditemukan")
    .Columns(columns => {
        @* columns.AddFor(m => m.No).Caption("No").Width(50); *@
        columns.AddFor(m => m.Wilayah).Caption("Wilayah");
        columns.AddFor(m => m.NOP).Caption("NOP");
        columns.AddFor(m => m.StatusNOP).Caption("Status")
        .CellTemplate(
            @<text>
        <% if(data.StatusNOP == 'Tutup') { %>
        <h4>
            <span class="badge bg-danger"><%= data.StatusNOP %> - <%= data.Tahun %></span>
        </h4>
        <% } else { %>
        <h4>
            <span class="badge bg-success"><%= data.StatusNOP %></span>
        </h4>
        <% } %>

            </text>);
        columns.AddFor(m => m.Nama).Caption("Nama");
        columns.AddFor(m => m.Alamat).Caption("Alamat");
        columns.AddFor(m => m.JenisOp).Caption("Jenis OP");
        columns.AddFor(m => m.JenisPenarikan).Caption("Jenis Penarikan");
        columns.Add()
            .Caption("Aksi")
            .Type(GridCommandColumnType.Buttons)
            .Buttons(b =>
            {
                b.Add()
            .Text("Detail")
            .Icon("search")
            .OnClick("onDetailClick");
        });
    })
)
</div>