@model MonPDReborn.Models.DataOP.PotensiUploadVM.Index

<form asp-action="UploadExcel" asp-controller="PotensiUpload" method="post" enctype="multipart/form-data">
    <div class="mb-3">
        <label asp-for="FileExcel" class="form-label">Upload Excel</label>
        <input asp-for="FileExcel" type="file" class="form-control" required />
        <span asp-validation-for="FileExcel" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Upload</button>
</form>