@model MonPDReborn.Models.AktivitasOP.ReklameSummaryVM.DetailTerbatasKB

@{
    ViewData["Title"] = "Reklame Terbatas Ketetapan Baru";
    Layout = "_Layout";
}

<div class="row">

    <div class="col-lg-12">
        <div class="card">
            <div class="card-header d-flex">
                <div class="flex-grow-1">
                    <h4 class="card-title fs-16 mb-0">
                        Terbatas
                    </h4>
                </div>
            </div>
            <div class="card-body">
                <div class="flex-grow-1">
                    <h4 class="card-title fs-16 mb-2">
                        Kategori : Ketetapan Baru SKPD Belum Bayar
                    </h4>
                    <h4 class="card-title fs-16 mb-1">
                        Jenis : Terbatas
                    </h4>
                </div>
                <div class="table-responsive">
                    @(
                       Html.DevExtreme().DataGrid<MonPDReborn.Models.AktivitasOP.ReklameSummaryVM.TerbatasKB>()
                       .ID("terbatasReklameKBGrid")
                       .DataSource(Model.Data)
                       .ShowBorders(true)
                       .ShowColumnHeaders(true)
                       .ShowColumnLines(true)
                       .ShowRowLines(true)
                       .AllowColumnResizing(true)
                       .RowAlternationEnabled(true)
                       .ColumnAutoWidth(true)
                       .SearchPanel(s => s.Visible(true).HighlightCaseSensitive(false))
                       .FilterRow(f => f.Visible(true))
                       .HeaderFilter(h => h.Visible(true))
                       .Sorting(s => s.Mode(GridSortingMode.Multiple))
                       .Paging(p => p.PageSize(10))
                       .Pager(p => p
                       .ShowPageSizeSelector(true)
                       .AllowedPageSizes(new[] { 10, 20, 50 })
                       .ShowInfo(true)
                       )
                       .SearchPanel(sp => sp
                       .Visible(true)
                       .Width(240)
                       .Placeholder("Cari...")
                       )
                       .Columns(columns =>
                       {
                           columns.AddFor(m => m.NoFormulir).Caption("Nomor Formulir").Fixed(true);
                           columns.AddFor(m => m.Nama).Caption("Nama (Nama Perusahaan)").Fixed(true);
                           columns.AddFor(m => m.AlamatOP).Caption("Alamat OP");
                           columns.AddFor(m => m.IsiReklame).Caption("Isi Reklame");
                           columns.AddFor(m => m.Status).Caption("AKR Berlaku (Status)");
                           columns.AddFor(m => m.TahunPajak).Caption("Tahun Pajak");
                           columns.AddFor(m => m.JumlahNilai).Caption("Jumlah Nilai").Format("#,##0");
                           columns.AddFor(m => m.Email).Caption("Informasi Email");
                           columns.AddFor(m => m.JmlUpaya).Caption("Jumlah Upaya");
                                            columns.Add()
                                            .Type(GridCommandColumnType.Buttons)
                                            .Buttons(b =>
                                            {
                                                b.Add()
                                            .Text("Detail")
                                            .Icon("search")
                                            .OnClick("onDetailClick");
                                            });

                       })

                       )
                </div>
                <div class="modal fade" id="staticBackdropLargeScrollable" tabindex="-1" aria-labelledby="staticBackdropLargeScrollableLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg modal-dialog-scrollable">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title d-flex align-items-center">
                                    <i class="ri-building-3-fill fs-4 me-2"></i>
                                    <span>Detail Upaya</span>
                                </h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="text-center p-5">
                                    <div class="spinner-border text-primary"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>

@section Scripts
{
    <script>
               function onDetailClick(e) {
            const noFormulir = e.row.data.NoFormulir;

            const $modal = $('#staticBackdropLargeScrollable');
            const $title = $modal.find('.modal-title span');
            const $body = $modal.find('.modal-body');

            $("#loader").show(); // opsional: kalau pakai loader global
            $modal.modal('hide');

            $.ajax({
                url: '/ReklameSummary/Detail',
                type: 'GET',
                data: { noFormulir: noFormulir },
                success: function (response) {
                    $("#loader").hide();

                    if (response.Status === undefined) {
                        $title.text("Detail Reklame");
                        $body.html(response);
                        $modal.modal('show');
                    } else {
                        Swal.fire({
                            icon: 'warning',
                            title: '<b style="color:orange">Peringatan</b>',
                            text: response.Message
                        });
                    }
                },
                error: function () {
                    $("#loader").hide();
                    $title.text("Detail Reklame");
                    $body.html('<p class="text-danger">Terjadi kesalahan saat memuat data.</p>');
                    $modal.modal('show');
                },
                complete: function () {
                    $("#loader").hide();
                }
            });
        }


    </script>
}