@model MonPDReborn.Models.AktivitasOP.ReklameSummaryVM.Show

<div class="row">

    <div class="col-lg-12">
        <div class="card">
            <div class="card-header d-flex">
                <div class="flex-grow-1">
                    <h4 class="card-title fs-16 mb-0">
                        Permanen
                    </h4>
                </div>
            </div>
            <div class="card-body">
                @(
                    Html.DevExtreme().DataGrid<MonPDReborn.Models.AktivitasOP.ReklameSummaryVM.ReklamePermanen>()
                        .ID("permanenReklameGrid")
                        .DataSource(Model.ReklamePermanenList)
                        .ShowBorders(true)
                        .ShowColumnHeaders(true)
                        .ShowColumnLines(true)
                        .ShowRowLines(true)
                        .AllowColumnResizing(true)
                        .RowAlternationEnabled(true)
                        .ColumnAutoWidth(true)
                            .SearchPanel(s => s.Visible(true).HighlightCaseSensitive(false))
                            .FilterRow(f => f.Visible(true))
                            .HeaderFilter(h => h.Visible(true))
                            .Sorting(s => s.Mode(GridSortingMode.Multiple))
                        .Paging(p => p.PageSize(10))
                        .Pager(p => p
                            .ShowPageSizeSelector(true)
                            .AllowedPageSizes(new[] { 10, 20, 50 })
                            .ShowInfo(true)
                        )
                        .SearchPanel(sp => sp
                            .Visible(true)
                            .Width(240)
                            .Placeholder("Cari...")
                        )
                        .Columns(columns =>
                        {
                            columns.AddFor(m => m.Bulan).Caption("Bulan");
                            columns.Add().Caption("Jatuh Tempo").Alignment(HorizontalAlignment.Center).Columns(subColumns =>
                                {
                                    subColumns.AddFor(m => m.SKPDJT).Caption("SKPD");
                                    subColumns.AddFor(m => m.NilaiJT).Caption("Nilai").Format("#,##0");
                                    subColumns.AddFor(m => m.SKPDBlmJT)
                                                .Caption("SKPD Belum Bayar")
                                                .DataField("SKPDBlmJT")
                                                .CellTemplate(new JS("skpdPermanenJTCellTemplate"));
                                    subColumns.AddFor(m => m.NilaiBlmJT).Caption("Nilai Belum Bayar").Format("#,##0");
                                 });
                            columns.Add().Caption("Perpanjangan").Alignment(HorizontalAlignment.Center).Columns(subColumns =>
                                {
                                    subColumns.AddFor(m => m.SKPDPanjang).Caption("SKPD");
                                    subColumns.AddFor(m => m.NilaiPanjang).Caption("Nilai").Format("#,##0");
                                 });
                            columns.Add().Caption("Belum Perpanjang").Alignment(HorizontalAlignment.Center).Columns(subColumns =>
                                {
                                    subColumns.AddFor(m => m.SKPDBlmPanjang)
                                                .Caption("SKPD")
                                                .DataField("SKPDBlmPanjang")
                                                .CellTemplate(new JS("skpdPermanenBPCellTemplate"));
                                    subColumns.AddFor(m => m.NilaiBlmPanjang).Caption("Nilai").Format("#,##0");
                                 });
                            columns.Add().Caption("Ketetapan Baru").Alignment(HorizontalAlignment.Center).Columns(subColumns =>
                                {
                                    subColumns.AddFor(m => m.SKPDKB).Caption("SKPD");
                                    subColumns.AddFor(m => m.NilaiKB).Caption("Nilai").Format("#,##0");
                                    subColumns.AddFor(m => m.SKPDBlmKB)
                                                .Caption("SKPD Belum Bayar")
                                                .DataField("SKPDBlmKB")
                                                .CellTemplate(new JS("skpdPermanenKBCellTemplate"));
                                    subColumns.AddFor(m => m.NilaiBlmKB).Caption("Nilai Belum Bayar").Format("#,##0");
                                 });
                            columns.AddFor(m => m.Potensi).Caption("Total Potensi").Format("#,##0");
                            
                        })
                        .Summary(summary => {
                            summary.TotalItems(items =>
                            {
                                items.AddFor(m => m.Bulan)
                                     .SummaryType(SummaryType.Sum)
                                     .DisplayFormat("Total");
                                items.AddFor(m => m.SKPDJT)
                                     .SummaryType(SummaryType.Sum)
                                     .DisplayFormat("{0}");
                                items.AddFor(m => m.NilaiJT)
                                     .SummaryType(SummaryType.Sum)
                                     .DisplayFormat("{0}");
                                items.AddFor(m => m.SKPDBlmJT)
                                     .SummaryType(SummaryType.Sum)
                                     .DisplayFormat("{0}");
                                items.AddFor(m => m.NilaiBlmJT)
                                     .SummaryType(SummaryType.Sum)
                                     .DisplayFormat("{0}");
                                items.AddFor(m => m.SKPDPanjang)
                                     .SummaryType(SummaryType.Sum)
                                     .DisplayFormat("{0}");
                                items.AddFor(m => m.NilaiPanjang)
                                     .SummaryType(SummaryType.Sum)
                                     .DisplayFormat("{0}");
                                items.AddFor(m => m.SKPDBlmPanjang)
                                     .SummaryType(SummaryType.Sum)
                                     .DisplayFormat("{0}");
                                items.AddFor(m => m.NilaiBlmPanjang)
                                     .SummaryType(SummaryType.Sum)
                                     .DisplayFormat("{0}");
                                items.AddFor(m => m.SKPDKB)
                                     .SummaryType(SummaryType.Sum)
                                     .DisplayFormat("{0}");
                                items.AddFor(m => m.NilaiKB)
                                     .SummaryType(SummaryType.Sum)
                                     .DisplayFormat("{0}");
                                items.AddFor(m => m.SKPDBlmKB)
                                     .SummaryType(SummaryType.Sum)
                                     .DisplayFormat("{0}");
                                items.AddFor(m => m.NilaiBlmKB)
                                     .SummaryType(SummaryType.Sum)
                                     .DisplayFormat("{0}");
                                items.AddFor(m => m.Potensi)
                                     .SummaryType(SummaryType.Sum)
                                     .DisplayFormat("{0}");
                                
                            });
                        })
                    )
            </div>
        </div>
    </div>

    <div class="col-lg-12">
        <div class="card">
            <div class="card-header d-flex">
                <div class="flex-grow-1">
                    <h4 class="card-title fs-16 mb-0">
                        Terbatas
                    </h4>
                </div>
            </div>
            <div class="card-body">
                @(
                    Html.DevExtreme().DataGrid<MonPDReborn.Models.AktivitasOP.ReklameSummaryVM.TerbatasReklame>()
                        .ID("terbatasReklameGrid")
                        .DataSource(Model.TerbatasReklameList)
                        .ShowBorders(true)
                        .ShowColumnHeaders(true)
                        .ShowColumnLines(true)
                        .ShowRowLines(true)
                        .AllowColumnResizing(true)
                        .RowAlternationEnabled(true)
                        .ColumnAutoWidth(true)
                            .SearchPanel(s => s.Visible(true).HighlightCaseSensitive(false))
                            .FilterRow(f => f.Visible(true))
                            .HeaderFilter(h => h.Visible(true))
                            .Sorting(s => s.Mode(GridSortingMode.Multiple))
                        .Paging(p => p.PageSize(10))
                        .Pager(p => p
                            .ShowPageSizeSelector(true)
                            .AllowedPageSizes(new[] { 10, 20, 50 })
                            .ShowInfo(true)
                        )
                        .SearchPanel(sp => sp
                            .Visible(true)
                            .Width(240)
                            .Placeholder("Cari...")
                        )
                        .Columns(columns =>
                        {
                            columns.AddFor(m => m.Bulan).Caption("Bulan");
                            columns.Add().Caption("Jatuh Tempo").Alignment(HorizontalAlignment.Center).Columns(subColumns =>
                                {
                                    subColumns.AddFor(m => m.SKPDJT).Caption("SKPD");
                                    subColumns.AddFor(m => m.NilaiJT).Caption("Nilai").Format("#,##0");
                                    subColumns.AddFor(m => m.SKPDBlmJT)
                                                .Caption("SKPD Belum Bayar")
                                                .DataField("SKPDBlmJT")
                                                .CellTemplate(new JS("skpdTerbatasJTCellTemplate"));
                                    subColumns.AddFor(m => m.NilaiBlmJT).Caption("Nilai SKPD").Format("#,##0");
                                 });
                            columns.Add().Caption("Perpanjangan").Alignment(HorizontalAlignment.Center).Columns(subColumns =>
                                {
                                    subColumns.AddFor(m => m.SKPDPanjang).Caption("SKPD");
                                    subColumns.AddFor(m => m.NilaiPanjang).Caption("Nilai").Format("#,##0");
                                 });
                            columns.Add().Caption("Belum Perpanjang").Alignment(HorizontalAlignment.Center).Columns(subColumns =>
                                {
                                    subColumns.AddFor(m => m.SKPDBlmPanjang)
                                                .Caption("SKPD")
                                                .DataField("SKPDBlmPanjang")
                                                .CellTemplate(new JS("skpdTerbatasBPCellTemplate"));
                                    subColumns.AddFor(m => m.NilaiBlmPanjang).Caption("Nilai").Format("#,##0");
                                 });
                            columns.Add().Caption("Ketetapan Baru").Alignment(HorizontalAlignment.Center).Columns(subColumns =>
                                {
                                    subColumns.AddFor(m => m.SKPDKB).Caption("SKPD");
                                    subColumns.AddFor(m => m.NilaiKB).Caption("Nilai").Format("#,##0");
                                    subColumns.AddFor(m => m.SKPDBlmKB)
                                                .Caption("SKPD Belum Bayar")
                                                .DataField("SKPDBlmKB")
                                                .CellTemplate(new JS("skpdTerbatasKBCellTemplate"));
                                    subColumns.AddFor(m => m.NilaiBlmKB).Caption("Nilai Belum Bayar").Format("#,#0%");
                                 });
                            columns.AddFor(m => m.Potensi).Caption("Total Potensi").Format("#,##0");
                            
                        })
                        .Summary(summary => {
                            summary.TotalItems(items =>
                            {
                                items.AddFor(m => m.Bulan)
                                     .SummaryType(SummaryType.Sum)
                                     .DisplayFormat("Total");
                                items.AddFor(m => m.SKPDJT)
                                     .SummaryType(SummaryType.Sum)
                                     .DisplayFormat("{0}");
                                items.AddFor(m => m.NilaiJT)
                                     .SummaryType(SummaryType.Sum)
                                     .DisplayFormat("{0}");
                                items.AddFor(m => m.SKPDBlmJT)
                                     .SummaryType(SummaryType.Sum)
                                     .DisplayFormat("{0}");
                                items.AddFor(m => m.NilaiBlmJT)
                                     .SummaryType(SummaryType.Sum)
                                     .DisplayFormat("{0}");
                                items.AddFor(m => m.SKPDPanjang)
                                     .SummaryType(SummaryType.Sum)
                                     .DisplayFormat("{0}");
                                items.AddFor(m => m.NilaiPanjang)
                                     .SummaryType(SummaryType.Sum)
                                     .DisplayFormat("{0}");
                                items.AddFor(m => m.SKPDBlmPanjang)
                                     .SummaryType(SummaryType.Sum)
                                     .DisplayFormat("{0}");
                                items.AddFor(m => m.NilaiBlmPanjang)
                                     .SummaryType(SummaryType.Sum)
                                     .DisplayFormat("{0}");
                                items.AddFor(m => m.SKPDKB)
                                     .SummaryType(SummaryType.Sum)
                                     .DisplayFormat("{0}");
                                items.AddFor(m => m.NilaiKB)
                                     .SummaryType(SummaryType.Sum)
                                     .DisplayFormat("{0}");
                                items.AddFor(m => m.SKPDBlmKB)
                                     .SummaryType(SummaryType.Sum)
                                     .DisplayFormat("{0}");
                                items.AddFor(m => m.NilaiBlmKB)
                                     .SummaryType(SummaryType.Sum)
                                     .DisplayFormat("{0}");
                                items.AddFor(m => m.Potensi)
                                     .SummaryType(SummaryType.Sum)
                                     .DisplayFormat("{0}");
                                
                            });
                        })
                    )
            </div>
        </div>
    </div>

    <div class="col-lg-12">
        <div class="card">
            <div class="card-header d-flex">
                <div class="flex-grow-1">
                    <h4 class="card-title fs-16 mb-0">
                        Isidentil
                    </h4>
                </div>
            </div>
            <div class="card-body">
                @(
                    Html.DevExtreme().DataGrid<MonPDReborn.Models.AktivitasOP.ReklameSummaryVM.IsidentilReklame>()
                        .ID("isidentilReklameGrid")
                        .DataSource(Model.IsidentilReklameList)
                        .ShowBorders(true)
                        .ShowColumnHeaders(true)
                        .ShowColumnLines(true)
                        .ShowRowLines(true)
                        .AllowColumnResizing(true)
                        .RowAlternationEnabled(true)
                        .ColumnAutoWidth(true)
                            .SearchPanel(s => s.Visible(true).HighlightCaseSensitive(false))
                            .FilterRow(f => f.Visible(true))
                            .HeaderFilter(h => h.Visible(true))
                            .Sorting(s => s.Mode(GridSortingMode.Multiple))
                        .Paging(p => p.PageSize(10))
                        .Pager(p => p
                            .ShowPageSizeSelector(true)
                            .AllowedPageSizes(new[] { 10, 20, 50 })
                            .ShowInfo(true)
                        )
                        .SearchPanel(sp => sp
                            .Visible(true)
                            .Width(240)
                            .Placeholder("Cari...")
                        )
                        .Columns(columns =>
                        {
                            columns.AddFor(m => m.Bulan).Caption("Bulan");
                            columns.Add().Caption("Ketetapan Baru").Alignment(HorizontalAlignment.Center).Columns(subColumns =>
                                {
                                    subColumns.AddFor(m => m.SKPDKB).Caption("SKPD");
                                    subColumns.AddFor(m => m.NilaiKB).Caption("Nilai").Format("#,##0");
                                    subColumns.AddFor(m => m.SKPDBlmKB)
                                                .Caption("SKPD Belum Bayar")
                                                .DataField("SKPDBlmKB")
                                                .CellTemplate(new JS("skpdKBCellTemplate"));
                                    subColumns.AddFor(m => m.NilaiBlmKB).Caption("Nilai Belum Bayar").Format("#,#0%");
                                 });
                            columns.AddFor(m => m.Potensi).Caption("Total Potensi").Format("#,##0");
                            
                        })
                        .Summary(summary => {
                            summary.TotalItems(items =>
                            {
                                items.AddFor(m => m.Bulan)
                                     .SummaryType(SummaryType.Sum)
                                     .DisplayFormat("Total");
                                items.AddFor(m => m.SKPDKB)
                                     .SummaryType(SummaryType.Sum)
                                     .DisplayFormat("{0}");
                                items.AddFor(m => m.NilaiKB)
                                     .SummaryType(SummaryType.Sum)
                                     .DisplayFormat("{0}");
                                items.AddFor(m => m.SKPDBlmKB)
                                     .SummaryType(SummaryType.Sum)
                                     .DisplayFormat("{0}");
                                items.AddFor(m => m.NilaiBlmKB)
                                     .SummaryType(SummaryType.Sum)
                                     .DisplayFormat("{0}");
                                items.AddFor(m => m.Potensi)
                                     .SummaryType(SummaryType.Sum)
                                     .DisplayFormat("{0}");
                                
                            });
                        })
                    )
            </div>
        </div>
    </div>

</div>