@using static MonPDReborn.Models.KontrolPBB.StrategicViewVM.ViewModels
@model MonPDReborn.Models.KontrolPBB.StrategicViewVM.ShowCapaian


<div class="table-responsive">
    @(Html.DevExtreme().DataGrid<CapaianKomprehensif>()
        .ID("capaianKomprehensifViewGrid")
        .DataSource(Model.Data)
        .ShowBorders(true)
        .ShowColumnLines(true)
        .RowAlternationEnabled(true)
        .ShowRowLines(true)
        .ShowColumnHeaders(true)
        .ColumnAutoWidth(true)
        .Paging(p => p.PageSize(10))
        .Pager(p => p
        .ShowPageSizeSelector(true)
        .AllowedPageSizes(new[] { 5, 10, 20 })
        .ShowInfo(true)
        )
        .Columns(columns =>
        {
            columns.AddFor(m => m.Komponen).Caption("Komponen");
            columns.AddFor(m => m.JmlObjek).Caption("Jumlah Objek").Format("#,##0");
            columns.AddFor(m => m.TargetNow).Caption("Target Tahun Ini").Format("#,##0");
            columns.AddFor(m => m.PersenTarget).Caption("Persen Target").Format("#,#0%");
            columns.AddFor(m => m.RealisasiNow).Caption("Realisasi Tahun Ini").Format("#,##0");
            columns.AddFor(m => m.Selisih).Caption("Selisih").Format("#,##0");
            columns.AddFor(m => m.Pencapaian).Caption("%").Format("#,#0%");
            columns.AddFor(m => m.Prediksi).Caption("Prediksi s.d Des").Format("#,##0");
            columns.AddFor(m => m.PersenPrediksi).Caption("Capaian Prediksi").Format("#,#0%");

        })
        .Summary(summary =>
        {
            summary.TotalItems(items =>
            {
                items.AddFor(m => m.Komponen)
            .SummaryType(SummaryType.Sum)
            .ValueFormat("#,##0")
            .DisplayFormat("Total");

                items.AddFor(m => m.JmlObjek)
            .SummaryType(SummaryType.Sum)
            .ValueFormat("#,##0")
            .DisplayFormat("{0}");

                items.AddFor(m => m.TargetNow)
            .SummaryType(SummaryType.Sum)
            .ValueFormat("#,##0")
            .DisplayFormat("{0}");

                items.AddFor(m => m.PersenTarget)
            .SummaryType(SummaryType.Avg)
            .ValueFormat("#,#0%")
            .DisplayFormat("{0}");

                items.AddFor(m => m.RealisasiNow)
            .SummaryType(SummaryType.Sum)
            .ValueFormat("#,##0")
            .DisplayFormat("{0}");

                items.AddFor(m => m.Selisih)
            .SummaryType(SummaryType.Sum)
            .ValueFormat("#,##0")
            .DisplayFormat("{0}");

                items.AddFor(m => m.Pencapaian)
            .SummaryType(SummaryType.Avg)
            .ValueFormat("#,#0%")
            .DisplayFormat("{0}");

                items.AddFor(m => m.Prediksi)
            .SummaryType(SummaryType.Sum)
            .ValueFormat("#,##0")
            .DisplayFormat("{0}");

                items.AddFor(m => m.PersenPrediksi)
            .SummaryType(SummaryType.Avg)
            .ValueFormat("#,#0%")
            .DisplayFormat("{0}");
            });
        })
        )
        
</div>